﻿@using Edge.Data.DataSet.Login
@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers
@model dynamic

@{
    StaffUserManagementController.StaffUserModel[] users = ViewBag.Users;
}

<!DOCTYPE html>

<html>
    <head>
        <title>運営ユーザー管理</title>       
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $("h2").click(function() {
                    var id = $(this).attr("id");
                    console.log(id);
                    $("#" + id + "_data").toggle(700);
                });

                $("#deleteAll").click(function() {
                    var status = $("#deleteAll").prop("checked");
                    console.log(status);
                    var checkboxies = $(".deleteTarget");
                    for (var i = 0; i < checkboxies.length; i++) {
                        checkboxies[i].checked = status;
                    }
                    
                });
            });
        </script>
        <style type="text/css">
            table {
                color: #ffffff;
                font-weight: bold;
            }
            tr:nth-child(odd) {
                background: #008080;
            }
            tr:nth-child(even) {
                background: #006464;
            }
            td, th {
                padding: 2px;
            }
            th {
                background-color: #004040;
            }
            td a {
                color: #ffff00;
            }
            .num {
                text-align: right;
            }
            .progress {
                text-align: center;
            }
            #ControllBox {
                border: 1px solid #808080;
                border-radius: 6px 6px;
                background-color: #C0C0C0;
                color: #000;
                padding: 1em;
                margin: 2em;
                width: 400px;
            }
            .navi_box {
                position: fixed;
                display: inline-block;
                right: 10px;
                top: 10px;
                background-color: #8080ff;
                padding: 4px;
            }
            .navi_box a {
                text-decoration: none;
                font-weight: bold;
                font-size: 12px;
                color: #202060;
            }
            .alertMessage {
                font-size: large;
                font-weight: bold;
                color: #ff0000;
                padding: 2px;
                margin: 1em 0;
                border: 3px double #ff0000;
            }
            .button {
                padding: 3px 1em;
                border: 1px solid #202020;
                border-radius: 5px 5px;
                background: -webkit-gradient(linear, left top, left bottom, from(#C0C0C0), to(#808080));
                color: #000000;
                text-decoration: none;
                font-size: large;
                font-weight: bold;
                margin: 1em 0;
            }
        </style>
    </head>
    <body>
        <div>
            <h2 id="RegisterUser">ユーザー追加</h2>
            <div id="RegisterUser_data">
                @using (Html.BeginForm("AddUser", "StaffUserManagement", FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    <table>
                        <tr>
                            <th>
                                <select name="KeyType">
                                    <option value="0"@(ViewBag.KeyType == "0" ? " selected" : "")>UserId</option>
                                    <option value="1"@(ViewBag.KeyType == "1" ? " selected" : "")>InviteCode</option>
                                </select>
                            </th>
                            <th>Name</th>
                        </tr>
                        <tr>
                            <td><input type="text" name="InputValue" value="" size="8" maxlength="8"/></td>
                            <td><input type="text" name="Name" value="" size="20" maxlength="20"/></td>
                        </tr>
                    </table>
                    <div>
                        <input type="submit" class="button" value="登録"/>
                    </div>
                
                } 
                @if (ViewBag.Message != null)
                {
                    <div class="alertMessage">
                        @ViewBag.Message
                    </div>
                }
            </div>
            <h2 id="RegisteredUserList">登録済みユーザー一覧</h2>
            @using (Html.BeginForm("Delete", "StaffUserManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <table id="RegisteredUserList_data">
                    <tr>
                        <th><input type="checkbox" name="deleteAll" id="deleteAll" /></th>
                        <th>UserId</th>
                        <th>Name</th>
                        <th>NickName</th>
                        <th>TeamName</th>
                        <th>InviteCode</th>
                    </tr>
                    @foreach (var user in users)
                    {
                        <tr>
                            <td><input type="checkbox" name="del-userId" class="deleteTarget" value="@user.UserId" /></td>
                            <td>@user.UserId</td>
                            <td>@user.Name</td>
                            <td>@user.NickName</td>
                            <td>@user.TeamName</td>
                            <td>@user.InviteCode</td>
                        </tr>
                    }
                </table>
                <div id="Bottom">
                    <input type="submit" class="button" value="削除"/>
                    <div class="alertMessage">
                        ※この画面上からは削除されますが、APサーバのキャッシュ上からは削除されないので作業終了後、タッチが必要です。
                    </div>
                </div>
            }
        </div>
    </body>
</html>
