﻿@using Inazuma.Core.Common
@model dynamic

<style type="text/css">
    .center {
        text-align: center;
    }
</style>
<h2>ポータルサイトお知らせ管理</h2>

<form method="POST" action="/operation/PortalNews/Commit">
    @{ var row = ViewBag.News; }
    <table>
        <tr>
            <th>NewsId</th>
            <td>@row.NewsId</td>
        </tr>
        <tr>
            <th>DisplayFrom</th>
            <td>@row.DisplayFrom</td>
        </tr>
        <tr>
            <th>DisplayTo</th>
            <td>@row.DisplayTo</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>@row.Title</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@(new HtmlString(row.Description))</td>
        </tr>
        <tr>
            <th>TargetDevice</th>
            <td>@((InazumaCode.TargetDevice)row.TargetDevice)</td>
        </tr>
        <tr>
            <th>NewsType</th>
            <td>@((InazumaCode.NewsTypeForPortal)row.NewsType)</td>
        </tr>
        <tr>
            <th>TargetMediaType</th>
            <td>@((InazumaCode.TargetMediaForPortal)row.TargetMediaType)</td>
        </tr>
    </table>

    <input type="hidden" name="NewsId" value="@row.NewsId" />
    <input type="hidden" name="DisplayFrom" value="@row.DisplayFrom" />
    <input type="hidden" name="DisplayTo" value="@row.DisplayTo" />
    <input type="hidden" name="Title" value="@row.Title" />
    <input type="hidden" name="Description" value="@row.Description" />
    <input type="hidden" name="TargetDevice" value="@(row.TargetDevice)" />
    <input type="hidden" name="NewsType" value="@(row.NewsType)" />
    <input type="hidden" name="TargetMediaType" value="@(row.TargetMediaType)"/>
    
    <input type="button" class="button" value="戻る" onclick="location.href = 'Index'"/>
    <input type="submit" class="button" value="更新" />
</form>

    