﻿@using Fango.Core.Util
@using Inazuma.Core.Common
@using Inazuma.Core.ViewModel.Portal
@using System;

<style type="text/css">
    .center {
        text-align: center;
    }
</style>
<script type="text/javascript">
    
</script>
<h2>ポータルサイトお知らせ管理</h2>

<div>
    <form method="POST" action="/operation/PortalNews/EditConfirm">
        @{
            PortalNewsViewModel row;
            Edge.Data.General.DataSet.PortalDataSet.PortalNewsMasterRow existingRow;
            if (ViewBag.News != null)
            {
                row = new PortalNewsViewModel(ViewBag.News);
            }
            else
            {
                row = new PortalNewsViewModel();
                var now = DateUtil.GetDateTimeOffsetNow();
                row.DisplayFrom = new DateTimeOffset(now.Year, now.Month, now.Day, 0, 0, 0, DateUtil.Offset);
            }

            var values = new List<string>();
            foreach (InazumaCode.TargetDevice value in Enum.GetValues(typeof (InazumaCode.TargetDevice)))
            {
                values.Add(string.Format("<option value=\"{0}\"{2}>{1}</option>", (int) value, value.GetValue<string>(), (int) value == row.TargetDevice ? " selected" : ""));
            }

            var targetDeviceSelectTag =
                string.Format(
                    "<select name=\"{0}\">{1}</select>",
                    "TargetDevice",
                    string.Join("", values));

            values = new List<string>();
            foreach (InazumaCode.NewsTypeForPortal value in Enum.GetValues(typeof (InazumaCode.NewsTypeForPortal)))
            {
                values.Add(string.Format("<option value=\"{0}\"{2}>{1}</option>", (int) value, value, (int) value == row.NewsType ? " selected" : ""));
            }

            var newsTypeSelectTag =
                string.Format(
                    "<select name=\"{0}\">{1}</select>",
                    "NewsType",
                    string.Join("", values));

            values = new List<string>();
            foreach (InazumaCode.TargetMediaForPortal value in Enum.GetValues(typeof (InazumaCode.TargetMediaForPortal)))
            {
                values.Add(string.Format("<option value=\"{0}\"{2}>{1}</option>", (int) value, value, (int) value == row.TargetMediaType ? " selected" : ""));
            }

            var targetMediaSelectTag =
                string.Format(
                    "<select name=\"{0}\">{1}</select>",
                    "TargetMediaType",
                    string.Join("", values));
        }    
        <table>
            <tr>
                <th>NewsId</th>
                <td><input type="text" name="NewsId" value="@row.NewsId" /></td>
            </tr>
            <tr>
                <th>DisplayFrom</th>
                <td><input type="text" name="DisplayFrom" value="@row.DisplayFrom" /></td>
            </tr>
            <tr>
                <th>DisplayTo</th>
                <td><input type="text" name="DisplayTo" value="@(row.DisplayTo.HasValue ? row.DisplayTo.Value.ToString() : "")" /></td>
            </tr>
            <tr>
                <th>Title</th>
                <td><input type="text" name="Title" value="@row.Title" /></td>
            </tr>
            <tr>
                <th>Description</th>
                <td><textarea name="Description" rows="5">@row.Description</textarea> </td>
            </tr>
            <tr>
                <th>TargetDevice</th>
                <td>@(new HtmlString(targetDeviceSelectTag))</td>
            </tr>
            <tr>
                <th>NewsType</th>
                <td>@(new HtmlString(newsTypeSelectTag))</td>
            </tr>
            <tr>
                <th>TargetMediaType</th>
                <td>@(new HtmlString(targetMediaSelectTag))</td>
            </tr>
        </table>
        
        <input type="button" class="button" onclick="location.href = 'Index';" value="戻る" />
        <input type="submit" class="button" value="更新" />
    </Form>
</div>


