﻿@using Inazuma.Core.Common
@model Inazuma.Web.AdminWebRole.Areas.Operation.Models.PortalNewsManagementViewModel

@{
    var all = Model.Type != 1;
    var publish = Model.Type != 2;
    var unPublish = Model.Type != 3;
}


<title>ポータルサイトお知らせ管理</title>
<style type="text/css">
    th {
        text-align: center;
        background-color: aquamarine;
    }
    .number {
        text-align: right;
    }
    .date {
         width: 150px;
    }
    .no-wrap {
        white-space: pre;
    }
    .icon {
         width:18px;
         height:18px;
         margin-right:5px;
         float:left;
         background-color: blue;
         color: white;
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         border-radius: 5px;
    }
    .center {
        text-align: center;
    }
</style> 
@section scripts{
    <script type="text/javascript">

        $('.edit_button').click((function() {
            window.location = "/operation/PortalNews/EditNews?id=" + $(this).attr("id");
        }));

        $('#newButton').click((function() {
            window.location = "/operation/PortalNews/EditNews?id=0";
        }));

        $('#jsonButton').click(function() {
            window.location = "/operation/PortalNews/DownLoadJson";
        });

        $('#timeButton').click((function() {
            window.location = "/operation/PortalNews/index?type=1&sortdir=DESC&time=" + $('#time').val();
        }));

        $('#timeResetButton').click((function() {
            window.location = "/operation/PortalNews/index?type=1&sortdir=DESC";
        }));
    </script>
}
         
<div>
<input type="button" value="新規作成" id="newButton"/><input type="button" value="JSON出力" id="jsonButton"/>
</div>

    <br />
@if (@all)
{
    <span>[<a href="/operation/PortalNews/index?type=1&sortdir=DESC" style="color: deepskyblue">全て</a> |</span>
}
else
{
    <span>[全て |</span>
}
@if(@publish)
{
    <span> <a href="/operation/PortalNews/index?type=2" style="color: deepskyblue">掲載中</a> |</span>
}
else
{
    <span> 掲載中 |</span>
}
@if (@unPublish)
{
    <span> <a href="/operation/PortalNews/index?type=3" style="color: deepskyblue">掲載終了</a>]</span>
}
else
{
    <span> 掲載終了]</span>
}

<div>
    <span style="text-align: center" class='icon'>I</span>iOS<br/>
    <span style="text-align: center" class='icon'>A</span>Android
</div>


@if (!@all) {
<table>
    <tbody>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;時間指定</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                <input type="text" id="time" maxlength="19" style="width: 500px" value="@Model.Time"/><br />
                <span>ex.)&nbsp;@Model.Now</span>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <input type="button" value="指定した時間で絞込み" id="timeButton"/>
    <input type="button" value="絞込み解除" id="timeResetButton"/>
</div>
}
<br />
            
<table>
    <tr>
        <th></th>
        <th>NewsId</th>
        <th class="date">DisplayFrom</th>
        <th class="date">DisplayTo</th>
        <th>Title</th>
        <th>Description</th>
        <th class="no-wrap">対象となるOS</th>
        <th>NewsType</th>
        <th class="no-wrap">掲載メディア</th>
    </tr>
    @foreach (var row in Model.NewsList)
    {
        var targetDevice = (InazumaCode.TargetDevice)row.TargetDevice;
        var newsType = (InazumaCode.NewsTypeForPortal)row.NewsType;
        var targetMediaType = (InazumaCode.TargetMediaForPortal)row.TargetMediaType;
        <tr>
            <td class="center"><input type="button" id="@row.NewsId" class="edit_button" value="編集"/></td>
            <td class="number">@row.NewsId</td>
            <td class="date">@row.DisplayFrom.ToString("yyyy/MM/dd HH:mm:ss")</td>
            <td class="date">@(row.IsDisplayToNull() ? "" : row.DisplayTo.ToString("yyyy/MM/dd HH:mm:ss"))</td>
            <td>@row.Title</td>
            <td>@row.Description</td>
            <td class="center">@targetDevice</td>
            <td class="center">@newsType</td>
            <td class="center">@targetMediaType</td>
        </tr>
    }
</table>



