﻿@using Edge.Data.General.DataSet
@using ServiceStack.Text
@model dynamic

@{
    ViewBag.Title = "ユーザー情報検索";
}

<style>
    .listdata {
        display: inline-block;
        width: 1600px;
        margin: 5px;
        vertical-align: top;
    }
    .listdata ul {
        margin: 0px;
        padding: 0px;
    }
    .listdata li {
        list-style-type: none;
        padding: 1px 4px;
    }
    .listdata li:nth-child(odd) {
        background: lightgrey;
    }
    .listdata li:nth-child(even) {
        background:lightcyan
    }
    .veryLongSpan {
        display: inline-block;
        width: 200px; 
    }
    .longSpan {
        display: inline-block;
        width: 150px; 
    }
    .normalSpan {
        display: inline-block;
        width: 100px; 
    }
    .shortSpan {
        display: inline-block;
        width: 80px; 
    }
    .veryShortSpan {
        display: inline-block;
        width: 50px; 
    }
    #navigator-container {
        display: block;
        position: fixed;
        bottom: 1em;
        left: 1em;
        background-color: darkseagreen;
        text-align: left;
    }
    #navigator-container input{
        text-align: center;
    }
    #navigator-box {
        display: none;
    }
    #navigator-box a {
        display: block;
        color: darkslategray;
        padding: 2px;
        font-size: 10pt;
    }
</style>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var baseUrl = "/operation/userinfo";
            $("#search_btn").click(function () {
                var inviteCode = $("#inviteCode").val();

                if (inviteCode) {
                    location.href = baseUrl + "?inviteCode=" + inviteCode + "&format=normal";
                }
            });
            $("#search_btn2").click(function () {
                var userId = $("#UserId").val();

                if (userId) {
                    location.href = baseUrl + "?userId=" + userId + "&format=normal";
                }
            });
        });
        $("#export").on("click", function () {
            var baseUrl = "/operation/userinfo";
            var inviteCode = $("#inviteCode").val();

            if (inviteCode) {
                location.href = baseUrl + "?inviteCode=" + inviteCode + "&format=csv";
            }
        });
        $("#ClearPay").on("click", function () {
            var baseUrl = "/operation/userinfo";

            var inviteCode = $("#inviteCode").val();

            if (inviteCode) {
                location.href = baseUrl + "?inviteCode=" + inviteCode + "&needClear=true";
            }
        });
        $("#tPay").on("click", function () {
            $("#pay").toggle(700);
        });
        $("#tCard").on("click", function () {
            $("#card").toggle(700);
        });
        $("#tMix").on("click", function () {
            $("#mix").toggle(700);
        });
        $("#tSell").on("click", function () {
            $("#sell").toggle(700);
        });
        $("#tRental").on("click", function () {
            $("#rental").toggle(700);
        });
        $("#tKGacha").on("click", function () {
            $("#kGacha").toggle(700);
        });
        $("#tNGacha").on("click", function () {
            $("#nGacha").toggle(700);
        });
        $("#tTGacha").on("click", function () {
            $("#tGacha").toggle(700);
        });
        $("#tUnReadGift").on("click", function () {
            $("#unReadGift").toggle(700);
        });
        $("#tGift").on("click", function () {
            $("#gift").toggle(700);
        });
        $("#tGiftErr").on("click", function () {
            $("#giftErr").toggle(700);
        });
        $("#tHasItem").on("click", function () {
            $("#hasItem").toggle(700);
        });
        $("#tBuyItem").on("click", function () {
            $("#buyItem").toggle(700);
        });
        $("#tUseItem").on("click", function () {
            $("#useItem").toggle(700);
        });
        $("#tSponsor").on("click", function () {
            $("#sponsor").toggle(700);
        });
        $("#tscoutHistory").on("click", function () {
            $("#scoutHistory").toggle(700);
        });
        $("#tuserEvent").on("click", function () {
            $("#userEvent").toggle(700);
        });
        $("#tNavigator").click(function() {
            $("#navigator-box").toggle(700);
        });
    </script>
}

<h2 id="Top">@ViewBag.Title</h2>
<span>招待コード&nbsp;</span>
<input type="text" id="inviteCode" size="10" value="@ViewBag.InviteCode" style="width: 100px"/> 
<input type="submit" id="search_btn" value="検索"/>&nbsp;&nbsp;
<span>UserId&nbsp;</span>
<input type="text" id="UserId" size="10" value="@ViewBag.UserId" style="width: 100px"/> 
<input type="submit" id="search_btn2" value="検索"/>

@if (ViewBag.User != null)
{
    <div>結果</div><input type="button" id="export" value="CSVモードで表示">
    <div>UserId: <b>@ViewBag.User.UserId</b></div>
    <div>ニックネーム: @ViewBag.User.NickName</div>
    <div>チーム名: @ViewBag.User.TeamName</div>
    <div>監督Lv: @ViewBag.User.Level</div>
    <div>登録日時: @ViewBag.User.AddTime</div>
    <div>所持チケット数: @ViewBag.UserTicket.HasNum</div>
    <div>現在の行動pt: @ViewBag.UserStatus.ActionPoint</div>
    <div>最大行動pt: @ViewBag.UserStatus.MaxActionPoint</div>
    <div>現在の試合pt: @ViewBag.UserStatus.GamePoint</div>
    <div>最大試合pt: @ViewBag.UserStatus.MaxGamePoint</div>
    <div>所持名声pt: @ViewBag.UserStatus.FamePoint</div>
    <div>サポーター数: @ViewBag.UserStatus.SupporterNum</div>
    <div>最大運営pt: @ViewBag.UserStatus.MaxCostPoint</div>
    <div>総購入コイン: @ViewBag.TotalBuyCoin</div>
    <div>おまけで取得したコイン: @ViewBag.OmakeCoin</div>
    <div>ギフト取得コイン: @ViewBag.GiftCoin</div>
    <div>所持コイン: @ViewBag.UserCoin.Coin</div>
    <div>ガチャ使用コイン:@ViewBag.GachaCoin</div>
    <div>ショップ使用コイン:@ViewBag.ShopCoin</div>
    <div>スカウト使用コイン:@ViewBag.ScoutCoin</div>
    <div>イベント使用コイン:@ViewBag.EventCoin</div>
    <div>デバイス:@ViewBag.Device</div>
    <br />
    
    <!--//--------------------課金履歴-->
    if (ViewBag.IsCleared)
    {
        <span style="color: red">決済処理状態を解除しました。</span>
    }
    if (ViewBag.RemainPayment)
    {
        <span style="color: red">決済処理中のデータが存在します。</span>
        <input type="button" id="ClearPay" value="決済処理状態解除" />
    }
    <br />
    <div class="listdata">
        <h3 id="BillingHistory">課金履歴</h3>
            @if (@ViewBag.IsCsv)
            {
                <div>
                    ReceiptStatus
                    ,Status
                    ,Coin
                    ,課金日時
                </div>
                foreach (var tmp in @ViewBag.AppPayment)
                {
                    <div>
                        @tmp.ReceiptStatus
                        ,@tmp.Status
                        ,@tmp.Coin
                        ,@tmp.AddTime.ToString("yyyy/MM/dd HH:mm")
                    </div>
                }
            }
            else
            {
                <input type="button" id="tPay" value="表示切替">
                <ul id="pay">
                    <li>
                        <span class="shortSpan">ReceiptStatus</span>
                        <span class="shortSpan">Status</span>
                        <span class="veryShortSpan">Coin</span>
                        <span class="veryLongSpan">課金日時</span>
                    </li>
                    @foreach (var tmp in @ViewBag.AppPayment)
                    {
                        <li>
                            @if (tmp is AppPaymentDataSet.AppPaymentRow)
                            {
                                <span class="shortSpan">[@tmp.ReceiptStatus]</span>
                            }
                            <span class="shortSpan">[@tmp.Status]</span>
                            <span class="veryShortSpan">[@tmp.Coin]</span>
                            <span class="veryLongSpan">[@tmp.AddTime.ToString("yyyy/MM/dd HH:mm")]</span>
                        </li>
                    }
                </ul>
            }
     </div>
    
    <!--//--------------------カード関係-->
    <div class="listdata">
        <h3 id="HasCardList">所持カード一覧</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                    UserCardId
                    ,CardId
                    ,Name
                    ,Rank
                    ,Rent
                    ,RNum
                    ,Level
                    ,MaxLevel
                    ,GetDate
                </div>
                foreach (var tmp in @ViewBag.UserCardList)
                {
                    <div>
                        @tmp.UserCardId
                        ,@tmp.CardId
                        ,@tmp.PlayerName
                        ,@tmp.Rank
                        ,@tmp.Rent
                        ,@tmp.RentNum
                        ,@tmp.Level
                        ,@tmp.MaxLevel
                        ,@tmp.GetDate
                    </div>
                }
            }
            else
            {
                <input type="button" id="tCard" value="表示切替">
                <ul id="card">
                    <li>
                        <span class="shortSpan">UserCardId</span>
                        <span class="shortSpan">CardId</span>
                        <span class="veryLongSpan">Name</span>
                        <span class="veryShortSpan">Rank</span>
                        <span class="veryShortSpan">Rent</span>
                        <span class="veryShortSpan">RNum</span>
                        <span class="veryShortSpan">Level</span>
                        <span class="shortSpan">MaxLevel</span>
                        <span class="longSpan">GetDate</span>
                    </li>
                @foreach (var tmp in @ViewBag.UserCardList)
                {
                    <li>
                        <span class="shortSpan">[@tmp.UserCardId]</span>
                        <span class="shortSpan">[@tmp.CardId]</span>
                        <span class="veryLongSpan">[@tmp.PlayerName]</span>
                        <span class="veryShortSpan">[@tmp.Rank]</span>
                        <span class="veryShortSpan">[@tmp.Rent]</span>
                        <span class="veryShortSpan">[@tmp.RentNum]</span>
                        <span class="veryShortSpan">[@tmp.Level]</span>
                        <span class="shortSpan">[@tmp.MaxLevel]</span>
                        <span class="longSpan">[@tmp.GetDate]</span>
                    </li>
                }
                </ul>
            }
    </div>
    <div class="listdata">
        <h3 id="ReinforceHistory">強化履歴</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                    BUserCardId
                    ,BCardId
                    ,BPlayerName
                    ,BRank
                    ,SUserCardId
                    ,SCardId
                    ,SPlayerName
                    ,SRank
                    ,SLevel
                    ,SGetDate
                    ,BLevel
                    ,ALevel
                    ,BExp
                    ,AExp
                    ,MixDate
                </div>
                foreach (var tmp in @ViewBag.MixHistoryList)
                {
                 <div>
                     @tmp.BaseUserCard.UserCardId
                     ,@tmp.BaseUserCard.CardId
                     ,@tmp.BaseUserCard.PlayerName
                     ,@tmp.BaseUserCard.Rank
                     ,@tmp.SubUserCard.UserCardId
                     ,@tmp.SubUserCard.CardId
                     ,@tmp.SubUserCard.PlayerName
                     ,@tmp.SubUserCard.Rank
                     ,@tmp.SubUserCard.Level
                     ,@tmp.SubUserCard.GetDate
                     ,@tmp.BeforeLevel
                     ,@tmp.AfterLevel
                     ,@tmp.BeforeExp
                     ,@tmp.AfterExp
                     ,@tmp.MixDate
                 </div>
                }
            }
            else
            {
                <input type="button" id="tMix" value="表示切替">
        <ul id="mix">
            <li>
                <span class="shortSpan">BUserCardId</span>
                <span class="shortSpan">BCardId</span>
                <span class="veryLongSpan">BPlayerName</span>
                <span class="veryShortSpan">BRank</span>
                
                <span class="shortSpan">SUserCardId</span>
                <span class="shortSpan">SCardId</span>
                <span class="veryLongSpan">SPlayerName</span>
                <span class="veryShortSpan">SRank</span>
                <span class="veryShortSpan">SLevel</span>
                <span class="longSpan">SGetDate</span>

                <span class="veryShortSpan">BLevel</span>
                <span class="veryShortSpan">ALevel</span>
                <span class="veryShortSpan">BExp</span>
                <span class="veryShortSpan">AExp</span>
                <span class="longSpan">MixDate</span>
            </li>
        @foreach (var tmp in @ViewBag.MixHistoryList)
        {
            <li>
                <span class="shortSpan">[@tmp.BaseUserCard.UserCardId]</span>
                <span class="shortSpan">[@tmp.BaseUserCard.CardId]</span>
                <span class="veryLongSpan">[@tmp.BaseUserCard.PlayerName]</span>
                <span class="veryShortSpan">[@tmp.BaseUserCard.Rank]</span>
                
                <span class="shortSpan">[@tmp.SubUserCard.UserCardId]</span>
                <span class="shortSpan">[@tmp.SubUserCard.CardId]</span>
                <span class="veryLongSpan">[@tmp.SubUserCard.PlayerName]</span>
                <span class="veryShortSpan">[@tmp.SubUserCard.Rank]</span>
                <span class="veryShortSpan">[@tmp.SubUserCard.Level]</span>
                <span class="longSpan">[@tmp.SubUserCard.GetDate]</span>

                <span class="veryShortSpan">[@tmp.BeforeLevel]</span>
                <span class="veryShortSpan">[@tmp.AfterLevel]</span>
                <span class="veryShortSpan">[@tmp.BeforeExp]</span>
                <span class="veryShortSpan">[@tmp.AfterExp]</span>
                <span class="longSpan">[@tmp.MixDate]</span>
            </li>
        }
        </ul>
            }
    </div>
    <div class="listdata">
        <h3 id="SellHistory">放出履歴</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                UserCardId
                ,CardId
                ,Name
                ,Rank
                ,Level
                ,MaxLevel
                ,GetDate
                ,SellDate
                </div>
                foreach (var tmp in @ViewBag.SellHistoryList)
                {
                    <div>
                    @tmp.UserCardId
                    ,@tmp.CardId
                    ,@tmp.PlayerName
                    ,@tmp.Rank
                    ,@tmp.Level
                    ,@tmp.MaxLevel
                    ,@tmp.GetDate
                    ,@tmp.SellDate
                    </div>
                }
            }
            else
            {
                <input type="button" id="tSell" value="表示切替">
        <ul id="sell">
            <li>
                <span class="shortSpan">UserCardId</span>
                <span class="shortSpan">CardId</span>
                <span class="veryLongSpan">Name</span>
                <span class="veryShortSpan">Rank</span>
                <span class="veryShortSpan">Level</span>
                <span class="shortSpan">MaxLevel</span>
                <span class="longSpan">GetDate</span>
                <span class="longSpan">SellDate</span>
            </li>
        @foreach (var tmp in @ViewBag.SellHistoryList)
        {
            <li>
                <span class="shortSpan">[@tmp.UserCardId]</span>
                <span class="shortSpan">[@tmp.CardId]</span>
                <span class="veryLongSpan">[@tmp.PlayerName]</span>
                <span class="veryShortSpan">[@tmp.Rank]</span>
                <span class="veryShortSpan">[@tmp.Level]</span>
                <span class="shortSpan">[@tmp.MaxLevel]</span>
                <span class="longSpan">[@tmp.GetDate]</span>
                <span class="longSpan">[@tmp.SellDate]</span>
            </li>
        }
        </ul>
            }
    </div>
    <div class="listdata">
        <h3 id="RentalHistory">レンタル履歴</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                UserCardId
                ,CardId
                ,Name
                ,Rank
                ,Level
                ,RUserId
                ,RTeamName
                ,RUserCardId
                ,GetDate
                    </div>
                foreach (var tmp in @ViewBag.RentalHistoryList)
                {
            <div>
                @tmp.UserCardId
                ,@tmp.CardId
                ,@tmp.PlayerName
                ,@tmp.Rank
                ,@tmp.Level
                ,@tmp.RentalUserId
                ,@tmp.RentalTeamName
                ,@tmp.RentalUserCardId
                ,@tmp.GetDate
                </div>
                }
            }
            else
            {
                <input type="button" id="tRental" value="表示切替">
        <ul id="rental">
            <li>
                <span class="shortSpan">UserCardId</span>
                <span class="shortSpan">CardId</span>
                <span class="veryLongSpan">Name</span>
                <span class="veryShortSpan">Rank</span>
                <span class="veryShortSpan">Level</span>
                <span class="shortSpan">RUserId</span>
                <span class="normalSpan">RTeamName</span>
                <span class="shortSpan">RUserCardId</span>
                <span class="longSpan">GetDate</span>
            </li>
        @foreach (var tmp in @ViewBag.RentalHistoryList)
        {
            <li>
                <span class="shortSpan">[@tmp.UserCardId]</span>
                <span class="shortSpan">[@tmp.CardId]</span>
                <span class="veryLongSpan">[@tmp.PlayerName]</span>
                <span class="veryShortSpan">[@tmp.Rank]</span>
                <span class="veryShortSpan">[@tmp.Level]</span>
                <span class="shortSpan">[@tmp.RentalUserId]</span>
                <span class="normalSpan">[@tmp.RentalTeamName]</span>
                <span class="shortSpan">[@tmp.RentalUserCardId]</span>
                <span class="longSpan">[@tmp.GetDate]</span>
            </li>
        }
        </ul>
            }
    </div>
    
    <!--//--------------------ガチャ関係-->
    <div class="listdata">
        <h3 id="BillingScoutHistory">課金ガチャ履歴</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                    GachaId
                    ,CardId
                    ,Name
                    ,Rank
                    ,Coin
                    ,実行日時
                </div>
                foreach (var tmp in @ViewBag.UserGachaHistoryList)
                {
                    <div>
                        @tmp.GachaId
                        ,@tmp.CardId
                        ,@tmp.PlayerName
                        ,@tmp.Rank
                        ,@tmp.Currency
                        ,@tmp.GetDate
                    </div>
                }
            }
            else
            {
                <input type="button" id="tKGacha" value="表示切替">
        <ul id="kGacha">
            <li>
                <span class="shortSpan">GachaId</span>
                <span class="shortSpan">CardId</span>
                <span class="veryLongSpan">Name</span>
                <span class="veryShortSpan">Rank</span>
                <span class="veryShortSpan">Coin</span>
                <span class="longSpan">実行日時</span>
            </li>
        @foreach (var tmp in @ViewBag.UserGachaHistoryList)
        {
            <li>
                <span class="shortSpan">[@tmp.GachaId]</span>
                <span class="shortSpan">[@tmp.CardId]</span>
                <span class="veryLongSpan">[@tmp.PlayerName]</span>
                <span class="veryShortSpan">[@tmp.Rank]</span>
                <span class="veryShortSpan">[@tmp.Currency]</span>
                <span class="longSpan">[@tmp.GetDate]</span>
            </li>
        }
        </ul>
            }
    </div>
    <div class="listdata">
        <h3 id="FreeScoutHistory">無料ガチャ履歴</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                    GachaId
                    ,CardId
                    ,Name
                    ,Rank
                    ,実行日時
                </div>
            
                foreach (var tmp in @ViewBag.NormalGachaHistoryList)
                {
                    <div>
                        @tmp.GachaId
                        ,@tmp.CardId
                        ,@tmp.PlayerName
                        ,@tmp.Rank
                        ,@tmp.GetDate
                    </div>
                }
            }
            else
            {
                <input type="button" id="tNGacha" value="表示切替">
        <ul id="nGacha">
            <li>
                <span class="shortSpan">GachaId</span>
                <span class="shortSpan">CardId</span>
                <span class="veryLongSpan">Name</span>
                <span class="veryShortSpan">Rank</span>
                <span class="longSpan">実行日時</span>
            </li>
        @foreach (var tmp in @ViewBag.NormalGachaHistoryList)
        {
            <li>
                <span class="shortSpan">[@tmp.GachaId]</span>
                <span class="shortSpan">[@tmp.CardId]</span>
                <span class="veryLongSpan">[@tmp.PlayerName]</span>
                <span class="veryShortSpan">[@tmp.Rank]</span>
                <span class="longSpan">[@tmp.GetDate]</span>
            </li>
        }
        </ul>
            }
    </div>
    <div class="listdata">
        <h3 id="TicketScoutHistory">チケットガチャ履歴</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                    GachaId
                    ,CardId
                    ,Name
                    ,Rank
                    ,Ticket
                    ,実行日時
                </div>
                foreach (var tmp in @ViewBag.TicketGachaHistory)
                {
                    <div>
                        @tmp.GachaId
                        ,@tmp.CardId
                        ,@tmp.PlayerName
                        ,@tmp.Rank
                        ,@tmp.Currency
                        ,@tmp.GetDate
                    </div>
                }
            }
            else
            {
                <input type="button" id="tTGacha" value="表示切替">
        <ul id="tGacha">
            <li>
                <span class="shortSpan">GachaId</span>
                <span class="shortSpan">CardId</span>
                <span class="veryLongSpan">Name</span>
                <span class="veryShortSpan">Rank</span>
                <span class="veryShortSpan">Ticket</span>
                <span class="longSpan">実行日時</span>
            </li>
        @foreach (var tmp in @ViewBag.TicketGachaHistory)
        {
            <li>
                <span class="shortSpan">[@tmp.GachaId]</span>
                <span class="shortSpan">[@tmp.CardId]</span>
                <span class="veryLongSpan">[@tmp.PlayerName]</span>
                <span class="veryShortSpan">[@tmp.Rank]</span>
                <span class="veryShortSpan">[@tmp.Currency]</span>
                <span class="longSpan">[@tmp.GetDate]</span>
            </li>
        }
        </ul>
            }
    </div>
    
    <!--//--------------------アイテム関係-->
    <div class="listdata">
        <h3 id="UnOpenGifts">未開封ギフト</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                GiftId
                ,アイテム名
                ,数
                ,取得種類
                ,取得日時
                    </div>
                foreach (var tmp in @ViewBag.UnReadGiftList)
                {
            <div>
                ,@tmp.GiftId
                ,@tmp.Title
                ,@tmp.Num
                ,@tmp.Comment
                ,@tmp.DateTime.ToString("yyyy/MM/dd HH:mm")
                </div>
                }
            }
            else
            {
                <input type="button" id="tUnReadGift" value="表示切替">
        <ul id="unReadGift">
            <li>
                <span class="shortSpan">[GiftId]</span>
                <span class="longSpan">[アイテム名]</span>
                <span class="veryShortSpan">[数]</span>
                <span class="veryLongSpan">[取得種類]</span>
                <span class="longSpan">[取得日時]</span>
            </li>
        @foreach (var tmp in @ViewBag.UnReadGiftList)
        {
            <li>
                <span class="shortSpan">[@tmp.GiftId]</span>
                <span class="longSpan">[@tmp.Title]</span>
                <span class="veryShortSpan">[@tmp.Num]</span>
                <span class="veryLongSpan">[@tmp.Comment]</span>
                <span class="longSpan">[@tmp.DateTime.ToString("yyyy/MM/dd HH:mm")]</span>
            </li>
        }
        </ul>
            }
    </div>
    <div class="listdata">
        <h3 id="OpenGiftHistory">開封履歴</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                ItemType
                ,ItemId
                ,ItemNum
                ,Name
                ,GiftType
                ,取得日時
                ,実行日時
                    </div>
              

                foreach (var tmp in @ViewBag.UserGiftOpenHistory2)
                {
            <div>
                @tmp.ItemType
                ,@tmp.ItemId
                ,@tmp.ItemNum
                ,@tmp.ItemName
                ,@tmp.GiftType
                ,@tmp.GetDate
                ,@tmp.Date
                </div>
                }
            }
            else
            {
                <input type="button" id="tGift" value="表示切替">
        <ul id="gift">
            <li>
                <span class="veryShortSpan">ItemType</span>
                <span class="veryShortSpan">ItemId</span>
                <span class="veryShortSpan">ItemNum</span>
                <span class="longSpan">Name</span>
                <span class="longSpan">GiftType</span>
                <span class="veryLongSpan">取得日時</span>
                <span class="veryLongSpan">実行日時</span>
            </li>

            
        @foreach (var tmp in @ViewBag.UserGiftOpenHistory2)
        {
            <li>
                <span class="veryShortSpan">[@tmp.ItemType]</span>
                <span class="veryShortSpan">[@tmp.ItemId]</span>
                <span class="veryShortSpan">[@tmp.ItemNum]</span>
                <span class="longSpan">[@tmp.ItemName]</span>
                <span class="longSpan">[@tmp.GiftType]</span>
                <span class="veryLongSpan">[@tmp.GetDate]</span>
                <span class="veryLongSpan">[@tmp.Date]</span>
            </li>
        }
        </ul>
            }
    </div>
    <div class="listdata">
        <h3 id="GiftOpenError">開封エラー</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                ItemType
                ,ItemId
                ,ItemNum
                ,Name
                ,GiftType
                ,取得日時
                ,実行日時
                    </div>
                foreach (var tmp in @ViewBag.GiftOpenErrorList)
                {
            <div>
                @tmp.ItemType
                ,@tmp.ItemId
                ,@tmp.ItemNum
                ,@tmp.ItemName
                ,@tmp.GiftType
                ,@tmp.GetDate
                ,@tmp.Date
            </div>
                }
            }
            else
            {
                <input type="button" id="tGiftErr" value="表示切替">
        <ul id="giftErr">
            <li>
                <span class="veryShortSpan">ItemType</span>
                <span class="veryShortSpan">ItemId</span>
                <span class="veryShortSpan">ItemNum</span>
                <span class="longSpan">Name</span>
                <span class="longSpan">GiftType</span>
                <span class="veryLongSpan">取得日時</span>
                <span class="veryLongSpan">実行日時</span>
            </li>
        @foreach (var tmp in @ViewBag.GiftOpenErrorList)
        {
            <li>
                <span class="veryShortSpan">[@tmp.ItemType]</span>
                <span class="veryShortSpan">[@tmp.ItemId]</span>
                <span class="veryShortSpan">[@tmp.ItemNum]</span>
                <span class="longSpan">[@tmp.ItemName]</span>
                <span class="longSpan">[@tmp.GiftType]</span>
                <span class="veryLongSpan">[@tmp.GetDate]</span>
                <span class="veryLongSpan">[@tmp.Date]</span>
            </li>
        }
        </ul>
            }
    </div>
    <div class="listdata">
        <h3 id="HasItemList">所持アイテム一覧</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                Name
                ,所持数
                    </div>
                foreach (var tmp in @ViewBag.UserItem)
                {
            <div>
                @tmp.ItemName
                ,@tmp.Num
            </div>
                }
            }
            else
            {
                <input type="button" id="tHasItem" value="表示切替">
        <ul id="hasItem">
            <li>
                <span class="longSpan">Name</span>
                <span class="veryShortSpan">所持数</span>
            </li>
        @foreach (var tmp in @ViewBag.UserItem)
        {
            <li>
                <span class="longSpan">[@tmp.ItemName]</span>
                <span class="veryShortSpan">[@tmp.Num]</span>
            </li>
        }
        </ul>
            }
    </div>
    <div class="listdata">
        <h3 id="BuyItemHistory">アイテム購入履歴</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                ItemName
                ,購入数
                ,Coin
                ,Before
                ,購入日時
                    </div>
                foreach (var tmp in @ViewBag.ShopBuyHistory)
                {
            <div>
                @tmp.ItemName
                ,@tmp.Num
                ,@tmp.Coin
                ,@tmp.BeforeCoin
                ,@tmp.Date
            </div>
                }
            }
            else
            {
                <input type="button" id="tBuyItem" value="表示切替">
        <ul id="buyItem">
            <li>
                <span class="longSpan">ItemName</span>
                <span class="veryShortSpan">購入数</span>
                <span class="veryShortSpan">Coin</span>
                <span class="veryShortSpan">Before</span>
                <span class="veryLongSpan">購入日時</span>
            </li>
        @foreach (var tmp in @ViewBag.ShopBuyHistory)
        {
            <li>
                <span class="longSpan">[@tmp.ItemName]</span>
                <span class="veryShortSpan">[@tmp.Num]</span>
                <span class="veryShortSpan">[@tmp.Coin]</span>
                <span class="veryShortSpan">[@tmp.BeforeCoin]</span>
                <span class="veryLongSpan">[@tmp.Date]</span>
            </li>
        }
        </ul>
            }
    </div>
                <div class="listdata">
                    <h3 id="UseItemHistory">アイテム使用履歴</h3>
        
                    @if (@ViewBag.IsCsv)
                    {
                        <div>
                            ItemName
                            ,Use
                            ,Before
                            ,使用日時
                        </div>
                        foreach (var tmp in @ViewBag.ItemUseHistory)
                        {
                            <div>
                                @tmp.ItemName
                                ,@tmp.Num
                                ,@tmp.BeforeNum
                                ,@tmp.Date
                            </div>
                        }
                    }
                    else
                    {
                <input type="button" id="tUseItem" value="表示切替">
                <ul id="useItem">
                    <li>
                        <span class="longSpan">ItemName</span>
                        <span class="veryShortSpan">Use</span>
                        <span class="veryShortSpan">Before</span>
                        <span class="veryLongSpan">使用日時</span>
                    </li>
                    @foreach (var tmp in @ViewBag.ItemUseHistory)
                    {
                        <li>
                            <span class="longSpan">[@tmp.ItemName]</span>
                            <span class="veryShortSpan">[@tmp.Num]</span>
                            <span class="veryShortSpan">[@tmp.BeforeNum]</span>
                            <span class="veryLongSpan">[@tmp.Date]</span>
                        </li>
                    }
                </ul>
                    }
                </div>
                <div class="listdata">
                    <h3 id="HasSponsorList">所持スポンサー一覧</h3>
        
                    @if (@ViewBag.IsCsv)
                    {
                        <div>
                            SponsorId
                            ,SponsorType
                            ,Name
                            ,運営pt
                            ,取得日時
                        </div>
                        foreach (var tmp in @ViewBag.UserSponsorList)
                        {
                            <div>
                                @tmp.SponsorId
                                ,@tmp.SponsorType
                                ,@tmp.SponsorName
                                ,@tmp.Cost
                                ,@tmp.GetDate
                            </div>
                        }
                    }
                    else
                    {
                <input type="button" id="tSponsor" value="表示切替">
                <ul id="sponsor">
                    <li>
                        <span class="veryShortSpan">SponsorId</span>
                        <span class="veryShortSpan">SponsorType</span>
                        <span class="longSpan">Name</span>
                        <span class="veryShortSpan">運営pt</span>
                        <span class="veryLongSpan">取得日時</span>
                    </li>
                    @foreach (var tmp in @ViewBag.UserSponsorList)
                    {
                        <li>
                            <span class="veryShortSpan">[@tmp.SponsorId]</span>
                            <span class="veryShortSpan">[@tmp.SponsorType]</span>
                            <span class="longSpan">[@tmp.SponsorName]</span>
                            <span class="shortSpan">[@tmp.Cost]</span>
                            <span class="veryLongSpan">[@tmp.GetDate]</span>
                        </li>
                    }
                </ul>
                    }
                </div>
                <div class="listdata">
                    <h3 id="GotScoutHistory">スカウト履歴</h3>
                    @if (@ViewBag.IsCsv)
                    {
                        <div>
                            CardId
                            ,PlayerName
                            ,Rank
                            ,DutyId
                            ,UseCoin
                            ,UseFame
                            ,GetDate
                            ,IsSuccess
                        </div>
                        foreach (var tmp in @ViewBag.ScoutHistory)
                        {            
                            <div>
                                @tmp.CardId
                                ,@tmp.PlayerName
                                ,@tmp.Rank
                                ,@tmp.DutyId
                                ,@tmp.UseCoin
                                ,@tmp.UseFame
                                ,@tmp.GetDate
                                ,@tmp.IsSuccess
                            </div>
                        }
                    }
                    else
                    {
                <input type="button" id="tscoutHistory" value="表示切替" >
                <ul id="scoutHistory">
                    <li>
                        <span class="shortSpan">CardId</span>
                        <span class="veryLongSpan">PlayerName</span>
                        <span class="veryShortSpan">Rank</span>
                        <span class="veryShortSpan">DutyId</span>
                        <span class="shortSpan">UseCoin</span>
                        <span class="shortSpan">UseFame</span>
                        <span class="veryLongSpan">GetDate</span>
                        <span class="shortSpan">IsSuccess</span>
                    </li>
                    @foreach (var tmp in @ViewBag.ScoutHistory)
                    {
                        <li>
                            <span class="shortSpan">[@tmp.CardId]</span>
                            <span class="veryLongSpan">[@tmp.PlayerName]</span>
                            <span class="veryShortSpan">[@tmp.Rank]</span>
                            <span class="veryShortSpan">[@tmp.DutyId]</span>
                            <span class="shortSpan">[@tmp.UseCoin]</span>
                            <span class="shortSpan">[@tmp.UseFame]</span>
                            <span class="veryLongSpan">[@tmp.GetDate]</span>
                            <span class="shortSpan">@(tmp.IsSuccess ? "○" : "-")</span>
                        </li>
                    }
                </ul>
                    }
                </div>
                <div class="listdata">
                    <h3 id="EventScoutHistory">イベントスカウト履歴</h3>
                    @if (@ViewBag.IsCsv)
                    {
                        <div>
                            CardId
                            ,PlayerName
                            ,Rank
                            ,DutyId
                            ,UseCoin
                            ,UseFame
                            ,UseBonusFame
                            ,GetDate
                            ,EventId
                        </div>
                        foreach (var tmp in @ViewBag.UserEventScout)
                        {            
                            <div>
                                @tmp.CardId
                                ,@tmp.PlayerName
                                ,@tmp.Rank
                                ,@tmp.DutyId
                                ,@tmp.UseCoin
                                ,@tmp.UseFame
                                ,@tmp.UseBonusFame
                                ,@tmp.GetDate
                                ,@tmp.EventId
                            </div>
                        }
                    }
                    else
                    {
                <input type="button" id="tuserEvent" value="表示切替">
                <ul id="userEvent">
                    <li>
                        <span class="shortSpan">CardId</span>
                        <span class="veryLongSpan">PlayerName</span>
                        <span class="veryShortSpan">Rank</span>
                        <span class="veryShortSpan">DutyId</span>
                        <span class="shortSpan">UseCoin</span>
                        <span class="shortSpan">UseFame</span>
                        <span class="veryLongSpan">GetDate</span>
                        <span class="veryLongSpan">EventId</span>
                    </li>
                    @foreach (var tmp in @ViewBag.UserEventScout)
                    {
                        <li>
                            <span class="shortSpan">[@tmp.CardId]</span>
                            <span class="veryLongSpan">[@tmp.PlayerName]</span>
                            <span class="veryShortSpan">[@tmp.Rank]</span>
                            <span class="veryShortSpan">[@tmp.DutyId]</span>
                            <span class="shortSpan">[@tmp.UseCoin]</span>
                            <span class="shortSpan">[@tmp.UseFame]</span>
                            <span class="veryLongSpan">[@tmp.GetDate]</span>
                            <span class="shortSpan">[@tmp.EventId]</span>
                        </li>
                    }
                </ul>
                    }
                </div>
        <div class="listdata">
        <h3 id="InviteHistory">招待履歴(報酬付与前)</h3>
        
            @if (@ViewBag.IsCsv)
            { 
                <div>
                    招待したUserId
                          ,招待日時
                    </div>
                foreach (var tmp in @ViewBag.InviteList)
                {
            <div>
                    @tmp.InvitedUserId
                    ,@tmp.AddTime
                </div>
                }
            }
            else
            {
        <ul>
            <li>
                <span>
                    [招待したUserId]
                </span>
                <span>
                    [招待日時]
                </span>
            </li>
        @foreach (var tmp in @ViewBag.InviteList)
        {
            <li>
                <span>
                    [@tmp.InvitedUserId]

                </span>
                <span>
                    [@tmp.AddTime]

                </span>

            </li>
        }
        </ul>
            }
    </div>
    <div class="listdata">
        <h3 id="AlredyGotRewardInviteHistory">招待履歴(報酬付与済)</h3>
        
            @if (@ViewBag.IsCsv)
            {
                <div>
                    招待したUserId
                    ,招待日時
                    ,報酬取得日時
                </div>
                foreach (var tmp in @ViewBag.AlreadyInviteList)
                {
                    <div>
                        @tmp.InvitedUserId
                        ,@tmp.AddTime
                        ,@tmp.RewardDate

                    </div>
                }
            }
            else
            {
                <ul>
                    <li><span>[招待したUserId]</span><span>[招待日時]</span><span>[報酬取得日時]</span></li>
                    @foreach (var tmp in @ViewBag.AlreadyInviteList)
                    {
                        <li><span>[@tmp.InvitedUserId]</span><span>[@tmp.AddTime]</span><span>[@tmp.RewardDate]</span></li>
                    }
                </ul>
            }
    </div>

    //ナビゲーションリンク
    <div id="navigator-container">
        <input type="button" id="tNavigator" value="表示切替">
        <div id="navigator-box">
            <a href="#Top">先頭へ</a>
            <a href="#BillingHistory">課金履歴</a>
            <a href="#HasCardList">所持カード一覧</a>
            <a href="#ReinforceHistory">強化履歴</a>
            <a href="#SellHistory">放出履歴</a>
            <a href="#RentalHistory">レンタル履歴</a>
            <a href="#BillingScoutHistory">課金ガチャ履歴</a>
            <a href="#FreeScoutHistory">無料ガチャ履歴</a>
            <a href="#TicketScoutHistory">チケットガチャ履歴</a>
            <a href="#UnOpenGifts">未開封ギフト</a>
            <a href="#OpenGiftHistory">開封履歴</a>
            <a href="#GiftOpenError">開封エラー</a>
            <a href="#HasItemList">所持アイテム一覧</a>
            <a href="#BuyItemHistory">アイテム購入履歴</a>
            <a href="#UseItemHistory">アイテム使用履歴</a>
            <a href="#HasSponsorList">所持スポンサー一覧</a>
            <a href="#GotScoutHistory">スカウト履歴</a>
            <a href="#EventScoutHistory">イベントスカウト履歴</a>
            <a href="#InviteHistory">招待履歴(報酬付与前)</a>
            <a href="#AlredyGotRewardInviteHistory">招待履歴(報酬付与済)</a>
        </div>
    </div>

}
else
{
    if (ViewBag.NotFound != null && ViewBag.NotFound)
    {
         <div><b>ユーザが見つかりませんでした。</b></div>
    }
    <div>招待コードかUserIdを入力してください。</div>
}