﻿@model dynamic

@{
    ViewBag.Title = "データ移行";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var baseUrl = "/operation/dataTransfer";
            $("#search_btn").click(function () {
                var tmp = baseUrl;

                var code = $("#inviteCode").val();
                if (code)
                    tmp += "?inviteCode=" + code;

                var old = $("#oldInviteCode").val();
                if (old)
                    tmp += "&oldInviteCode=" + old;

                location.href = tmp;
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>

<div>招待コード
    <input type="text" id="inviteCode" value="@ViewBag.InviteCode" /><br />
    <input type="text" id="oldInviteCode" value="@ViewBag.OldInviteCode" /><br />
    <input type="submit" id="search_btn" value="ユーザー情報表示"/>
</div>

@if (ViewBag.NowUser == null)
{
    if (ViewBag.NowUserNotFount != null && ViewBag.NowUserNotFound)
    {
         <div><b>ユーザが見つかりませんでした。</b></div>
    }
    <div>招待コードを入力してください。</div>
}
else
{
    <div>■現在のユーザー情報</div>
    <div>UserId: <b>@ViewBag.NowUser.UserId</b></div>
    <div>監督名: @ViewBag.NowUser.NickName</div>
    <div>チーム名: @ViewBag.NowUser.TeamName</div>
    <div>ホームタウン：@ViewBag.NowUserHomeTown</div>
    <div>監督Lv: @ViewBag.NowUser.Level</div>
    <div>キャプテン: @ViewBag.NowUserCaptainName</div>
    <div>登録日時: @ViewBag.NowUser.AddTime</div>
    <div>デバイス: @ViewBag.NowUserDevice</div>
}

@if (ViewBag.BeforeUserList == null)
{
    if (ViewBag.NowUser != null)
    {
         <div><b>移行前のユーザが見つかりませんでした。</b></div>
    }
}
else
{
    <br />
    <div>■移行前のユーザー情報</div>
    var cnt = 0;
    foreach (var beforeUser in ViewBag.BeforeUserList)
    {
        <div>-----------------------------------------</div>
        <div>UserId:@beforeUser.UserId</div>
        <div>GameId: @ViewBag.GameIdList[cnt]</div>
        <div>監督名: @beforeUser.NickName</div>
        <div>チーム名: @beforeUser.TeamName</div>
        <div>ホームタウン：@ViewBag.HomeTownList[cnt]</div>
        <div>監督Lv: @beforeUser.Level</div>
        <div>キャプテン: @ViewBag.CaptainList[cnt]</div>
        <div>登録日時: @beforeUser.AddTime</div>
        <div>デバイス: @ViewBag.DeviceList[cnt]</div>
        <div>招待コード: @beforeUser.InviteCode</div>
        <div>招待履歴</div>
        if (ViewBag.InviteHistory[cnt] != null || ViewBag.InviteHistory[cnt].Count() == 0)
        {
            <div>　履歴なし</div>
        }
        else
        {
            foreach (var invite in ViewBag.InviteHistory[cnt])
            {
                <div>　InvitedUserId: @invite.InvitedUserId</div>
            }
            <br />
        }
        using (Html.BeginForm("Execute", "DataTransfer", FormMethod.Post))
        {
            @InputExtensions.Hidden(Html, "GameId", @ViewBag.GameIdList[cnt])
            @InputExtensions.Hidden(Html, "UserId", @beforeUser.UserId)
            <div>パスワード @Html.TextBox("Password")</div>
            <div>パスワードは「移行前ユーザの招待コード+移行後ユーザの招待コード」で設定してください</div>
            <input type="submit" name="execute" value="このデータを移行" /><br />
        }
        
        <br />
        <br />
        cnt++;
    }
    <br />
}


