﻿@{
    var userId = Convert.ToInt32(ViewBag.UserId);
    var dateTime = (DateTimeOffset)ViewBag.DebugDateTime;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header>
        <div><h1>Edge Debug Page</h1></div>
        <div>現在のUserId:
            <a href="/UserId">@userId</a>
        </div>
        <div>現在のゲーム内時間:
            <a href="/InGameDateTimeOffset">@dateTime</a>
        </div>
    </header>
    <div id="contents">
        @RenderBody()
    </div>
    <footer>
        <a href="/.">Top</a>
    </footer>

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
