﻿@using Inazuma.Web.AdminWebRole.Areas.Analytics.Controllers
@model HourlyController.AccessLogViewModel

@{
    ViewBag.Title = "アクセス状況(時間帯別)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="/Scripts/jquery.flot.min.js"></script>
    <script src="/Scripts/jquery.flot.time.min.js"></script>
    @{
        // plot.js用の文字列を生成する
        var plotDataList = new List<string>();

        foreach (var accessLog in Model.AccessLog)
        {
            plotDataList.Add(string.Format("{{data:[{0}], label:\"{1} TOTALログイン数\"}}", accessLog.TotalData, accessLog.TargetDate.ToString("yyyy-MM-dd")));
            if (Model.DisplayiOS)
            {
                plotDataList.Add(string.Format("{{data:[{0}], label:\"{1} iOSログイン数\"}}", accessLog.IosData, accessLog.TargetDate.ToString("yyyy-MM-dd")));
            }
            if (Model.DisplayAndroid)
            {
                plotDataList.Add(string.Format("{{data:[{0}], label:\"{1} Androidログイン数\"}}", accessLog.AndroidData, accessLog.TargetDate.ToString("yyyy-MM-dd")));
            }
        }
        var plotDataString = string.Join(",\n", plotDataList);
    }
    <script type="text/javascript">
        $(document).ready(function () {
            var plot = $.plot("#placeholder", [@Html.Raw(plotDataString)], {
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: false
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
                yaxis: {},
                xaxis: { mode: "time", timeFormat: "%H:%M", timezone: "browser", min: new Date("@Model.AccessLog[0].FromDate"), max: new Date("@Model.AccessLog[0].ToDate") },
            });

            function showTooltip(x, y, contents) {
                $("<div id='tooltip'>" + contents + "</div>").css({
                    position: "absolute",
                    display: "none",
                    top: y + 5,
                    left: x + 5,
                    border: "1px solid #fdd",
                    padding: "2px",
                    "background-color": "#fee",
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#placeholder").bind("plothover", function(event, pos, item) {

                var str = "(" + new Date(pos.x).toTimeString() + ", " + pos.y.toFixed(0) + ")";
                $("#hoverdata").text(str);


                if (item) {
                    if (previousPoint != item.dataIndex) {

                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = new Date(item.datapoint[0]).toTimeString(),
                            y = item.datapoint[1];

                        showTooltip(item.pageX+5, item.pageY-20, y + " , " + x);
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });

            var format = { dateFormat: 'yy-mm-dd' };
            $('.datepicker').datepicker(format);

            $('#showButton').click((function () {
                var date1 = $('#datepicker1').val();
                var date2 = $('#datepicker2').val();
                var date3 = $('#datepicker3').val();
                var date4 = $('#datepicker4').val();
                var date5 = $('#datepicker5').val();

                var queryString = "";
                if (date1 != "")
                    queryString += "date1=" + date1 + "&";
                if (date2 != "")
                    queryString += "date2=" + date2 + "&";
                if (date3 != "")
                    queryString += "date3=" + date3 + "&";
                if (date4 != "")
                    queryString += "date4=" + date4 + "&";
                if (date5 != "")
                    queryString += "date5=" + date5 + "&";
                if ($("#DisplayIos").prop("checked"))
                    queryString += "DisplayIos=true&";
                if ($("#DisplayAndroid").prop("checked"))
                    queryString += "DisplayAndroid=true&";
                
                window.location = "/analytics/hourly?" + queryString;
                
            }));
            $(".legend").click(function () {
                $(this).fadeOut(500);
                setTimeout(function() {
                    $(".legend").fadeIn(1000);
                }, 5000);
            });
            $(".clear-button").click(function () {
                var id = $(this).attr("id").replace("clearDate", "");
                $("#datepicker" + id).val("");
            });
            $(".navigator-link span").click(function () {
                var url = $(this).attr("data-href");
                var queryString = "&";
                if ($("#DisplayIos").prop("checked"))
                    queryString += "DisplayIos=true&";
                if ($("#DisplayAndroid").prop("checked"))
                    queryString += "DisplayAndroid=true&";
                console.log("url:" + url + queryString);
                location.href = url + queryString;
            });
        });
    </script>
}
<style type="text/css">
    #input-form ul {
        margin: 0;
        padding: 0;
    }
    #input-form li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .text {
        width: 150px;
        font-size: 1.0em;
        height: 16px;
        margin: 2px;
        padding: 0;
    }
    /** がぞうくれ */
    .clear-button {
        background-color: #ffffff !important;
        border-radius: 5px;
    }
    #input-form ul, #input-form label {
        display: inline-block;
    }
    #navigator-link-box {
        width: 800px;
        position: relative;
        height:2em;
    }
    .navigator-link
    {
        display: inline-block;
        position: absolute;
        cursor: pointer;
    }
    #accessSummaryTable td {
        text-align: right;
    }
    #accessSummaryTable th {
        text-align: center;
    }
</style>
<h2>@ViewBag.Title</h2>
<div id="input-form">
    <ul>
        <li>DATE1: <input type="text" id="datepicker1" class="text datepicker" value="@Model.Date[0]"/> <input type="button" id="clearDate1" class="clear-button" value="×" /></li>
        <li>DATE2: <input type="text" id="datepicker2" class="text datepicker" value="@Model.Date[1]"/> <input type="button" id="clearDate2" class="clear-button" value="×" /></li>
        <li>DATE3: <input type="text" id="datepicker3" class="text datepicker" value="@Model.Date[2]"/> <input type="button" id="clearDate3" class="clear-button" value="×" /></li>
        <li>DATE4: <input type="text" id="datepicker4" class="text datepicker" value="@Model.Date[3]"/> <input type="button" id="clearDate4" class="clear-button" value="×" /></li>
        <li>DATE5: <input type="text" id="datepicker5" class="text datepicker" value="@Model.Date[4]"/> <input type="button" id="clearDate5" class="clear-button" value="×" /></li>
    </ul>
    <ul>
        <li><input type="checkbox" id="DisplayIos" name="DisplayIos" @(Model.DisplayiOS ? "checked" : "") value="true"/><label for="DisplayIos">iOS</label></li>
        <li><input type="checkbox" id="DisplayAndroid" name="DisplayAndroid" @(Model.DisplayAndroid ? "checked": "") value="true"/><label for="DisplayAndroid">Android</label></li>
    </ul>
</div>

<input type="button" value="表示" id="showButton"/>

<div class="demo-container">
    <div id="navigator-link-box">
        <div class="navigator-link" style="left: 10px;">
            <span data-href="@Model.PreviousDayLink">≪ @Model.PreviousDay</span>
        </div>
        <div class="navigator-link" style="right: 10px;">
            <span data-href="@Model.NextDayLink">@Model.NextDay ≫</span>
        </div>
    </div>
    <div id="placeholder" class="demo-placeholder" style="height: 400px;width: 800px;"></div>
    <div id="hoverdata"></div>
    
    <div>
        <table id="accessSummaryTable">
            <tr>
                <th></th>
                @foreach (var row in Model.AccessLog)
                {
                    <th colspan="3">@row.TargetDate.ToString("yyyy/MM/dd")</th>
                }
            </tr>
             <tr>
                <th></th>
                @foreach (var row in Model.AccessLog)
                {
                    <th>Total</th>
                    <th>iOS</th>
                    <th>And</th>
                }
            </tr>           

            @for (var i = 0; i < 24; i++ )
            {
                <tr>
                    <th>@i</th>
                    @foreach (var row in Model.AccessLog)
                    {
                        <td>@(row.TotalDataList[i].ToString("#,0"))</td>
                        <td>@(row.IosDataList[i].ToString("#,0"))</td>
                        <td>@(row.AndroidDataList[i].ToString("#,0"))</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

