﻿@using System.Web.UI.WebControls;
@{
    ViewBag.Title = "全レコード件数";
    var errMessage = ViewBag.ErrMessage;
    var columns = ViewBag.Columns;
    //List<Dictionary<string,object>> data = ViewBag.Data;
    var grid = new WebGrid(ViewBag.Data, null, "Date", 999);
}

@section styles
{
    <style type="text/css">
        .medium { font-size: small}
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            var format = { dateFormat: 'yy-mm-dd' };
            $('#datepicker1').datepicker(format);
            $('#datepicker2').datepicker(format);


            $('#showButton').click((function() {
                var from = $('#datepicker1').val();
                var to = $('#datepicker2').val();
                window.location = "/operation/database/allrecord?from="+from+"&to="+to;
            }));
        });
    </script>
}

<h2>@ViewBag.Title</h2>

<div class="medium">Date: <input type="text" id="datepicker1" value="@ViewBag.From"/> ~ <input type="text" id="datepicker2" value="@ViewBag.To"/> <input type="button" value="変更" id="showButton"/></div>

        <div>
        @if ( !string.IsNullOrEmpty(errMessage) )
        {
                <span style="color: red"><label>エラー&nbsp;:&nbsp;@errMessage</label></span><br />
                <br />
        }
        </div>

@grid.GetHtml(
    columns: grid.Columns(columns)
)

