﻿@{
    ViewBag.Title = "データベース";
    var schemaList = ViewBag.SchemaList;
    var selectSchema = ViewBag.SelectSchema;
    var grid = new WebGrid(ViewBag.Data, null, "TableName", 999);
}
@section styles
{
    <style type="text/css">
        th
        {
            text-align:center;
        }
        td.product
        {
            text-align: left;
        }
    </style>
}
@section scripts{
    <script type ="text/javascript">
        function select_menu(param) {
            if (param != "") {
                window.location.href = "/operation/database/database?schema=" + param;
            }
        }
    </script>
}

<h2>@ViewBag.Title</h2>

    <div>
        <select name="schema" onchange="select_menu(this.options[this.selectedIndex].value)">
        @foreach ( var schema in schemaList )
        {
            if (@schema.Equals(selectSchema))
            {
                <option value="@schema" selected="selected">@schema</option>
            }
            else
            {
                <option value="@schema">@schema</option>
            }
        }
        </select>
    </div>

@grid.GetHtml(
    columns: grid.Columns(
        grid.Column("TableName", "TableName", style:"product"),
        grid.Column("RowCount", "RowCount"),
        grid.Column("LastUpdate", "LastUpdate")
    )
)
