﻿@{
    ViewBag.Title = "システム監視";
}

<h2>@ViewBag.Title</h2>

@using ( Html.BeginForm("DataBase", "DataBase", FormMethod.Get) )
{
    <input type="submit" value="データベース" />
}

@using ( Html.BeginForm("AllRecord", "DataBase", FormMethod.Get) )
{
    <input type="submit" value="全レコード件数" />
}
