﻿@model Edge.Web.DebugWebRole.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "ゲーム内時刻の設定";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<fieldset>
    <legend>@ViewBag.Title</legend>

    @using (Html.BeginForm("Edit", "InGameDateTimeOffset"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserId)

        <div class="editor-field">
            @Html.TextBoxFor(model => model.DateTimeOffset, new { style = "width : 200px;"})
            @Html.ValidationMessageFor(model => model.DateTimeOffset)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    }

    <p>
        @using (Html.BeginForm("Destroy", "InGameDateTimeOffset", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="submit" value="元に戻す"/>
        }
    </p>
</fieldset>