﻿@{
    ViewBag.Title = "プッシュ設定状況";
}

<h2>@ViewBag.Title</h2>

<div>ニュースオン/オフ <b>@ViewBag.newsOnCnt/@ViewBag.newsOffCnt</b></div>
<div>親善試合オン/オフ <b>@ViewBag.frinedlyMatchOnCnt/@ViewBag.friendlyMatchOffCnt</b></div>
<div>リーグ戦オン/オフ <b>@ViewBag.leagueOnCnt/@ViewBag.leagueOffCnt</b></div>
<div>行動/試合pt回復オン/オフ <b>@ViewBag.healOnCnt/@ViewBag.healOffCnt</b></div>
