﻿@model Edge.Web.DebugWebRole.Models.ViewModel.UserStatusViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserStatusViewModel</legend>

        @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Level)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Level)
            @Html.ValidationMessageFor(model => model.Level)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Exp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Exp)
            @Html.ValidationMessageFor(model => model.Exp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gold)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gold)
            @Html.ValidationMessageFor(model => model.Gold)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stamina)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Stamina)
            @Html.ValidationMessageFor(model => model.Stamina)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastStamina)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastStamina)
            @Html.ValidationMessageFor(model => model.LastStamina)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hp)
            @Html.ValidationMessageFor(model => model.Hp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxItemNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxItemNum)
            @Html.ValidationMessageFor(model => model.MaxItemNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sp)
            @Html.ValidationMessageFor(model => model.Sp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxFriendNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxFriendNum)
            @Html.ValidationMessageFor(model => model.MaxFriendNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attack)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attack)
            @Html.ValidationMessageFor(model => model.Attack)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Defense)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Defense)
            @Html.ValidationMessageFor(model => model.Defense)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CutPercentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CutPercentage)
            @Html.ValidationMessageFor(model => model.CutPercentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CriticalPercentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CriticalPercentage)
            @Html.ValidationMessageFor(model => model.CriticalPercentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StunValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StunValue)
            @Html.ValidationMessageFor(model => model.StunValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StunResistance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StunResistance)
            @Html.ValidationMessageFor(model => model.StunResistance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StunRecoveryStand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StunRecoveryStand)
            @Html.ValidationMessageFor(model => model.StunRecoveryStand)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StunRecoveryDown)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StunRecoveryDown)
            @Html.ValidationMessageFor(model => model.StunRecoveryDown)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScoreUp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScoreUp)
            @Html.ValidationMessageFor(model => model.ScoreUp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastQuestAreaId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastQuestAreaId)
            @Html.ValidationMessageFor(model => model.LastQuestAreaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastLabyrinthAreaId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastLabyrinthAreaId)
            @Html.ValidationMessageFor(model => model.LastLabyrinthAreaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxGearNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxGearNum)
            @Html.ValidationMessageFor(model => model.MaxGearNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxFriendNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxFriendNum)
            @Html.ValidationMessageFor(model => model.MaxFriendNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxMonsterNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxMonsterNum)
            @Html.ValidationMessageFor(model => model.MaxMonsterNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxItemNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxItemNum)
            @Html.ValidationMessageFor(model => model.MaxItemNum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxCarryingGearNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxCarryingGearNum)
            @Html.ValidationMessageFor(model => model.MaxCarryingGearNum)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Show", "Show")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
