﻿@model Edge.Web.DebugWebRole.Models.ViewModel.UserViewModel
@{
    ViewBag.Title = "インゴット変更";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (@ViewBag.Message != null)
{
    <h1>@ViewBag.Message</h1>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>インゴット所持数変更</legend>

        @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Ingot)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ingot)
            @Html.ValidationMessageFor(model => model.Ingot)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

