﻿@model Edge.Web.DebugWebRole.Models.ViewModel.UserStatusViewModel

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>

@if (@ViewBag.Message != null)
{
    <h1>@ViewBag.Message</h1>
}

<fieldset>
    <legend>UserStatusViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Exp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Exp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gold )
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gold )
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Stamina)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stamina)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastStamina)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastStamina)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxItemNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxItemNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxFriendNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxFriendNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Attack)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Attack)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Defense)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Defense)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CutPercentage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CutPercentage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CriticalPercentage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CriticalPercentage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StunValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StunValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StunResistance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StunResistance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StunRecoveryStand)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StunRecoveryStand)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StunRecoveryDown)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StunRecoveryDown)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ScoreUp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ScoreUp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastQuestAreaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastQuestAreaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastLabyrinthAreaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLabyrinthAreaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxGearNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxGearNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxFriendNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxFriendNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxMonsterNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxMonsterNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxItemNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxItemNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxCarryingGearNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxCarryingGearNum)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
</p>
