﻿@model dynamic

@{
    ViewBag.Title = "アイテム使用状況(時間帯別)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(ViewBag.Data, null, "時間帯", 24); 
}

@section styles
{
    <style type="text/css">
        .total { font-size: 30px; }
        .product { text-align: right; }
        .useNum { text-align: right; }
    </style>
}

@section scripts{
    <script src="/Scripts/jquery.flot.min.js"></script>
    <script src="/Scripts/jquery.flot.time.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var plotdata = [@Html.Raw(ViewBag.GraphData)];

            var plot = $.plot("#placeholder", [{ data: plotdata, label: "アイテム使用数" }], {
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
                yaxis: { min: 0 },
                xaxis: { mode: "time", timeFormat: "%H:%M", timezone: "browser", min: new Date("@ViewBag.Min"), max: new Date("@ViewBag.Max") },
            });

            function showTooltip(x, y, contents) {
                $("<div id='tooltip'>" + contents + "</div>").css({
                    position: "absolute",
                    display: "none",
                    top: y + 5,
                    left: x + 5,
                    border: "1px solid #fdd",
                    padding: "2px",
                    "background-color": "#fee",
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#placeholder").bind("plothover", function (event, pos, item) {

                var str = "(" + new Date(pos.x).toTimeString() + ", " + pos.y.toFixed(0) + ")";
                $("#hoverdata").text(str);


                if (item) {
                    if (previousPoint != item.dataIndex) {

                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = new Date(item.datapoint[0]).toTimeString(),
                            y = item.datapoint[1];

                        showTooltip(item.pageX + 5, item.pageY - 20, y + " , " + x);
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
            
            var format = { dateFormat: 'yy-mm-dd' };

            $('#datepicker1').datepicker(format);

            $('#showButton').click((function () {
                var date = $('#datepicker1').val();
                var itemId = $('#itemId1 option:selected').val();
                window.location = "/analytics/hourlyItemUse?date=" + date + "&itemId=" + itemId;
            }));
            $(".legend").click(function () {
                $(this).fadeOut(500);
                setTimeout(function () {
                    $(".legend").fadeIn(1000);
                }, 5000);
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>

<input type="text" id="datepicker1" value="@ViewBag.Date" style="width:100px"/> 
<select id="itemId1">
    @foreach (var row in @ViewBag.selector)
    {
        if (@ViewBag.itemId == @row.ItemId)
        {
                <option value="@row.ItemId" selected>@row.ItemName</option>
        }
        else
        {
                <option value="@row.ItemId">@row.ItemName</option>
        }
    }
</select>
<input type="button" value="表示" id="showButton"/> 合計：<strong class="total">@ViewBag.TotalNum</strong>
<br/>

<div class="demo-container">
	<div id="placeholder" class="demo-placeholder" style="height: 300px;width: 800px;"></div>
    <div id="hoverdata"></div>
</div>
<br/>
@grid.GetHtml(
    columns: grid.Columns(
        grid.Column("時間帯", "時間帯", style:"product"),
        grid.Column("使用数", "使用数", style:"useNum")
    )
)
<br/>
