﻿@using Inazuma.Core.Common
@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers
@using Edge.Data.Game.DataSet
@{
    ViewBag.Title = "バナー編集";
    var typeStatus = ViewBag.TypeStatus; @*status 0:new 1:modify 2:check 3:cancel*@
    var bannerTypes = ViewBag.BannerTypes;
    var bannerConditionTypes = ViewBag.BannerConditionTypes;
    var bannerConditionComparisonTypes = ViewBag.BannerConditionComparisonTypes;
    var rankTypes = ViewBag.RankTypes;
    var homeTown = ViewBag.HomeTown;
    List<GameDataSet.LeagueMasterRow> leagueMasterList = ViewBag.LeagueMasterList;
    var itemTypes = ViewBag.ItemTypes;
    var bannerType = ViewBag.editModel.BannerType == 0 ? 0 : ViewBag.editModel.BannerType;
    var exUrl = ( string.IsNullOrEmpty(ViewBag.editModel.Url) ) ?
                    "/webView/newBox/newsDetail?id=1" :
                    ViewBag.editModel.Url;
    var execMode = ViewBag.editModel.ExecMode;
    List<GridBannerConditionData> conditions = ViewBag.editModel.Conditions;
}

@section styles
{
    <style type="text/css">
		.overlay {
			background-size: 100% 320px;
			background-repeat: no-repeat;
			border: none;
			width: 100%;
			background-color: transparent;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			padding: 20px 8px 15px 8px;
			text-align: center;
			display: none;
		}

		.overlay p {
			margin-top: 12px;
			color: #000;
		}

		.overlay-inner {
			min-height: 276px;
		    float: left;
		}

		.overlay .ol-btn-wrap {
			display: block;
			width: 100%;
			height: 37px;
			margin: 20px auto;
		}
    </style>
}

@section scripts
{    
    <script src="/Scripts/jquery.flot.min.js"></script>
    <script src="/Scripts/jquery.flot.time.min.js"></script>

    <script type ="text/javascript">
        $(document).ready (function() {
            var typeStatus = $('#typeStatus').val();
            if (typeStatus == 2) {
                $('#bannerType').attr('disabled', 'disabled');
                $('#bannerConditionType0').attr('disabled', 'disabled');
                $('#bannerConditionType1').attr('disabled', 'disabled');
                $('#bannerConditionType2').attr('disabled', 'disabled');
                $('#bannerConditionComparisonType0').attr('disabled', 'disabled');
                $('#bannerConditionComparisonType1').attr('disabled', 'disabled');
                $('#bannerConditionComparisonType2').attr('disabled', 'disabled');
            }

            $('#insertButton').click((function () {
                var id = $('#id').val();
                var bannerType = $('#bannerType :selected').val();
                var url = encodeURIComponent($('#url').val());
                var imageUrl = $('#imageUrl').val();
                var fromDate = $('#datepicker1').val();
                var toDate = $('#datepicker2').val();
                var eventId = $('#eventId').val();
                var orderNum = $('#orderNum').val();
                var execMode = $('#execMode').val();
                var device = 0;
                var conditionType0 = $('#bannerConditionType0 :selected').val();
                var comparisonType0 = $('#bannerConditionComparisonType0 :selected').val();
                var value0_1 = $('#value0_1').val();
                var value0_2 = $('#value0_2').val();
                var value0_3 = $('#value0_3').val();
                var conditionType1 = $('#bannerConditionType1 :selected').val();
                var comparisonType1 = $('#bannerConditionComparisonType1 :selected').val();
                var value1_1 = $('#value1_1').val();
                var value1_2 = $('#value1_2').val();
                var value1_3 = $('#value1_3').val();
                var conditionType2 = $('#bannerConditionType2 :selected').val();
                var comparisonType2 = $('#bannerConditionComparisonType2 :selected').val();
                var value2_1 = $('#value2_1').val();
                var value2_2 = $('#value2_2').val();
                var value2_3 = $('#value2_3').val();
                $('[name="device"]:checked').each(function () {
                    console.log("val:" + $(this).val());
                    device += parseInt($(this).val());
                });
                console.log("device:" + device);
                window.location = "/operation/bannermanagement/createbanner?id=" + id + "&bannerType=" + bannerType + "&url=" + url + "&imageUrl=" + imageUrl + "&fromDate=" + fromDate + "&toDate=" + toDate + "&eventId=" + eventId + "&orderNUm=" + orderNum + "&execMode=" + execMode + "&targetDevice=" + device + "&conditionType0=" + conditionType0 + "&comparisonType0=" + comparisonType0 + "&value0_1=" + value0_1 + "&value0_2=" + value0_2 + "&value0_3=" + value0_3 + "&conditionType1=" + conditionType1 + "&comparisonType1=" + comparisonType1 + "&value1_1=" + value1_1 + "&value1_2=" + value1_2 + "&value1_3=" + value1_3 + "&conditionType2=" + conditionType2 + "&comparisonType2=" + comparisonType2 + "&value2_1=" + value2_1 + "&value2_2=" + value2_2 + "&value2_3=" + value2_3;
            }));

            $('#checkButton').click((function () {
                var id = $('#id').val();
                var bannerType = $('#bannerType :selected').val();
                var url = encodeURIComponent($('#url').val());
                var imageUrl = $('#imageUrl').val();
                var fromDate = $('#datepicker1').val();
                var toDate = $('#datepicker2').val();
                var eventId = $('#eventId').val();
                var orderNum = $('#orderNum').val();
                var execMode = $('#execMode').val();
                var device = 0;
                var conditionType0 = $('#bannerConditionType0 :selected').val();
                var comparisonType0 = $('#bannerConditionComparisonType0 :selected').val();
                var value0_1 = $('#value0_1').val();
                var value0_2 = $('#value0_2').val();
                var value0_3 = $('#value0_3').val();
                var conditionType1 = $('#bannerConditionType1 :selected').val();
                var comparisonType1 = $('#bannerConditionComparisonType1 :selected').val();
                var value1_1 = $('#value1_1').val();
                var value1_2 = $('#value1_2').val();
                var value1_3 = $('#value1_3').val();
                var conditionType2 = $('#bannerConditionType2 :selected').val();
                var comparisonType2 = $('#bannerConditionComparisonType2 :selected').val();
                var value2_1 = $('#value2_1').val();
                var value2_2 = $('#value2_2').val();
                var value2_3 = $('#value2_3').val();
                $('[name="device"]:checked').each(function () {
                    console.log("val:" + $(this).val());
                    device += parseInt($(this).val());
                });
                console.log("device:" + device);
                window.location = "/operation/bannermanagement/checkbanner?id=" + id + "&bannerType=" + bannerType + "&url=" + url + "&imageUrl=" + imageUrl + "&fromDate=" + fromDate + "&toDate=" + toDate + "&eventId=" + eventId + "&orderNUm=" + orderNum + "&execMode=" + execMode + "&targetDevice=" + device + "&conditionType0=" + conditionType0 + "&comparisonType0=" + comparisonType0 + "&value0_1=" + value0_1 + "&value0_2=" + value0_2 + "&value0_3=" + value0_3 + "&conditionType1=" + conditionType1 + "&comparisonType1=" + comparisonType1 + "&value1_1=" + value1_1 + "&value1_2=" + value1_2 + "&value1_3=" + value1_3 + "&conditionType2=" + conditionType2 + "&comparisonType2=" + comparisonType2 + "&value2_1=" + value2_1 + "&value2_2=" + value2_2 + "&value2_3=" + value2_3;
            }));

            $('#insertCancelButton').click((function () {
                var id = $('#id').val();
                var bannerType = $('#bannerType :selected').val();
                var url = encodeURIComponent($('#url').val());
                var imageUrl = $('#imageUrl').val();
                var fromDate = $('#datepicker1').val();
                var toDate = $('#datepicker2').val();
                var eventId = $('#eventId').val();
                var orderNum = $('#orderNum').val();
                var execMode = $('#execMode').val();
                var device = 0;
                var conditionType0 = $('#bannerConditionType0 :selected').val();
                var comparisonType0 = $('#bannerConditionComparisonType0 :selected').val();
                var value0_1 = $('#value0_1').val();
                var value0_2 = $('#value0_2').val();
                var value0_3 = $('#value0_3').val();
                var conditionType1 = $('#bannerConditionType1 :selected').val();
                var comparisonType1 = $('#bannerConditionComparisonType1 :selected').val();
                var value1_1 = $('#value1_1').val();
                var value1_2 = $('#value1_2').val();
                var value1_3 = $('#value1_3').val();
                var conditionType2 = $('#bannerConditionType2 :selected').val();
                var comparisonType2 = $('#bannerConditionComparisonType2 :selected').val();
                var value2_1 = $('#value2_1').val();
                var value2_2 = $('#value2_2').val();
                var value2_3 = $('#value2_3').val();
                $('[name="device"]:checked').each(function () {
                    console.log("val:" + $(this).val());
                    device += parseInt($(this).val());
                });
                console.log("device:" + device);
                window.location = "/operation/bannermanagement/editbanner?id=" + id + "&bannerType=" + bannerType + "&url=" + url + "&imageUrl=" + imageUrl + "&fromDate=" + fromDate + "&toDate=" + toDate + "&eventId=" + eventId + "&orderNUm=" + orderNum + "&execMode=" + execMode + "&targetDevice=" + device + "&conditionType0=" + conditionType0 + "&comparisonType0=" + comparisonType0 + "&value0_1=" + value0_1 + "&value0_2=" + value0_2 + "&value0_3=" + value0_3 + "&conditionType1=" + conditionType1 + "&comparisonType1=" + comparisonType1 + "&value1_1=" + value1_1 + "&value1_2=" + value1_2 + "&value1_3=" + value1_3 + "&conditionType2=" + conditionType2 + "&comparisonType2=" + comparisonType2 + "&value2_1=" + value2_1 + "&value2_2=" + value2_2 + "&value2_3=" + value2_3;
            }));

            $('#editCancelButton').click((function () {
                window.location = "/operation/bannermanagement/";
            }));

            /***** orverlay *****/
            $('#conditionButton').click((function () {
                overlayObject1.show();
            }));

            var bannerConditionType0 = $('#bannerConditionType0 :selected').val();
            if (bannerConditionType0 != 3 && bannerConditionType0 != 6 && bannerConditionType0 != 9 && bannerConditionType0 != 10) {
                $('#value0_2').css("visibility", "hidden");
                $('#value0_3').css("visibility", "hidden");
                $('#totalScoreType0').css("visibility", "hidden");
                if (bannerConditionType0 == 7 || bannerConditionType0 == 11) {
                    $('#caution0').css("visibility", "visible");
                } else {
                    $('#caution0').css("visibility", "hidden");
                }
                $('#text0').html(GetValue1Name(bannerConditionType0));
            } else if (bannerConditionType0 != 9 && bannerConditionType0 != 10) {
                $('#value0_3').css("visibility", "hidden");
                $('#caution0').css("visibility", "hidden");
                if (bannerConditionType0 == 6) {
                    $('#totalScoreType0').css("visibility", "visible");
                } else {
                    $('#totalScoreType0').css("visibility", "hidden");
                }
                $('#text0').html(GetValue2Name(bannerConditionType0));
            } else {
                $('#text0').html(GetValue3Name(bannerConditionType0));
                $('#caution0').css("visibility", "hidden");
                $('#totalScoreType0').css("visibility", "hidden");
            }
            $('#label0_1').html(GetValue1Name(bannerConditionType0));
            $('#label0_2').html(GetValue2Name(bannerConditionType0));
            $('#label0_3').html(GetValue3Name(bannerConditionType0));

            $('#bannerConditionType0').change((function () {
                bannerConditionType0 = $('#bannerConditionType0 :selected').val();
                if (bannerConditionType0 != 3 && bannerConditionType0 != 6 && bannerConditionType0 != 9 && bannerConditionType0 != 10) {
                    $('#value0_2').css("visibility", "hidden");
                    $('#value0_3').css("visibility", "hidden");
                    $('#totalScoreType0').css("visibility", "hidden");
                    if (bannerConditionType0 == 7 || bannerConditionType0 == 11) {
                        $('#caution0').css("visibility", "visible");
                    } else {
                        $('#caution0').css("visibility", "hidden");
                    }
                    $('#text0').html(GetValue1Name(bannerConditionType0));
                } else {
                    $('#value0_2').css("visibility", "visible");
                    $('#caution0').css("visibility", "hidden");
                    if (bannerConditionType0 == 9 || bannerConditionType0 == 10) {
                        $('#value0_3').css("visibility", "visible");
                        $('#text0').html(GetValue3Name(bannerConditionType0));
                    } else {
                        $('#text0').html(GetValue2Name(bannerConditionType0));
                    }
                    if (bannerConditionType0 == 6) {
                        $('#totalScoreType0').css("visibility", "visible");
                    } else {
                        $('#totalScoreType0').css("visibility", "hidden");
                    }
                }
                $('#label0_1').html(GetValue1Name(bannerConditionType0));
                $('#label0_2').html(GetValue2Name(bannerConditionType0));
                $('#label0_3').html(GetValue3Name(bannerConditionType0));
            }));

            var bannerConditionType1 = $('#bannerConditionType1 :selected').val();
            if (bannerConditionType1 != 3 && bannerConditionType1 != 6 && bannerConditionType1 != 9 && bannerConditionType1 != 10) {
                $('#value1_2').css("visibility", "hidden");
                $('#value1_3').css("visibility", "hidden");
                $('#totalScoreType1').css("visibility", "hidden");
                if (bannerConditionType1 == 7 || bannerConditionType1 == 11) {
                    $('#caution1').css("visibility", "visible");
                } else {
                    $('#caution1').css("visibility", "hidden");
                }
                $('#text1').html(GetValue1Name(bannerConditionType1));
            } else if (bannerConditionType1 != 9 && bannerConditionType1 != 10) {
                $('#value1_3').css("visibility", "hidden");
                $('#caution1').css("visibility", "hidden");
                if (bannerConditionType1 == 6) {
                    $('#totalScoreType1').css("visibility", "visible");
                } else {
                    $('#totalScoreType1').css("visibility", "hidden");
                }
                $('#text1').html(GetValue2Name(bannerConditionType1));
            } else {
                $('#text1').html(GetValue3Name(bannerConditionType1));
                $('#caution1').css("visibility", "hidden");
                $('#totalScoreType1').css("visibility", "hidden");
            }
            $('#label1_1').html(GetValue1Name(bannerConditionType1));
            $('#label1_2').html(GetValue2Name(bannerConditionType1));
            $('#label1_3').html(GetValue3Name(bannerConditionType1));

            $('#bannerConditionType1').change((function () {
                bannerConditionType1 = $('#bannerConditionType1 :selected').val();
                if (bannerConditionType1 != 3 && bannerConditionType1 != 6 && bannerConditionType1 != 9 && bannerConditionType1 != 10) {
                    $('#value1_2').css("visibility", "hidden");
                    $('#value1_3').css("visibility", "hidden");
                    $('#totalScoreType1').css("visibility", "hidden");
                    if (bannerConditionType1 == 7 || bannerConditionType1 == 11) {
                        $('#caution1').css("visibility", "visible");
                    } else {
                        $('#caution1').css("visibility", "hidden");
                    }
                    $('#text1').html(GetValue1Name(bannerConditionType1));
                } else {
                    $('#value1_2').css("visibility", "visible");
                    $('#caution1').css("visibility", "hidden");
                    if (bannerConditionType1 == 9 || bannerConditionType1 == 10) {
                        $('#value1_3').css("visibility", "visible");
                        $('#text1').html(GetValue3Name(bannerConditionType1));
                    } else {
                        $('#text1').html(GetValue2Name(bannerConditionType1));
                    }
                    if (bannerConditionType1 == 6) {
                        $('#totalScoreType1').css("visibility", "visible");
                    } else {
                        $('#totalScoreType1').css("visibility", "hidden");
                    }
                }
                $('#label1_1').html(GetValue1Name(bannerConditionType1));
                $('#label1_2').html(GetValue2Name(bannerConditionType1));
                $('#label1_3').html(GetValue3Name(bannerConditionType1));
            }));

            var bannerConditionType2 = $('#bannerConditionType2 :selected').val();
            if (bannerConditionType2 != 3 && bannerConditionType2 != 6 && bannerConditionType2 != 9 && bannerConditionType2 != 10) {
                $('#value2_2').css("visibility", "hidden");
                $('#value2_3').css("visibility", "hidden");
                $('#totalScoreType2').css("visibility", "hidden");
                if (bannerConditionType2 == 7 || bannerConditionType2 == 11) {
                    $('#caution2').css("visibility", "visible");
                } else {
                    $('#caution2').css("visibility", "hidden");
                }
                $('#text2').html(GetValue1Name(bannerConditionType2));
            } else if (bannerConditionType2 != 9 && bannerConditionType2 != 10) {
                $('#value2_3').css("visibility", "hidden");
                $('#caution2').css("visibility", "hidden");
                if (bannerConditionType2 == 6) {
                    $('#totalScoreType2').css("visibility", "visible");
                } else {
                    $('#totalScoreType2').css("visibility", "hidden");
                }
                $('#text2').html(GetValue2Name(bannerConditionType2));
            } else {
                $('#text2').html(GetValue3Name(bannerConditionType2));
                $('#caution2').css("visibility", "hidden");
                $('#totalScoreType2').css("visibility", "hidden");
            }
            $('#label2_1').html(GetValue1Name(bannerConditionType2));
            $('#label2_2').html(GetValue2Name(bannerConditionType2));
            $('#label2_3').html(GetValue3Name(bannerConditionType2));

            $('#bannerConditionType2').change((function () {
                bannerConditionType2 = $('#bannerConditionType2 :selected').val();
                if (bannerConditionType2 != 3 && bannerConditionType2 != 6 && bannerConditionType2 != 9 && bannerConditionType2 != 10) {
                    $('#value2_2').css("visibility", "hidden");
                    $('#value2_3').css("visibility", "hidden");
                    $('#totalScoreType2').css("visibility", "hidden");
                    if (bannerConditionType2 == 7 || bannerConditionType2 == 11) {
                        $('#caution2').css("visibility", "visible");
                    } else {
                        $('#caution2').css("visibility", "hidden");
                    }
                    $('#text2').html(GetValue1Name(bannerConditionType2));
                } else {
                    $('#value2_2').css("visibility", "visible");
                    $('#caution2').css("visibility", "hidden");
                    if (bannerConditionType2 == 9 || bannerConditionType2 == 10) {
                        $('#value2_3').css("visibility", "visible");
                        $('#text2').html(GetValue3Name(bannerConditionType2));
                    } else {
                        $('#text2').html(GetValue2Name(bannerConditionType2));
                    }
                    if (bannerConditionType2 == 6) {
                        $('#totalScoreType2').css("visibility", "visible");
                    } else {
                        $('#totalScoreType2').css("visibility", "hidden");
                    }
                }
                $('#label2_1').html(GetValue1Name(bannerConditionType2));
                $('#label2_2').html(GetValue2Name(bannerConditionType2));
                $('#label2_3').html(GetValue3Name(bannerConditionType2));
            }));

            $('#closeButton').click((function () {
                overlayObject1.close();
            }));

            var format1 = { dateFormat: 'yy/mm/dd 00:00:00' };
            var format2 = { dateFormat: 'yy/mm/dd 23:59:59' };

            $('#datepicker1').datepicker(format1);
            $('#datepicker2').datepicker(format2);

        });
        function GetValue1Name(conditionType) {
            console.log(conditionType);
            switch (conditionType) {
                case '1': return '@ConditionValue1.日数.ToString()';
                case '2': return '@ConditionValue1.Level.ToString()';
                case '3': return '@ConditionValue1.ランク.ToString()';
                case '4': return '@ConditionValue1.人数.ToString()';
                case '5': return '@ConditionValue1.DutyId.ToString()';
                case '6': return '@ConditionValue1.勝敗.ToString()';
                case '7': return '@ConditionValue1.HomeTownId.ToString()';
                case '8': return '@ConditionValue1.LeagueId.ToString()';
                case '9': return '@ConditionValue1.ItemType.ToString()';
                case '10': return '@ConditionValue1.EventType.ToString()';
                case '11': return '@ConditionValue1.UserId.ToString()';
                default: return '条件指定不可';
            }
        }
        function GetValue2Name(conditionType) {
            switch (conditionType) {
                case '3': return '@ConditionValue2.枚数.ToString()';
                case '6': return '@ConditionValue2.通算数.ToString()';
                case '9': return '@ConditionValue2.ItemId.ToString()';
                case '10': return '@ConditionValue2.EventId.ToString()';
                default: return '条件指定不可';
            }
        }
        function GetValue3Name(conditionType) {
            switch (conditionType) {
                case '9': return '@ConditionValue3.所持数.ToString()';
                case '10': return '@ConditionValue3.ランキング.ToString()';
                default: return '条件指定不可';
            }
        }
    </script>
}

<h2>@ViewBag.Title</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrMessage))
{
    <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrMessage</label></span>
}

<table>
    <tbody>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;ID</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                @if (typeStatus == 1 || typeStatus == 2)
                {
                    <input type="hidden" id="id" value="@ViewBag.editModel.BannerId"/>
                    @ViewBag.editModel.BannerId
                }
                else
                {
                    <input type="text" id="id" style="width: 500px" value="@ViewBag.editModel.BannerId"/><br />
                }
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;タイプ</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                <select name="bannerType" id="bannerType">
                    @foreach (var type in bannerTypes)
                    {
                        if (@type.GetHashCode() == bannerType)
                        {
                            <option value="@type.GetHashCode()" selected="selected">@type.GetHashCode():@type</option>
                        }
                        else
                        {
                            <option value="@type.GetHashCode()">@type.GetHashCode():@type</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;リンクURL</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                @if (typeStatus == 2)
                {
                    <input type="hidden" id="url" value="@ViewBag.editModel.Url"/>
                    @exUrl
                }
                else
                {
                    <input type="text" id="url" style="width: 500px" value="@ViewBag.editModel.Url"/><br />
                    <span>ex.)&nbsp;@exUrl</span>
                }
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;画像URL</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                <input type="hidden" id="imageUrl" value="@ViewBag.editModel.ImageUrl"/>
                @ViewBag.editModel.ImageUrl<br />
                <img src="@ViewBag.editModel.ImageUrl" /><br />
                @if (typeStatus == 2 || !string.IsNullOrEmpty(ViewBag.editModel.ImageUrl))
                {
                    <span style="color: red;">※画像が表示されていない場合は環境に画像があがっていません</span>
                }
                else
                {
                    <span style="color: red;">※動的に生成されます</span>
                }
            </td>
        </tr>         
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;掲載開始日</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                @if (typeStatus == 2)
                {
                    <input type="hidden" id="datepicker1" value="@ViewBag.editModel.FromDate"/>
                    @ViewBag.editModel.FromDate
                }
                else
                {
                    <input type="text" id="datepicker1" maxlength="19" name="fromDate" value="@ViewBag.editModel.FromDate" style="width:500px" />
                    <span>ex.)&nbsp;@ViewBag.Now</span>
                }
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;掲載終了日</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                @if (typeStatus == 2)
                {
                    <input type="hidden" id="datepicker2" value="@ViewBag.editModel.ToDate"/>
                    @ViewBag.editModel.ToDate
                }
                else
                {
                    <input type="text" id="datepicker2" maxlength="19" name="toDate" value="@ViewBag.editModel.ToDate" style="width:500px" />
                    <span>ex.)&nbsp;@ViewBag.Now</span>
                }
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;イベントID</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                @if (typeStatus == 2)
                {
                    <input type="hidden" id="eventId" value="@ViewBag.editModel.EventId"/>
                    @ViewBag.editModel.EventId
                }
                else
                {
                    <input type="text" id="eventId" style="width: 500px" value="@ViewBag.editModel.EventId"/><br />
                }
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;表示順</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                @if (typeStatus == 2)
                {
                    <input type="hidden" id="orderNum" value="@ViewBag.editModel.OrderNum"/>
                    @ViewBag.editModel.OrderNum
                }
                else
                {
                    <input type="text" id="orderNum" style="width: 500px" value="@ViewBag.editModel.OrderNum"/><br />
                }
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;バナー表示条件</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                <input type="button" value="条件表示" id="conditionButton"/><span style="color: red;">&nbsp;※9:アイテム保持と10:イベント成績については適宜追加してください。</span><br />
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;デバイス</td>
            <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                iOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @if (ViewBag.editModel.TargetDevice.IsIos)
                {
                    <input type="checkbox" name="device" id="targetDeviceIos" value="@ViewBag.editModel.DeviceType.Ios" style="width: 20px; height: 20px" checked /><br />
                }
                else
                {
                    <input type="checkbox" name="device" id="targetDeviceIos" value="@ViewBag.editModel.DeviceType.Ios" style="width: 20px;height: 20px" /><br />
                }
                Android &nbsp;
                @if (ViewBag.editModel.TargetDevice.IsAndroid)
                {
                    <input type="checkbox" name="device" id="targetDeviceAndroid" value="@ViewBag.editModel.DeviceType.Android" style="width: 20px; height: 20px" checked /><br />
                }
                else
                {
                    <input type="checkbox" name="device" id="targetDeviceAndroid" value="@ViewBag.editModel.DeviceType.Android" style="width: 20px; height: 20px" /><br />
                }
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left">&nbsp;
                @if (typeStatus == 2)
                {
                    <input type="button" value="挿入" id="insertButton"/> <input type="button" value="キャンセル" id="insertCancelButton"/>
                }
                else
                {
                    <input type="button" value="確認" id="checkButton"/> <input type="button" value="キャンセル" id="editCancelButton"/>
                }
            </td>
        </tr>
    </tbody>
</table>
<input type="hidden" id="typeStatus" value="@typeStatus" />
<input type="hidden" id="execMode" value="@execMode" />

<!-- overlay 条件 -->
<div id="ol-result" class="overlay" style="height: 320px; width: 100%">
    <div class="overlay-inner">
        @for ( var i = 0 ; i < InazumaCode.BANNER_CONDITION_NUM ; i++ )
        {
            var conditionNo = i + 1;
            <table>
                <tbody>
                    <tr>
                        <td colspan="2" style="text-align: left; background-color: lightcoral">&nbsp;<span style="font-size: large; font-weight: bold; color: yellow">バナー表示条件@{@conditionNo}</span></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;条件タイプ</td>
                        <td class="tdValue" style="width: 400px; text-align: left; background-color: lightyellow">
                            <select name="bannerConditionType@{@i}" id="bannerConditionType@{@i}">
                                @foreach (var conditionType in bannerConditionTypes)
                                {
                                    if ( conditionType.GetHashCode() == conditions[i].ConditionType )
                                    {
                                        <option value="@conditionType.GetHashCode()" selected="selected">@conditionType.GetHashCode():@conditionType</option>
                                    }
                                    else
                                    {
                                        <option value="@conditionType.GetHashCode()">@conditionType.GetHashCode():@conditionType</option>
                                    }
                                }
                            </select>
                            <span style="color: red;">&nbsp;※同一条件は複数指定できません。</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;比較演算子</td>
                        <td class="tdValue" style="width: 400px; text-align: left; background-color: lightyellow">
                            指定「<span id="text@{@i}">条件値</span>」
                            <select name="bannerConditionComparisonType@{@i}" id="bannerConditionComparisonType@{@i}">
                                @foreach (var comparisonType in bannerConditionComparisonTypes)
                                {
                                    if ( comparisonType.GetHashCode() == conditions[i].ComparisonType )
                                    {
                                        <option value="@comparisonType.GetHashCode()" selected="selected">@comparisonType</option>
                                    }
                                    else
                                    {
                                        <option value="@comparisonType.GetHashCode()">@comparisonType</option>
                                    }
                                }
                            </select>
                            <span id="caution@{@i}" style="color: red; font-size: 12px">&nbsp;※『同値』しか選択しないでください。</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;<span id="label@{@i}_1">条件値2</span></td>
                        <td class="tdValue" style="width: 400px; text-align: left; background-color: lightyellow">
                            @if ( typeStatus == 2 )
                            {
                                <input type="hidden" id="value@{@i}_1" value="@conditions[i].Value1"/>
                                @conditions[i].Value1
                                <span id="totalScoreType@{@i}" style="color: red; font-size: 12px">&nbsp;1: 勝利数　2: 敗北数　3: 引分け数</span>
                            }
                            else
                            {
                                <input type="text" id="value@{@i}_1" style="width: 115px" value="@conditions[i].Value1"/>
                                <span id="totalScoreType@{@i}" style="font-size: 12px">&nbsp;1: 勝利数　2: 敗北数　3: 引分け数</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;<span id="label@{@i}_2">条件値2</span></td>
                        <td class="tdValue" style="width: 400px; text-align: left; background-color: lightyellow">
                            @if ( typeStatus == 2 )
                            {
                                <input type="hidden" id="value@{@i}_2" value="@conditions[i].Value2"/>
                                @conditions[i].Value2
                            }
                            else
                            {
                                <input type="text" id="value@{@i}_2" style="width: 115px" value="@conditions[i].Value2"/><br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;<span id="label@{@i}_3">条件値3</span></td>
                        <td class="tdValue" style="width: 400px; text-align: left; background-color: lightyellow">
                            @if ( typeStatus == 2 )
                            {
                                <input type="hidden" id="value@{@i}_3" value="@conditions[i].Value3"/>
                                @conditions[i].Value3
                            }
                            else
                            {
                                <input type="text" id="value@{@i}_3" style="width: 115px" value="@conditions[i].Value3"/><br />
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        }

        <div class="ol-btn-wrap">
            <input type="button" value="閉じる" id="closeButton"/><br />
        </div>
    </div>
    <div style="float: left; padding-left: 10px;">
        <table>
            <tbody>
                <tr>
                    <td style="width: 250px; text-align: left; background-color: aquamarine">&nbsp;<span style="font-size: large; font-weight: bold; color: navy">カードランク</span></td>
                </tr>
                @foreach ( var rankType in rankTypes )
                {
                    <tr>
                        <td style="width: 250px; text-align: left; background-color: lightyellow; border-top: 0px; border-bottom: 0px">
                            <span>&nbsp;@rankType.GetHashCode() : @rankType</span><br />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td style="width: 250px; text-align: left; background-color: aquamarine">&nbsp;<span style="font-size: large; font-weight: bold; color: navy">リーグID</span></td>
                </tr>
                @foreach ( var leagueMaster in leagueMasterList )
                {
                    <tr>
                        <td style="width: 250px; text-align: left; background-color: lightyellow; border-top: 0px; border-bottom: 0px">
                            <span>&nbsp;@leagueMaster.LeagueId : @leagueMaster.LeagueName</span><br />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td style="width: 250px; text-align: left; background-color: aquamarine">&nbsp;<span style="font-size: large; font-weight: bold; color: navy">アイテムタイプ</span></td>
                </tr>
                @foreach ( var itemType in itemTypes )
                {
                    <tr>
                        <td style="width: 250px; text-align: left; background-color: lightyellow; border-top: 0px; border-bottom: 0px">
                            <span>&nbsp;@itemType.GetHashCode() : @itemType</span><br />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="float: right; padding-left: 10px;">
        <table>
            <tbody>
                <tr>
                    <td style="width: 250px; text-align: left; background-color: aquamarine">&nbsp;<span style="font-size: large; font-weight: bold; color: navy">ホームタウン</span></td>
                </tr>
                @foreach ( var town in homeTown )
                {
                    <tr>
                        <td style="width: 250px; text-align: left; background-color: lightyellow; border-top: 0px; border-bottom: 0px">
                            <span>&nbsp;@town.GetHashCode() : @town</span><br />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    // 予め定義しておかないと呼べない(スコープの問題)
    var overlayObject1;

    window.addEventListener("load", function () {
        (function () {
            /* オーバーレイ
			-----------------------------------------------------------------------------------------------*/
            // HTML側にべた書きする設定系初期化処理
            // var overlayObject = new Overlay({
            // overlayElem: document.getElementById('オーバーレイとして開きたい要素のID'),
            // showBtnElem: document.getElementsByClassName('オーバーレイを開く時にトリガーにするボタンとかのCLASS'),
            // closeBtnElem: document.getElementById('オーバーレイ閉じるときにトリガーにするボタンとかのID'),
            // openFadeTime: 200,	//設定しなくても可(メニュー開けるときのアニメーション速度)
            // closeFadeTime: 1,	//設定しなくても可(メニュー閉じるときのアニメーション速度)
            // backgroundColor: 'rgba(0, 0, 0, 0.8)',	//設定しなくても可(メニュー開いてるときの背景の色指定)
            // overlayTopMargin: 50,	//設定しなくても可(メニュー要素が画面上から何PXあけるか)
            // });
            (function (window, document) {
                var Overlay = function Overlay(args) {
                    return this instanceof Overlay ? this.init(args) : new Overlay(args);
                };

                Overlay.prototype = {
                    overlayElem: undefined,
                    showBtnElem: undefined,
                    closeBtnElem: undefined,
                    backgroundElem: undefined,
                    overlayStyle: {},
                    backgroundStyle: {},
                    overlayTopMargin: 50,
                    openFadeTime: 200,
                    closeFadeTime: 1,
                    backgroundColor: 'rgba(0, 0, 0, 0.8)',
                    hideCloseButton: false,
                };
                Overlay.prototype.init = function (arg) {
                    if (arg.backgroundColor) this.backgroundColor = arg.backgroundColor;
                    if (arg.overlayTopMargin) this.overlayTopMargin = arg.overlayTopMargin;
                    if (arg.openFadeTime) this.openFadeTime = arg.openFadeTime;
                    if (arg.closeFadeTime) this.closeFadeTime = arg.closeFadeTime;
                    if (arg.hideCloseButton) this.hideCloseButton = arg.hideCloseButton;
                    this.overlayElem = arg.overlayElem;
                    this.showBtnElem = arg.showBtnElem;
                    this.closeBtnElem = arg.closeBtnElem;
                    this.overlayStyle = this.overlayElem.style;
                    this.createBackground();
                    this.setOverlayStyle();
                    var self = this;
                    if (this.showBtnElem) {
                        if (this.showBtnElem.length > 1) {
                            for (var i = 0, len = this.showBtnElem.length; i < len; i++) {
                                this.showBtnElem[i].addEventListener('click', function () {
                                    self.show();
                                }, false);
                            }
                        } else if (this.showBtnElem.length > 0) {
                            this.showBtnElem[0].addEventListener('click', function () {
                                self.show();
                            }, false);
                        }
                    }

                    if (arg.closeBtnElem) {
                        if (this.classOf(this.closeBtnElem) == 'array') {
                            for (var i = 0, len = this.closeBtnElem.length; i < len; i++) {
                                this.closeBtnElem[i].addEventListener('click', function () {
                                    self.hide();
                                }, false);
                            }
                        } else {
                            this.closeBtnElem.addEventListener('click', function () {
                                self.hide();
                            }, false);
                        }
                    }
                };
                Overlay.prototype.classOf = function (obj) {
                    if (typeof obj == "object") {
                        if (obj.length != undefined) return "array";
                        else {
                            for (t in obj) {
                                if (obj[t] != undefined) return "hash";
                                else return "object";
                            }
                        }
                    }
                    return (typeof obj);
                };
                Overlay.prototype.setOverlayStyle = function () {
                    this.overlayStyle.position = 'absolute';
                    this.overlayStyle.zIndex = '1';
                    this.overlayStyle.display = 'none';
                    this.overlayStyle.display = 'none';
                    this.overlayElem.style['-webkit-transform'] = "scale(0.5,0.5)";
                    this.overlayElem.style['opacity'] = "0";
                    this.overlayElem.style.width = "1055px";
                };
                Overlay.prototype.createBackground = function () {
                    var background = document.getElementById('js-overlay');
                    if (background) {
                        this.backgroundElem = background;
                        this.backgroundStyle = this.backgroundElem.style;
                    } else {
                        this.backgroundElem = document.createElement('div');
                        this.backgroundElem.id = 'js-overlay';
                        this.backgroundStyle = this.backgroundElem.style;
                        this.backgroundStyle.position = 'absolute';
                        this.backgroundStyle.top = '0';
                        this.backgroundStyle.left = '0';
                        this.backgroundStyle.width = '100%';
                        var x = window.innerWidth; //$(window).width();
                        var zoom = x / 450;
                        if (zoom > 2) zoom = 2;
                        if (zoom < 1) zoom = 1;
                        this.backgroundStyle.height = document.body.offsetHeight * zoom + 'px';
                        this.backgroundStyle.zIndex = '110';
                        this.backgroundStyle.background = this.backgroundColor;
                        this.backgroundStyle.display = 'none';
                        this.backgroundStyle.opacity = '0';

                        document.body.appendChild(this.backgroundElem);
                    }
                };
                Overlay.prototype.show = function () {
                    var x = window.innerWidth; //$(window).width();
                    var zoom = x / 450;
                    if (zoom > 2) zoom = 2;
                    if (zoom < 1) zoom = 1;
                    var top = (document.documentElement.scrollTop || document.body.scrollTop) + this.overlayTopMargin;
                    top = top / zoom;
                    var self = this;
                    this.overlayStyle.display = 'block';
                    this.overlayStyle.left = '0';
                    this.overlayStyle.right = '0';
                    this.overlayStyle.top = top + "px";
                    this.overlayStyle.zIndex = '120';
                    this.overlayStyle.margin = '0 auto';
                    this.overlayElem.style['-webkit-transition-duration'] = this.openFadeTime + 'ms';
                    this.backgroundStyle.display = 'block';
                    this.backgroundStyle['-webkit-transition-duration'] = this.openFadeTime + 'ms';
                    setTimeout(function () {
                        self.overlayStyle['-webkit-transform'] = 'scale(1,1)';
                        self.overlayStyle.opacity = '1';
                        self.backgroundStyle.opacity = '1';
                    }, 1);
                };
                Overlay.prototype.hide = function () {
                    var self = this;
                    this.overlayStyle['-webkit-transform'] = 'scale(0.5,0.5)';
                    this.overlayStyle.opacity = '0';
                    this.backgroundStyle.opacity = '0';
                    setTimeout(function () {
                        self.overlayElem.removeEventListener('webkitTransitionEnd');
                        self.backgroundElem.removeEventListener('webkitTransitionEnd');
                        self.overlayElem.style['-webkit-transition-duration'] = '';
                        self.backgroundStyle['-webkit-transition-duration'] = '';
                        self.backgroundStyle.display = 'none';
                        self.overlayStyle.display = 'none';
                    }, this.closeFadeTime);
                };
                Overlay.prototype.closeCommonButton;
                createFromHTML = function (html) {
                    var el;
                    el = document.createElement('div');
                    el.innerHTML = html;
                    return el.children[0];
                };
                window.Overlay = Overlay;

                (function () {

                    overlayObject1 = new Overlay({
                        overlayElem: document.getElementById('ol-result'), //表示させたい要素
                        showBtnElem: undefined, 	//開くトリガーになるボタン
                        closeBtnElem: document.getElementById('closeButton'),	//閉じるトリガーになるボタン
                        openFadeTime: 200,			//設定しなくても可(メニュー開けるときのアニメーション速度)
                        closeFadeTime: 1,			//設定しなくても可(メニュー閉じるときのアニメーション速度)
                        backgroundColor: 'rgba(0, 0, 0, 0.8)',	//設定しなくても可(メニュー開いてるときの背景の色指定)
                        overlayTopMargin: 50,		//設定しなくても可(メニュー要素が画面上から何PXあけるか)
                    });
                })();

            })(window, document);
        })();
    });
</script>
