﻿@using Inazuma.Core.Common
@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers
@{
    ViewBag.Title = "バナー管理";
    var all = ViewBag.Type != 1;
    var publish = ViewBag.Type != 2;
    var unPublish = ViewBag.Type != 3;
    var bannerGrid = new WebGrid(ViewBag.Data, null, "FromDate", 999);
}

@section styles
{
    <style type="text/css">
        th {text-align: center;background-color: aquamarine }
        .product { width: 40px }
        .image {width: 200px;text-align: center }
        .type {width: 150px;text-align: left }
        .date { width: 150px }
        .icon {width: 18px;height: 18px;margin-right: 5px;float: left;background-color: blue;color: white;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
        .bg-reflected-0, .bg-reflected-1, .bg-reflected-2, .bg-reflected-3 {display: block;width: 100%;font-weight: bold;}
        .bg-reflected-0 {background-color: red;color: #ffffff;}
        .bg-reflected-1 {background-color: yellow;color: #FF8020;}
        .bg-reflected-2 {background-color: orangered;color: #ffffff;}
        .bg-reflected-3 {background-color: green;color: #ffffff;}
        .bg-reflected-0 span, .bg-reflected-1 span, .bg-reflected-2 span, .bg-reflected-3 span {display: table-cell;height: 101px;vertical-align: middle;}
    </style> 
}

@section scripts
{
    <script type="text/javascript">
        $('.edit_button').click((function() {
            window.location = "/operation/BannerManagement/EditBanner?id=" + $(this).attr("id");
        }));

        $('#newButton').click((function() {
            window.location = "/operation/BannerManagement/EditBanner?id=0";
        }));

        $('#timeButton').click((function() {
            window.location = "/operation/bannermanagement/index?type=1&sortdir=DESC&time=" + $('#time').val();
        }));

        $('#timeResetButton').click((function() {
            window.location = "/operation/bannermanagement/index?type=1&sortdir=DESC";
        }));
    </script>
}

<h2>@ViewBag.Title</h2>
<br />

<div>
    <input type="button" value="新規作成" id="newButton"/>
</div>

<br />
@if (@all)
{
    <span>[<a href="/operation/bannermanagement/index?type=1&sortdir=DESC" style="color: deepskyblue">全て</a> |</span>
}
else
{
    <span>[全て |</span>
}
@if (@publish)
{
    <span> <a href="/operation/bannermanagement/index?type=2" style="color: deepskyblue">掲載中</a> |</span>
}
else
{
    <span> 掲載中 |</span>
}
@if (@unPublish)
{
    <span> <a href="/operation/bannermanagement/index?type=3" style="color: deepskyblue">掲載終了</a>]</span>
}
else
{
    <span> 掲載終了]</span>
}

<div>
    <span style="text-align: center" class='icon'>I</span>iOS<br/>
    <span style="text-align: center" class='icon'>A</span>Android
</div>

@if (!all)
{
    <table>
        <tbody>
            <tr>
                <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;時間指定</td>
                <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                    <input type="text" id="time" maxlength="19" style="width: 500px" value="@ViewBag.Time"/><br />
                    <span>ex.)&nbsp;@ViewBag.Now</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <input type="button" value="指定した時間で絞込み" id="timeButton"/>
        <input type="button" value="絞込み解除" id="timeResetButton"/>
    </div>
}
<br />
@bannerGrid.GetHtml(
    columns: bannerGrid.Columns(
        bannerGrid.Column(format: @<input type="button" value="編集" id="@item.BannerId" class="edit_button" />),
        bannerGrid.Column("BannerId", "ID", style: "product"),
        bannerGrid.Column("StrBannerType", "バナータイプ", style: "type"),
        bannerGrid.Column("ImageUrl", "画像", style: "image", format: @<img src="@item.ImageUrl" />),
        bannerGrid.Column("FromDate", "掲載開始日時", style: "date"),
        bannerGrid.Column("ToDate", "掲載終了日時", style: "date"),
        bannerGrid.Column("EventId", "イベントID"),
        bannerGrid.Column("OrderNum", "表示順"),
        bannerGrid.Column("ConditionNum", "条件数"),
        bannerGrid.Column("BannerId", "デバイス", format: @<div style="text-align: center">@Html.Raw(item.TargetDeviceHtml)</div>)
        ,bannerGrid.Column("OpenStatus", "公開状況", format: @<div class="bg-reflected-@item.OpenStatus"><span>@((OpenStatus) item.OpenStatus)</span></div>)
        ,bannerGrid.Column("ReflectionStaus", "反映状況", format: @<div class="bg-reflected-@item.ReflectionStaus"><span>@((ReflectionStaus) item.ReflectionStaus)</span></div>)
    )
)
