﻿@model Edge.Web.DebugWebRole.Models.ViewModel.UserViewModel
@{
    ViewBag.Title = "ユーザID変更";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    @using (Html.BeginForm("Create", "UserId", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>UserId:</label>
        <input type="text" name="UserId" value="@Model.UserId"/>
        <input type="submit" value="変更"/>
    }
</div>
