﻿@model dynamic

@{
    ViewBag.Title = "ダッシュボード";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(ViewBag.data, null, "日付", 31);
    var monthlyGrid = new WebGrid(ViewBag.MonthlyData, null, "Date", 999);
}

@section styles
{
    <style type="text/css">
        .medium { font-size: small }
        .Strong { color: red }
        .Weak { color: blue }
        #restPaymentForecast { font-size: 20px }
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            var format = { dateFormat: 'yy-mm-dd' };
            $('#datepicker1').datepicker(format);
            $('#datepicker2').datepicker(format);
            $('#currentPaymentForecast').text(SplitComma($('#currentPaymentForecast').text()));

            // 当月目標値差分
            var d = new Date();
            var currentMonth = (d.getMonth() + 1);
            var currentYearMonth = currentMonth.length > 1 ? currentMonth : "0" + currentMonth;
            if ($('#datepicker1').val().indexOf(currentYearMonth) != -1) {
                var monthlyElmnt = $('.MonthlyData tr:last');
                var monthlyPayment = monthlyElmnt.find('.MonthlyPayment').text();
                var monthlyPaymentForecast = $('#currentPaymentForecast').text();
                if (monthlyPaymentForecast != 0) {
                    var restMonthlyPayment = parseInt(monthlyPayment.replace(/,/g, '')) - parseInt(monthlyPaymentForecast.replace(/,/g, ''));
                    var restMonthlyStr = restMonthlyPayment >= 0 ? "当月目標達成!超過分" : "当月目標達成まで";
                    var formatRestMonthlyPayment = SplitComma(new String(restMonthlyPayment));
                    while (formatRestMonthlyPayment != (formatRestMonthlyPayment = formatRestMonthlyPayment.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
                    $('#restPaymentForecast').addClass(restMonthlyPayment >= 0 ? "Weak" : "Strong").text(restMonthlyStr + formatRestMonthlyPayment).css('style:block;');
                    $('#currentPaymentForecastDiv').show();
                }
            } else {
                $('#restPaymentForecast').css('style:none');
                $('#currentPaymentForecastDiv').hide();
            }

            $('#showButton').click((function() {
                var from = $('#datepicker1').val();
                var to = $('#datepicker2').val();
                window.location = "/dashboard/default?from=" + from + "&to=" + to;
            }));

            // 達成度合い
            $('.AchievementRate').each(function() {
                if ($(this).text().replace('%', '') >= 100) {
                    $(this).addClass("Weak");
                } else {
                    $(this).addClass("Strong");
                }
            });
        });

        function SplitComma(rawNum) {
            var num = rawNum.replace(/,/g, "");
            while (num != (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));
            return num;
        }

    </script>
}

<h2>@ViewBag.Title</h2>

<div class="medium">Date: <input type="text" id="datepicker1" value="@ViewBag.From"/> ~ <input type="text" id="datepicker2" value="@ViewBag.To"/> <input type="button" value="表示" id="showButton"/></div>
<br/>
<strong id="restPaymentForecast"></strong><br/>
<div id="currentPaymentForecastDiv">
    <span>当月決済目標値:</span><strong id="currentPaymentForecast">@ViewBag.TotalCurrentPaymentForecast</strong><br/>
</div>

<p>※当月、当日データは5分間キャッシュしています。</p>
<table>
    <thead>
        <tr>
            <th rowspan="2">日付</th>
            <th colspan="3">売上</th>
            <th colspan="3">DAU</th>
            <th rowspan="2">PayedUser</th>
            <th rowspan="2">ショップ消費コイン</th>
            <th rowspan="2">ショップ消費コインUU</th>
            <th rowspan="2">視察消費コイン</th>
            <th rowspan="2">視察消費コインUU</th>
            <th rowspan="2">ガチャ消費コイン</th>
            <th rowspan="2">ガチャ消費コインUU</th>
            <th rowspan="2">決済予測</th>
            <th rowspan="2">達成率</th>
        </tr>
        <tr>
            <th>TOTAL</th>
            <th>iOS</th>
            <th>Android</th>
            <th>TOTAL</th>
            <th>iOS</th>
            <th>Android</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in ViewBag.data)
        {
            <tr>
                <td>@m.日付</td>
                <td>@m.売上</td>
                <td>@m.iOS売上</td>
                <td>@m.Android売上</td>
                <td>@m.DAU</td>
                <td>@m.iOSDAU</td>
                <td>@m.AndroidDAU</td>
                <td>@m.PayedUser</td>
                <td>@m.ショップ消費コイン</td>
                <td>@m.ショップ消費コインUU</td>
                <td>@m.視察消費コイン</td>
                <td>@m.視察消費コインUU</td>
                <td>@m.ガチャ消費コイン</td>
                <td>@m.ガチャ消費コインUU</td>
                <td>@m.決済予測</td>
                <td class="AchievementRate">@m.達成率%</td>
            </tr>
        }
    </tbody>
</table>

<p>※当月の決済予測の数値は、当日までの合計となっています。</p>

@monthlyGrid.GetHtml(
    tableStyle: "MonthlyData",
    columns: monthlyGrid.Columns(
    monthlyGrid.Column("日付", "年月", style: "product"),
    monthlyGrid.Column("売上", "コイン売上", style: "MonthlyPayment"),
    monthlyGrid.Column("PayedUser", "PayedUser"),
    monthlyGrid.Column("決済予測", "決済予測", style: "MonthlyPaymentForecast"),
    monthlyGrid.Column("達成率", "達成率", format: @<div class="AchievementRate">@item.達成率%</div>)
    )
)