﻿@using Inazuma.Web.AdminWebRole.Areas.Analytics.Controllers
@using Inazuma.Web.AdminWebRole.Areas.Report.Controls
@model dynamic

@{
    ViewBag.Title = "新規作成";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewBag.DatabaseList;
    var selectList = new SelectList(DatabaseDataSource.databases, DatabaseDataSource.databases);
}

<h2>@ViewBag.Title</h2>
@{
    Html.BeginForm("AddNewAction");
}
<table>
    <tr><td>カテゴリ</td><td>@Html.TextBox("Category")</td></tr>
    <tr><td>タイトル</td><td>@Html.TextBox("name")</td></tr>
    <tr><td>クエリ</td><td>@Html.TextArea("Query")</td></tr>
    <tr><td>データベース</td><td>@Html.DropDownList("server",selectList)</td></tr>
    <tr><td colspan="2">@Html.ActionLink("挿入","AddNewAction", "Report",null, htmlAttributes: null)</td></tr>
</table>
        
        
@{
    Html.EndForm();
}

