﻿@using System.Dynamic
@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var result = new List<dynamic>();

    foreach (var emprow in ViewBag.data)
    {
        var row = (IDictionary<string, object>)new ExpandoObject();
        var eachEmpRow = (Dictionary<string, object>)emprow;

        foreach (KeyValuePair<string, object> keyValuePair in eachEmpRow)
        {
            row.Add(keyValuePair);
        }
        result.Add(row);
    }
    var grid = new WebGrid(result,rowsPerPage:10);
}

@if (@Model != null)
{
    @grid.GetHtml(tableStyle: "grid", headerStyle: "head", alternatingRowStyle: "alt");
}

<h2>@ViewBag.Title</h2>

@grid.GetHtml(
tableStyle: "grid", headerStyle: "head", alternatingRowStyle: "alt"
)
