﻿@model dynamic

@{
    ViewBag.Title = "カスタムレポート一覧";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(ViewBag.data, null);
}


<h2>Index</h2>
@Html.ActionLink("新規作成","GetDetail", "Report",null, htmlAttributes: null)
<hr/>


@grid.GetHtml(
    columns: grid.Columns(
        
        grid.Column("ID", "ID", style:"product"),
        grid.Column("Category","カテゴリ" , style:"product"),
        grid.Column( "Title","タイトル", style:"product"),
        grid.Column("Query","クエリ",format:@<text>@Html.ActionLink((string)item.query,"GetDetail", "Report",new { id=item.Id,title=item.Title }, htmlAttributes: null)</text>, style:"product"),
        grid.Column("Server","データベース", style:"product"),
        grid.Column("Addtime","登録日",  style:"product"),
        grid.Column("Updttime","更新日",  style:"product")
   )
)