﻿<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/jquery-ui.css")
        @Scripts.Render("~/bundles/modernizr")
        <style type="text/css">
            /*html, body
            {
                height:100%
            }*/
            a
            {
                white-space: nowrap;
            }
            .tableContainer
            {
                display:table;
            }
            .leftPane
            {
                display:table-cell;
                min-width:200px;
            }
            .rightPane
            {
                display:table-cell;
                min-width:200px;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <a href="~/">Inazuma Admin</a></p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("ホーム", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="tableContainer" style="clear: both;">
            <div class="leftPane">
                <ul data-bind="foreach: linkList">
                    <li>
                        <a data-bind="text: desc, attr: { href: url }"></a>
                    </li>
                </ul>
            </div>
            <div>@RenderBody()</div>
            <div class="rightPane">@RenderSection("rightPane", false)</div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("styles", required: false)
        <script type ="text/javascript" src="/Scripts/knockout-2.2.1.js"></script>
        @RenderSection("scripts", required: false)
        <script type ="text/javascript">
            $(function () {
                //ViewModelを定義
                function testappViewModel() {
                    var self = this;

                    self.linkList = ko.observableArray(
                        [
                            { "url": "/dashboard/default", "desc": "ダッシュボード" },
                            { "url": "/operation/userInfo", "desc": "ユーザ情報検索" },
                            { "url": "/operation/dataTransfer", "desc": "データ移行" },
                            { "url": "/operation/message", "desc": "メッセージ配信" },
                            { "url": "/operation/push", "desc": "PUSH管理" },
                            { "url": "/operation/newsMaster", "desc": "お知らせ管理" },
                            { "url": "/operation/bannermanagement", "desc": "バナー管理" },
                            { "url": "/operation/PaymentForecast", "desc": "決済予測編集" },
                            { "url": "/operation/event", "desc": "イベント開催情報" },
                            { "url": "/operation/PortalNews", "desc": "ポータルサイトお知らせ管理" },
                            { "url": "/operation/dutyevent", "desc": "視察イベント" },
                            { "url": "/operation/cupbattle", "desc": "カップ戦" },
                            { "url": "/operation/StaffUserManagement", "desc": "スタッフユーザー管理" },
                            { "url": "/operation/pushsetting", "desc": "プッシュ設定状況" },
                            { "url": "/operation/batchscheduler", "desc": "バッチスケジューラー" },
                            { "url": "https://172.17.31.62/icinga/", "desc": "監視画面 (icinga)" },
                            { "url": "https://monitor-k11.clayapp.jp/#Inazuma", "desc": "pnpView & BalancerMember" },
                        ]
                    );

                    self.message = ko.observable(''); //初期値は空文字列を指定
                }

                //bindingスタート
                ko.applyBindings(new testappViewModel(), document.getElementsByClassName("leftPane")[0]);
            });
        </script>
        
    </body>
</html>
