﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Models.CupBattle
@using Edge.Data.Event.DataSet
@{
    ViewBag.Title = "獲得ポイント別分布";
    List<DistributionByPointsScored> otherDistributionByPointsScoredList = ViewBag.OtherDistributionByPointsScored;
    List<DistributionByPointsScored> distributionByPointsScoredList = ViewBag.DistributionByPointsScored;
    CupBattleDataSet.CupBattleDivisionMasterRow[] divisionMasterRows = ViewBag.DivisionMasterRows;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@section styles
{
    <style type="text/css">
        .medium {
            font-size: small;
        }
        .large {
            font-size: large;
            height: 35px;
        }
        .table_info {
            margin: 0px;
            vertical-align: middle;
            border-collapse: collapse;
        }
        .header {
            margin: 0px;
            padding: 0px;
        }
        th {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px;
        }
        tr.body:nth-child(odd) {
            background: lightcyan;
        }
        tr.body:nth-child(even) {
            background: lightgrey;
        }
        td {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px 5px 0px 5px;
        }
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('#showButton').click((function() {
                var id = $('#datepicker1').val();
                window.location = "/operation/cupbattle/distributionbypointsscored?id=" + id;
            }));
        });
    </script>
}

<div class="float-right">@Html.ActionLink("カップ戦TOP", "Index", "CupBattle", new { area = "Operation" }, null)</div>

<h2>@ViewBag.Title</h2>

<div class="medium">EventId: <input type="text" id="datepicker1" value=""/>&nbsp;<input type="button" value="確認" id="showButton"/></div>
<br />

@if ( otherDistributionByPointsScoredList.Any() )
{
    var width = ( otherDistributionByPointsScoredList[0].Columns.Count() * 60 ) + 110;
    
    <br />
    <div class="large">[ その他 ]</div>
    <table class="table_info" style="width: @width">
        <thead>
            <tr class="header">
                <th style="width: 110px"></th>
                @foreach ( var column in otherDistributionByPointsScoredList[0].Columns )
                {
                    <th style="width: 60px">@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach ( var pointScored in otherDistributionByPointsScoredList[0].PointScoredList )
            {
                <tr class="body">
                    <td style="text-align: center; white-space: nowrap;">@pointScored.CategoryName</td>
                    @foreach ( var userNum in pointScored.UserNum )
                    {
                        <td style="text-align: center">@userNum.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br/>
}

@foreach ( var divisionMaster in divisionMasterRows )
{
    var distributionByPointsScored = distributionByPointsScoredList.Where(x => x.DivisionType == divisionMaster.DivisionType).ToList();

    if ( distributionByPointsScored.Any() )
    {
        var width = ( distributionByPointsScored[0].Columns.Count() * 60 ) + 110;
    
        <br />
        <div class="large">[ @distributionByPointsScored[0].DivisionName ]</div>
        <table class="table_info" style="width: @width">
            <thead>
                <tr class="header">
                    <th style="width: 110px"></th>
                    @foreach ( var column in distributionByPointsScored[0].Columns )
                    {
                        <th style="width: 60px">@column</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach ( var scored in distributionByPointsScored )
                {
                    foreach ( var pointScored in scored.PointScoredList )
                    {
                        <tr class="body">
                            <td style="text-align: center; white-space: nowrap;">@pointScored.CategoryName</td>
                            @for ( var i = 1 ; i <= distributionByPointsScored[0].ColumnsNum ; i++ )
                            {
                                if ( pointScored.UserNum.ContainsKey(i) )
                                {
                                    <td style="text-align: center">@pointScored.UserNum[i]</td>
                                }
                                else
                                {
                                    <td style="text-align: center">-</td>
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br/>
    }
}

