﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Models.CupBattle
@{
    ViewBag.Title = "カップ戦";
    List<CupBattleMaster> cupBattleMasterList = ViewBag.CupBattleMasterList;
}

@section styles
{
    <style type="text/css">
        .IndexPanel {
            display:table-cell;
            min-width:200px;
        }
        .large {
            font-size: large;
            height: 35px;
        }
        .table_info {
            width: 965px;
            margin: 0px;
            vertical-align: middle;
            border-collapse: collapse;
        }
        .header {
            margin: 0px;
            padding: 0px;
        }
        th {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px;
        }
        tr.body:nth-child(odd) {
            background: lightcyan;
        }
        tr.body:nth-child(even) {
            background: lightgrey;
        }
        td {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 2px 5px;
        }
    </style> 
}

<h2>@ViewBag.Title</h2>

<div class="IndexPanel">
    <ul data-bind="foreach: linkList">
        <li>
            <a data-bind="text: desc, attr: { href: url }"></a>
        </li>
    </ul>
</div>

<div class="large">[ CupBattleMaster ]</div>
<table class="table_info">
    <thead>
        <tr class="header">
            <th style="width: 80px">イベントID</th>
            <th style="width: 150px">イベント名</th>
            <th style="width: 200px">説明</th>
            <th style="width: 125px">マッピングタイプ</th>
            <th style="width: 110px">招待アクティブ</th>
            <th style="width: 150px">開始日時</th>
            <th style="width: 150px">終了日時</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var cupBattleMaster in cupBattleMasterList )
        {
            <tr class="body">
                <td>@cupBattleMaster.EventId</td>
                <td>@cupBattleMaster.Name</td>
                <td>@cupBattleMaster.Desc</td>
                <td>@cupBattleMaster.DivisionMapType</td>
                <td>@cupBattleMaster.ActiveRange</td>
                <td>@cupBattleMaster.StartDate</td>
                <td>@cupBattleMaster.EndDate</td>
            </tr>
        }
    </tbody>
</table>
<br/>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
<script type ="text/javascript" src="/Scripts/knockout-2.2.1.js"></script>
<script type ="text/javascript">
    $(function () {
        //ViewModelを定義
        function testappViewModel() {
            var self = this;

            self.linkList = ko.observableArray(
                [
                    { "url": "/Operation/CupBattle/Schedule", "desc": "スケジュール" },
                    { "url": "/Operation/CupBattle/ScheduleExpectation", "desc": "全体スケジュール予定" },
                    { "url": "/Operation/CupBattle/TournamentSchedule", "desc": "トーナメントスケジュール" },
                    { "url": "/Operation/CupBattle/PreLeagueCheck", "desc": "予選リーグデータ確認" },
                    { "url": "/Operation/CupBattle/TournamentCheck", "desc": "トーナメントデータ確認" },
                    { "url": "/Operation/CupBattle/DistributionByPointsScored", "desc": "獲得ポイント別分布" },
                    { "url": "/Operation/CupBattle/PlayersBetPickUpHistory", "desc": "プレイヤーズ・ベット履歴" }
                ]
                )
            ;

            self.message = ko.observable(''); //初期値は空文字列を指定
        }

        //bindingスタート
        ko.applyBindings(new testappViewModel(), document.getElementsByClassName("IndexPanel")[0]);
    });
</script>
