﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Models.CupBattle
@using Inazuma.Core.Common
@{
    ViewBag.Title = "プレイヤーズ・ベット履歴";
    List<PlayersBetPickUpHistory> pickUpGameInfo = ViewBag.PickUpGameInfo;
}

@section styles
{
    <style type="text/css">
        .large {
            font-size: large;
            height: 35px;
        }
        .table_info {
            width: 1610px;
            margin: 0px;
            vertical-align: middle;
            border-collapse: collapse;
        }
        .header {
            margin: 0px;
            padding: 0px;
        }
        th {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px;
        }
        tr.body:nth-child(odd) {
            background: lightcyan;
        }
        tr.body:nth-child(even) {
            background: lightgrey;
        }
        td {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 2px 5px;
        }
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('#showButton').click((function() {
                var id = $('#datepicker1').val();
                window.location = "/operation/cupbattle/playersbetpickuphistory?id=" + id;
            }));
        });
    </script>
}

<div class="float-right">@Html.ActionLink("カップ戦TOP", "Index", "CupBattle", new { area = "Operation" }, null)</div>

<h2>@ViewBag.Title</h2>

<div class="medium">EventId: <input type="text" id="datepicker1" value=""/>&nbsp;<input type="button" value="確認" id="showButton"/></div>
<br />

@if ( pickUpGameInfo.Any() )
{
    <div class="large">[ PlayersBetPickUpGame ]</div>
    <table class="table_info">
        <thead>
            <tr class="header">
                <th style="width: 80px" rowspan="2">イベントID</th>
                <th style="width: 60px" rowspan="2">投票ID</th>
                <th style="width: 150px" rowspan="2">投票開始日時</th>
                <th style="width: 150px" rowspan="2">投票終了日時</th>
                <th style="width: 120px" rowspan="2">区分</th>
                <th style="width: 970px; text-align: center" colspan="9">投　票　対　象　試　合</th>
                <th style="width: 80px" rowspan="2">ステータス</th>
            </tr>
            <tr class="header">
                <th style="width: 80px">イベントID</th>
                <th style="width: 110px">ディビジョン</th>
                <th style="width: 130px">試合名</th>
                <th style="width: 80px">グループ</th>
                <th style="width: 110px">ユーザーID</th>
                <th style="width: 140px">チーム名</th>
                <th style="width: 50px">結果</th>
                <th style="width: 130px">対戦ユーザーID</th>
                <th style="width: 140px">対戦チーム名</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var pickUpGame in pickUpGameInfo )
            {
                <tr class="body">
                    <td>@pickUpGame.EventId</td>
                    <td>@pickUpGame.VoteId</td>
                    <td>@pickUpGame.VoteStartDate</td>
                    <td>@pickUpGame.VoteEndDate</td>
                    <td>@pickUpGame.GameTypeName</td>
                    <td>@pickUpGame.PickUpGameEventId</td>
                    <td>@pickUpGame.PickUpGameDivisionName</td>
                    @if ( pickUpGame.GameType == (int) InazumaCode.GameType.カップ戦予選リーグ )
                    {
                        <td>@string.Format("{0} [第{1}戦]",pickUpGame.PickUpGameSeason,pickUpGame.PickUpGameScheduleId)</td>
                        <td>@pickUpGame.PickUpGameGroupId</td>
                    }
                    else if ( pickUpGame.GameType == (int) InazumaCode.GameType.カップ戦トーナメント )
                    {
                        <td>@pickUpGame.PickUpGameRound</td>
                        <td>@pickUpGame.PickUpGameMatchId</td>
                    }
                    <td>@pickUpGame.PickUpGameUserId</td>
                    <td>@pickUpGame.PickUpGameUserTeamName</td>
                    @if ( !pickUpGame.PickUpGameUserGoal.IsNullOrEmpty() && !pickUpGame.PickUpGameTargetUserGoal.IsNullOrEmpty() )
                    {
                        <td>@string.Format("{0} - {1}", pickUpGame.PickUpGameUserGoal, pickUpGame.PickUpGameTargetUserGoal)</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    <td>@pickUpGame.PickUpGameTargetUserId</td>
                    <td>@pickUpGame.PickUpGameTargetUserTeamName</td>
                    <td>@pickUpGame.Status</td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
