﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers
@using Inazuma.Web.AdminWebRole.Areas.Operation.Models.CupBattle
@{
    ViewBag.Title = "スケジュール";
    var errMessage = ViewBag.ErrMessage;
    List<CupBattleSchedule> cupBattleScheduleList = ViewBag.CupBattleScheduleList;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@section styles
{
    <style type="text/css">
        .medium {
            font-size: small;
        }
        .large {
            font-size: large;
        }
        .table_info {
            width: 630px;
            margin: 0px;
            vertical-align: middle;
            border-collapse: collapse;
        }
        .header {
            margin: 0px;
            padding: 0px;
        }
        th {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px;
        }
        tr.body:nth-child(odd) {
            background: lightcyan;
        }
        tr.body:nth-child(even) {
            background: lightgrey;
        }
        .normal {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px 5px 0px 5px;
        }
        .textbox {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px;
        }
        .button {
            width: 100%;
            margin: 3px 5px 3px 5px;
        }
        .text {
            width: 138px;
            font-size: small;
            margin: 0px;
        }
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('#showButton').click((function() {
                var id = $('#datepicker1').val();
                window.location = "/operation/cupbattle/schedule?id="+id;
            }));
        });

        function setHidden(val) {
            document.all['Key'].value = val;
            document.forms(0).submit();
        }
    </script>
}

<div class="float-right">@Html.ActionLink("カップ戦TOP", "Index", "CupBattle", new { area = "Operation" }, null)</div>

<h2>@ViewBag.Title</h2>

<div class="medium">EventId: <input type="text" id="datepicker1" value=""/>&nbsp;<input type="button" value="確認" id="showButton"/></div>

<div>
@if ( !string.IsNullOrEmpty(errMessage) )
{
        <br />
        <span style="color: red"><label>エラー&nbsp;:&nbsp;@errMessage</label></span>
}
else
{
    if ( ViewBag.IsAccess )
    {
        <span style="font-size: 16px">登録が完了しました。</span>
    }
}
</div>

@using ( Html.BeginForm("EditSchedule", "CupBattle", FormMethod.Post, new { enctype = "multipart/form-data" }) )
{
    if ( cupBattleScheduleList.Any() )
    {
        <br />
        <div style="height: 35px;"><span class="large">[ CupBattleSchedule ]</span>　<span style="color: red">※トーナメント以降のスケジュールは自動で登録されます。</span></div>
        <table class="table_info">
            <thead>
                <tr class="header">
                    <th style="width: 80px">イベントID</th>
                    <th style="width: 110px">スケジュール</th>
                    <th style="width: 90px">ディビジョン</th>
                    <th style="width: 150px">開始日時</th>
                    <th style="width: 150px">終了日時</th>
                    <th style="width: 50px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach ( var cupBattleSchedule in cupBattleScheduleList )
                {
                    <tr class="body">
                        <td class="normal">@cupBattleSchedule.EventId</td>
                        <td class="normal">@cupBattleSchedule.ScheduleName</td>
                        <td class="normal">@cupBattleSchedule.DivisionName</td>
                        @if ( cupBattleSchedule.IsEdit )
                        {
                            <td class="textbox"><input type="text" class="text" name="@string.Format("StartDate-{0}-{1}-{2}", cupBattleSchedule.ScheduleType, cupBattleSchedule.DivisionType, (int) CupBattleController.UpdateStatus.更新)" value="@cupBattleSchedule.StartDate"/></td>
                            <td class="textbox"><input type="text" class="text" name="@string.Format("EndDate-{0}-{1}-{2}", cupBattleSchedule.ScheduleType, cupBattleSchedule.DivisionType, (int) CupBattleController.UpdateStatus.更新)" value="@cupBattleSchedule.EndDate"/></td>
                            <td class="normal"><input type="submit" class="button" value="更新" id="@string.Format("{0}-{1}-{2}", cupBattleSchedule.ScheduleType, cupBattleSchedule.DivisionType, (int) CupBattleController.UpdateStatus.更新)" onclick="setHidden($(this).attr('id'))"/></td>
                        }
                        else
                        {
                            <td class="normal">@cupBattleSchedule.StartDate</td>
                            <td class="normal">@cupBattleSchedule.EndDate</td>
                            <td class="normal"><input type="submit" class="button" value="編集" id="@string.Format("{0}-{1}-{2}", cupBattleSchedule.ScheduleType, cupBattleSchedule.DivisionType, (int) CupBattleController.UpdateStatus.編集)" onclick="setHidden($(this).attr('id'))"/></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" name="Key" value=""/>
        <input type="hidden" name="EventId" value="@ViewBag.EventId"/>
    }
}
<br/>