﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Models.CupBattle
@{
    ViewBag.Title = "全体スケジュール予定";
    List<CupBattleScheduleExpectation> scheduleExpectationList = ViewBag.CupBattleScheduleExpectationList;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@section styles
{
    <style type="text/css">
        .medium {
            font-size: small;
        }
        .large {
            font-size: large;
            height: 35px;
        }
        .table_info {
            width: 380px;
            margin: 0px;
            vertical-align: middle;
            border-collapse: collapse;
        }
        .header {
            margin: 0px;
            padding: 0px;
        }
        th {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px;
        }
        tr.body:nth-child(odd) {
            background: lightcyan;
        }
        tr.body:nth-child(even) {
            background: lightgrey;
        }
        td {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px 5px 0px 5px;
        }
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('#showButton').click((function() {
                var id = $('#datepicker1').val();
                window.location = "/operation/cupbattle/scheduleexpectation?id=" + id;
            }));
        });
    </script>
}

<div class="float-right">@Html.ActionLink("カップ戦TOP", "Index", "CupBattle", new { area = "Operation" }, null)</div>

<h2>@ViewBag.Title</h2>

<div class="medium">EventId: <input type="text" id="datepicker1" value=""/>&nbsp;<input type="button" value="確認" id="showButton"/></div>
<div><span style="color: red">※あくまでNPCの勝ち越しがないうえでの計算で予定を組みます。</span></div>
<br />

@if ( scheduleExpectationList.Any(x => x.IsPreLeague == true) )
{
    <div class="large">[ 予選リーグ ]</div>
    <table class="table_info">
        <thead>
            <tr class="header">
                <th style="width: 80px">イベントID</th>
                <th style="width: 90px">ディビジョン</th>
                <th style="width: 70px">実施回数</th>
                <th style="width: 70px">ユーザー</th>
                <th style="width: 70px">NPC</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var scheduleExpectation in scheduleExpectationList.Where(x => x.IsPreLeague == true) )
            {
                <tr class="body">
                    <td style="text-align: center">@scheduleExpectation.EventId</td>
                    <td style="text-align: center">@scheduleExpectation.DivisionName</td>
                    <td style="text-align: center">@scheduleExpectation.Count</td>
                    <td>@scheduleExpectation.UserNum</td>
                    <td>@scheduleExpectation.NpcNum</td>
                </tr>
            }
        </tbody>
    </table>
    <br/>
}

@if ( scheduleExpectationList.Any(x => x.IsPreLeague == false) )
{
    <div class="large">[ 決勝トーナメント ]</div>
    <table class="table_info">
        <thead>
            <tr class="header">
                <th style="width: 80px">イベントID</th>
                <th style="width: 90px">ディビジョン</th>
                <th style="width: 70px">実施回数</th>
                <th style="width: 70px">ユーザー</th>
                <th style="width: 70px">NPC</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var scheduleExpectation in scheduleExpectationList.Where(x => x.IsPreLeague == false) )
            {
                <tr class="body">
                    <td style="text-align: center">@scheduleExpectation.EventId</td>
                    <td style="text-align: center">@scheduleExpectation.DivisionName</td>
                    <td style="text-align: center">@scheduleExpectation.Count</td>
                    <td>@scheduleExpectation.UserNum</td>
                    <td>@scheduleExpectation.NpcNum</td>
                </tr>
            }
        </tbody>
    </table>
    <br/>
}
