﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Models.CupBattle
@{
    ViewBag.Title = "トーナメントデータ確認";
    var errMessage = ViewBag.ErrMessage;
    CupBattleTournamentCheck tournamentCheck = ViewBag.CupBattleTournamentCheck;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@section styles
{
    <style type="text/css">
        .medium {
            font-size: small;
        }
        .large {
            font-size: large;
            height: 35px;
        }
        .table_info_user {
            width: 535px;
            margin: 0px;
            vertical-align: middle;
            border-collapse: collapse;
        }
        .table_info {
            width: 350px;
            margin: 0px;
            vertical-align: middle;
            border-collapse: collapse;
        }
        .header {
            margin: 0px;
            padding: 0px;
        }
        th {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px;
        }
        tr.body:nth-child(odd) {
            background: lightcyan;
        }
        tr.body:nth-child(even) {
            background: lightgrey;
        }
        td {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px 5px 0px 5px;
        }
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('#showButton').click((function() {
                var id = $('#datepicker1').val();
                window.location = "/operation/cupbattle/tournamentcheck?id=" + id;
            }));
        });
    </script>
}

<div class="float-right">@Html.ActionLink("カップ戦TOP", "Index", "CupBattle", new { area = "Operation" }, null)</div>

<h2>@ViewBag.Title</h2>

<div class="medium">EventId: <input type="text" id="datepicker1" value=""/>&nbsp;<input type="button" value="確認" id="showButton"/></div>
<br />

<div>
    @if ( !string.IsNullOrEmpty(errMessage) )
    {
        <span style="color: red"><label>エラー&nbsp;:&nbsp;@errMessage</label></span>
        <br />
    }
</div>

@if ( tournamentCheck.CupBattleUserCheckList.Any() )
{
    <div class="large">[ CupBattleUser ]</div>
    <table class="table_info_user">
        <thead>
            <tr class="header">
                <th style="width: 80px">イベントID</th>
                <th style="width: 85px">トーナメント</th>
                <th style="width: 90px">ディビジョン</th>
                <th style="width: 95px">マッチング数</th>
                <th style="width: 105px">実ユーザー数</th>
                <th style="width: 80px">ステータス</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var date in tournamentCheck.CupBattleUserCheckList )
            {
                <tr class="body">
                    <td style="text-align: center">@date.EventId</td>
                    <td style="text-align: center">@date.Round</td>
                    <td style="text-align: center">@date.DivisionName</td>
                    <td>@date.MatchNum</td>
                    <td>@date.UserNum</td>
                    @if ( date.IsClose )
                    {
                        <td style="text-align: center">終了</td>
                    }
                    else
                    {
                        <td style="text-align: center"><span style="color: red; font-weight: bold">進行中</span></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="medium" style="color: red">※終了している場合、終了前の実ユーザー数は [ グループ数 + 実ユーザー数 ] となります。</div>
}

@if ( tournamentCheck.CupBattleTournamentGroupCheckList.Any() )
{
    <br />
    <div class="large">[ CupBattleTournamentGroup ]</div>
    <table class="table_info">
        <thead>
            <tr class="header">
                <th style="width: 80px">イベントID</th>
                <th style="width: 85px">トーナメント</th>
                <th style="width: 90px">ディビジョン</th>
                <th style="width: 95px">マッチング数</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var date in tournamentCheck.CupBattleTournamentGroupCheckList )
            {
                <tr class="body">
                    <td style="text-align: center">@date.EventId</td>
                    <td style="text-align: center">@date.Round</td>
                    <td style="text-align: center">@date.DivisionName</td>
                    <td>@date.MatchNum</td>
                </tr>
            }
        </tbody>
    </table>
}

@if ( tournamentCheck.CupBattleTournamentUserScheduleCheckList.Any() )
{
    <br />
    <div class="large">[ CupBattleTournamentUserSchedule ]</div>
    <table class="table_info">
        <thead>
            <tr class="header">
                <th style="width: 80px">イベントID</th>
                <th style="width: 85px">トーナメント</th>
                <th style="width: 90px">ディビジョン</th>
                <th style="width: 95px">マッチング数</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var date in tournamentCheck.CupBattleTournamentUserScheduleCheckList )
            {
                <tr class="body">
                    <td style="text-align: center">@date.EventId</td>
                    <td style="text-align: center">@date.Round</td>
                    <td style="text-align: center">@date.DivisionName</td>
                    <td>@date.MatchNum</td>
                </tr>
            }
        </tbody>
    </table>
}
<br/>
