﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Models.CupBattle
@{
    ViewBag.Title = "トーナメントスケジュール";
    var errMessage = ViewBag.ErrMessage;
    List<CupBattleTournamentSchedule> tournamentScheduleList = ViewBag.CupBattleTournamentScheduleList;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@section styles
{
    <style type="text/css">
        .medium {
            font-size: small;
        }
        .large {
            font-size: large;
            height: 35px;
        }
        .table_info {
            width: 630px;
            margin: 0px;
            vertical-align: middle;
            border-collapse: collapse;
        }
        .header {
            margin: 0px;
            padding: 0px;
        }
        th {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px;
        }
        tr.body:nth-child(odd) {
            background: lightcyan;
        }
        tr.body:nth-child(even) {
            background: lightgrey;
        }
        td {
            border-style: solid;
            border-color: gray;
            border-width: 1px;
            margin: 0px;
            padding: 0px 5px 0px 5px;
        }
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('#showButton').click((function() {
                var id = $('#datepicker1').val();
                window.location = "/operation/cupbattle/tournamentschedule?id="+id;
            }));
        });
    </script>
}

<div class="float-right">@Html.ActionLink("カップ戦TOP", "Index", "CupBattle", new { area = "Operation" }, null)</div>

<h2>@ViewBag.Title</h2>

<div class="medium">EventId: <input type="text" id="datepicker1" value=""/>&nbsp;<input type="button" value="確認" id="showButton"/></div>

<div>
@if ( !string.IsNullOrEmpty(errMessage) )
{
        <br />
        <span style="color: red"><label>エラー&nbsp;:&nbsp;@errMessage</label></span>
}
else
{
    if ( ViewBag.IsAccess )
    {
        <span style="font-size: 16px">登録が完了しました。</span>
    }
}
</div>

@if ( tournamentScheduleList.Any() )
{
    <br />
    <div class="large">[ CupBattleSchedule ]</div>
    <table class="table_info">
        <thead>
            <tr class="header">
                <th style="width: 80px">イベントID</th>
                <th style="width: 90px">ディビジョン</th>
                <th style="width: 90px">試合数</th>
                <th style="width: 90px">午前/午後</th>
                <th style="width: 150px">開始日時</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var tournamentSchedule in tournamentScheduleList )
            {
                <tr class="body">
                    <td>@tournamentSchedule.EventId</td>
                    <td>@tournamentSchedule.DivisionName</td>
                    <td>@tournamentSchedule.Round</td>
                    <td>@tournamentSchedule.Detail</td>
                    <td>@tournamentSchedule.StartDate</td>
                </tr>
            }
        </tbody>
    </table>
}
<br/>