﻿body {
    margin:0;
    padding:0;
    background:white;
    font-family:verdana,arial,sans-serif;
    font-size:10pt;
    color:#333;
    line-height:1.5;
}
html {
} 
a {
    color:#0366C9;
    text-decoration:none;
}
a:hover {
    color:#3096FC;
    text-decoration:none;
}
.pager a {
    text-decoration:underline;
}
#header {
	padding:5px;
	background:#006699;
}
#header a {
    color:#FFF;
}
#footer {
	clear:both;
	width:100%;
}
#menu {
	float:left;
	padding:5px;
	background:#FBF9E7;
	width:220px;
	overflow-x:scroll;
}
#menu a:hover {
    background-color:#FBF9E7;
}
#main {
    margin:0 0 0 240px;
    padding:5px;
}
#topicpath {
    margin-bottom:10px;
}

td.keep {
    white-space:nowrap;
}

img.spacer {
	border:0px;
	visibility:hidden;
}

@media print {
	.noprint{ display:none; }
}

.pager a {
    text-decoration:underline;
}

table.head {
  font-weight : bold;
  font-size : 11px;
  color : #003399;
}

fieldset {
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
}

.monospace {
    font-family:'ＭＳ ゴシック', monospace;
    font-size:10pt;
}

.s1{color: #C11B17;}
.s2{color: #6698FF;}
.s3{color: #347235;}
.s4{color: #C7A317;}

h1 {color:#000066;font-size:12pt;}

.GridJoined {
	display: none;
}

.header_forecast { background-color:#8B0000; }
.header_event { background-color:#008000; }
.forecast_minus { color:#CC0000; }
.forecast_plus { color:#0000CC; }
.hidden_forecast { display:none; }

.hidden_column { display:none; }
.today { background:#FFA500; }