div.time-picker {  
  position: absolute;  
  height: 200px;  
  width:60px;  /* needed for IE */  
  overflow: auto;  
  background: #fff;  
  border: 1px solid #ccc;  
  z-index: 99;  
  margin-top: 1.1em;    
}  
  
div.time-picker-12hours {  
  width:90px; /* needed for IE */  
}  
  
div.time-picker ul {  
  list-style-type: none;  
  margin: 0;  
  padding: 0;  
}  
div.time-picker li {  
  padding: 1px;  
  cursor: pointer;  
}  
div.time-picker li.selected {  
  background: #316AC5;  
  color: #fff;  
}  
