﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers
@{
    ViewBag.Title = "イベント開放日時確認";
    var errMessage = ViewBag.ErrMessage;
    List<DutyEventController.GridDutyEventMasterData> dutyEventMasterData = ViewBag.DutyEventMasterData;
    List<DutyEventController.GridDutyEventDutyMasterData> dutyEventDutyMasterData = ViewBag.DutyEventDutyMasterData;
    List<DutyEventController.GridDutyEventMissionRewardMasterData> dutyEventMissionRewardMasterData = ViewBag.DutyEventMissionRewardMasterData;
    var dutyEventMasterGrid = new WebGrid(ViewBag.DutyEventMasterData, null, "Date", 999);
    var dutyEventDutyMasterGrid = new WebGrid(ViewBag.DutyEventDutyMasterData, null, "Date", 999);
    var dutyEventMissionRewardMasterGrid = new WebGrid(ViewBag.DutyEventMissionRewardMasterData, null, "Date", 999);
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@section styles
{
    <style type="text/css">
        .medium { font-size: small}
        .large { font-size: large}
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('#showButton').click((function() {
                var id = $('#datepicker1').val();
                window.location = "/operation/dutyevent/eventopen?id="+id;
            }));
        });
    </script>
}

<div class="float-right">@Html.ActionLink("視察イベントTOP", "Index", "DutyEvent", new { area = "Operation" }, null)</div>

<h2>@ViewBag.Title</h2>

<div class="medium">EventId: <input type="text" id="datepicker1" value="@ViewBag.EventId"/>&nbsp;<input type="button" value="確認" id="showButton"/></div>
<div><span style="color: red">※キャッシュされたマスタをもとに検証します</span></div>

        <div>
        @if ( !string.IsNullOrEmpty(errMessage) )
        {
                <br />
                <span style="color: red"><label>エラー&nbsp;:&nbsp;@errMessage</label></span>
        }
        </div>

@if ( dutyEventMasterData.Any() )
{
    <br />
    <div class="large">[ DutyEventMaster ]</div>
    @dutyEventMasterGrid.GetHtml(
        columns: dutyEventMasterGrid.Columns(
            dutyEventMasterGrid.Column("EventId","EventId",style:"product"),
            dutyEventMasterGrid.Column("Title","タイトル"),
            dutyEventMasterGrid.Column("FromDate", "イベント開始日時"),
            dutyEventMasterGrid.Column("ToDate", "イベント終了日時")
        )
    )
}

@if ( dutyEventDutyMasterData.Any() )
{
    <br />
    <div class="large">[ DutyEventDutyMaster ]</div>
    @dutyEventDutyMasterGrid.GetHtml(
        columns: dutyEventDutyMasterGrid.Columns(
            dutyEventDutyMasterGrid.Column("EventId","EventId",style:"product"),
            dutyEventDutyMasterGrid.Column("DutyId","視察ID"),
            dutyEventDutyMasterGrid.Column("DutyName","視察名"),
            dutyEventDutyMasterGrid.Column("RequireType","条件タイプ"),
            dutyEventDutyMasterGrid.Column("FromDate", "視察開始日時"),
            dutyEventDutyMasterGrid.Column("ToDate", "視察終了日時")
        )
    )
}

@if ( dutyEventMissionRewardMasterData.Any() )
{
    <br />
    <div class="large">[ DutyEventMissionRewardMaster ]</div>
    @dutyEventMissionRewardMasterGrid.GetHtml(
        columns: dutyEventMissionRewardMasterGrid.Columns(
            dutyEventMissionRewardMasterGrid.Column("EventId","EventId",style:"product"),
            dutyEventMissionRewardMasterGrid.Column("MissionId","ミッションID"),
            dutyEventMissionRewardMasterGrid.Column("FromDate", "イベント開始日時"),
            dutyEventMissionRewardMasterGrid.Column("ToDate", "イベント終了日時")
        )
    )
}
