﻿@{
    ViewBag.Title = "視察イベント";
    var dutyEventMasterGrid = new WebGrid(ViewBag.DutyEventMasterData, null, "Date", 999);
}

@section styles
{
    <style type="text/css">
        .IndexPanel
        {
            display:table-cell;
            min-width:200px;
        }
        .large 
        {
            font-size: large;
        }
    </style> 
}

<h2>@ViewBag.Title</h2>

<div class="IndexPanel">
    <ul data-bind="foreach: linkList">
        <li>
            <a data-bind="text: desc, attr: { href: url }"></a>
        </li>
    </ul>
</div>

<div class="large">[ DutyEventMaster ]</div>
@dutyEventMasterGrid.GetHtml(
    columns: dutyEventMasterGrid.Columns(
        dutyEventMasterGrid.Column("EventId","EventId",style:"product"),
        dutyEventMasterGrid.Column("Title","タイトル"),
        dutyEventMasterGrid.Column("FromDate", "イベント開始日時"),
        dutyEventMasterGrid.Column("ToDate", "イベント終了日時")
    )
)

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
<script type ="text/javascript" src="/Scripts/knockout-2.2.1.js"></script>
<script type ="text/javascript">
    $(function () {
        //ViewModelを定義
        function testappViewModel() {
            var self = this;

            self.linkList = ko.observableArray(
                [
                    { "url": "/operation/dutyevent/eventopen", "desc": "イベント開放日時確認" },
                    { "url": "/operation/dutyevent/npcinfocheck", "desc": "NPC情報確認" }
                ]
                )
            ;

            self.message = ko.observable(''); //初期値は空文字列を指定
        }

        //bindingスタート
        ko.applyBindings(new testappViewModel(), document.getElementsByClassName("IndexPanel")[0]);
    });
</script>
