﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers
@{
    ViewBag.Title = "NPC情報確認";

    var cardDiffErrForDeckDetailGrid = new WebGrid(ViewBag.CardDiffErrForDeckDetailData, null, "Date", 999);
    var cardDiffErrForUserCardGrid = new WebGrid(ViewBag.CardDiffErrForUserCardData, null, "Date", 999);
    var captainCardDiffErrForDeckDetailGrid = new WebGrid(ViewBag.CaptainCardDiffErrForDeckDetailData, null, "Date", 999);
    var captainCardDiffErrForUserCaptainGrid = new WebGrid(ViewBag.CaptainCardDiffErrForUserCaptainData, null, "Date", 999);

    var dutyEventNpcMasterGrid = new WebGrid(ViewBag.DutyEventNpcMasterData, null, "Date", 999);
    var dutyEventNpcDeckDetailGrid = new WebGrid(ViewBag.DutyEventNpcDeckDetailData, null, "Date", 999);
    var dutyEventNpcUserCardGrid = new WebGrid(ViewBag.DutyEventNpcUserCardData, null, "Date", 999);
    var dutyEventNpcUserCaptainCardGrid = new WebGrid(ViewBag.DutyEventNpcUserCaptainCardData, null, "Date", 999);
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@section styles
{
    <script type=""></script>
    <style type="text/css">
        .medium { font-size: small }
        .large { font-size: large }
        .table-style-head
        {
            margin: 0px;
            padding: 0px;
            border-style: none;
            font-size: large;
        }
        .table-style-body
        {
            margin: 0px;
            padding: 0px;
            border-style: none;
            font-size: small;
        }
        .table-style-space 
        {
            margin: 0px;
            padding: 0px;
            border-style: none;
            min-width: 20px;
        }
        .odd-number-row { background: lightblue; }
        .cell-format-center { text-align: center; }
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function () {
            $('#showButton').click((function () {
                var id = $('#datepicker1').val();
                window.location = "/operation/dutyevent/npcinfocheck?id=" + id;
            }));
        });
    </script>
}

<div class="float-right">@Html.ActionLink("視察イベントTOP", "Index", "DutyEvent", new { area = "Operation" }, null)</div>

<h2>@ViewBag.Title</h2>

<div class="medium">EventId: <input type="text" id="datepicker1" value="@ViewBag.EventId"/>&nbsp;<input type="button" value="確認" id="showButton"/></div>
<div><span style="color: red">※キャッシュされたマスタをもとに検証します</span></div>

        <div>
        @if ( !string.IsNullOrEmpty(ViewBag.ErrMessage) )
        {
            <br />
            <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrMessage</label></span>
        }
        </div>

        <div>
        @if ( !string.IsNullOrEmpty(ViewBag.ErrMessage1) )
        {
            <br />
            <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrMessage1</label></span>
        }
        </div>

        <div>
        @if ( !string.IsNullOrEmpty(ViewBag.ErrMessage2) )
        {
            <br />
            <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrMessage2</label></span>
        }
        </div>

        <div>
        @if ( !string.IsNullOrEmpty(ViewBag.ErrMessage5) )
        {
            <br />
            <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrMessage5</label></span>
        }
        </div>

        <div>
        @if ( !string.IsNullOrEmpty(ViewBag.ErrMessage3) )
        {
            <br />
            <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrMessage3</label></span>
        }
        </div>

        <div>
        @if ( !string.IsNullOrEmpty(ViewBag.ErrMessage4) )
        {
            <br />
            <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrMessage4</label></span>
        }
        </div>

        <div>
        @if ( !string.IsNullOrEmpty(ViewBag.ErrMessage6) )
        {
            <br />
            <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrMessage6</label></span>
        }
        </div>

        <div>
        @if ( !string.IsNullOrEmpty(ViewBag.ErrMessage7) )
        {
            <br />
            <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrMessage7</label></span>
        }
        </div>

        @if ( ( (List<DutyEventController.GridCardDiffErrForDeckDetailData>) ViewBag.CardDiffErrForDeckDetailData ).Any() )
        {
            <br />
            <div><span style="color: red"><label>エラー&nbsp;:&nbsp;DutyEventNpcDeckDetailとDutyEventNpcUserCardで差異が出ています。</label></span></div>
            <table style="margin:0px;padding:0px;border-style:none;">
                <tbody>
                    <tr>
                        <td class="table-style-head">[ DutyEventNpcDeckDetail ]</td>
                        <td class="table-style-space">&nbsp;</td>
                        <td class="table-style-head">[ DutyEventNpcUserCard ]</td>
                    </tr>
                    <tr>
                        <td class="table-style-body">
                        @cardDiffErrForDeckDetailGrid.GetHtml(
                            columns: cardDiffErrForDeckDetailGrid.Columns(
                                cardDiffErrForDeckDetailGrid.Column("UserId", "UserId", style: "product"),
                                cardDiffErrForDeckDetailGrid.Column("FormationDetailId", "FormationDetailId"),
                                cardDiffErrForDeckDetailGrid.Column("UserCardId", "UserCardId"),
                                cardDiffErrForDeckDetailGrid.Column("CardId", "CardId"),
                                cardDiffErrForDeckDetailGrid.Column("PlayerId", "PlayerId")
                            ),
                            rowStyle:"odd-number-row"
                        )
                        </td>
                        <td class="table-style-space">&nbsp;</td>
                        <td class="table-style-body">
                        @cardDiffErrForUserCardGrid.GetHtml(
                            columns: cardDiffErrForUserCardGrid.Columns(
                                cardDiffErrForUserCardGrid.Column("UserId", "UserId", style: "product"),
                                cardDiffErrForUserCardGrid.Column("UserCardId", "UserCardId"),
                                cardDiffErrForUserCardGrid.Column("CardId", "CardId"),
                                cardDiffErrForUserCardGrid.Column("PlayerId", "PlayerId")
                            ),
                            rowStyle:"odd-number-row"
                        )
                        </td>
                    </tr>
                </tbody>
            </table>
        }

        @if ( ( (List<DutyEventController.GridCaptainCardDiffErrForDeckDetailData>) ViewBag.CaptainCardDiffErrForDeckDetailData ).Any() )
        {
            <br />
            <div><span style="color: red"><label>エラー&nbsp;:&nbsp;DutyEventNpcDeckDetailとDutyEventNpcUserCaptainCardで差異が出ています。</label></span></div>
            <table>
                <tbody>
                    <tr>
                        <td class="table-style-head">[ DutyEventNpcDeckDetail ]</td>
                        <td class="table-style-space">&nbsp;</td>
                        <td class="table-style-head">[ DutyEventNpcUserCaptainCard ]</td>
                    </tr>
                    <tr>
                        <td class="table-style-body">
                        @captainCardDiffErrForDeckDetailGrid.GetHtml(
                            columns: captainCardDiffErrForDeckDetailGrid.Columns(
                                captainCardDiffErrForDeckDetailGrid.Column("UserId","UserId",style:"product"),
                                captainCardDiffErrForDeckDetailGrid.Column("FormationDetailId","FormationDetailId"),
                                captainCardDiffErrForDeckDetailGrid.Column("UserCardId", "UserCardId"),
                                captainCardDiffErrForDeckDetailGrid.Column("CardId", "CardId"),
                                captainCardDiffErrForDeckDetailGrid.Column("PlayerId", "PlayerId")
                            ),
                            rowStyle:"odd-number-row"
                        )
                        </td>
                        <td class="table-style-space">&nbsp;</td>
                        <td class="table-style-body">
                        @captainCardDiffErrForUserCaptainGrid.GetHtml(
                            columns: captainCardDiffErrForUserCaptainGrid.Columns(
                                captainCardDiffErrForUserCaptainGrid.Column("UserId","UserId",style:"product"),
                                captainCardDiffErrForUserCaptainGrid.Column("UserCardId", "UserCardId"),
                                captainCardDiffErrForUserCaptainGrid.Column("CardId", "CardId"),
                                captainCardDiffErrForUserCaptainGrid.Column("PlayerId", "PlayerId")
                            ),
                            rowStyle:"odd-number-row"
                        )
                        </td>
                    </tr>
                </tbody>
            </table>
        }

@if (ViewBag.IsCheck)
{
    <br />
    <div><label>データのチェックが正常に完了しました。 以下は、NPC情報の一覧になります。</label></div>

    <br />
    <div class="large">[ DutyEventNpcMaster ]</div>
    @dutyEventNpcMasterGrid.GetHtml(
        columns: dutyEventNpcMasterGrid.Columns(
            dutyEventNpcMasterGrid.Column("EventId","EventId",style:"product"),
            dutyEventNpcMasterGrid.Column("DutyId","DutyId"),
            dutyEventNpcMasterGrid.Column("NpcUserId", "NpcUserId"),
            dutyEventNpcMasterGrid.Column("TeamName", "TeamName"),
            dutyEventNpcMasterGrid.Column("FormationId", "FormationId"),
            dutyEventNpcMasterGrid.Column("Level", "Level"),
            dutyEventNpcMasterGrid.Column("SupporterNum", "SupporterNum")
        ),
        rowStyle:"odd-number-row"
    )
    
    <br />
    <table>
        <tbody>
            <tr>
                <td class="table-style-head">[ DutyEventNpcDeckDetail ]</td>
                <td class="table-style-space">&nbsp;</td>
                <td class="table-style-head">[ DutyEventNpcUserCard ]</td>
            </tr>
            <tr>
                <td class="table-style-body">
                @dutyEventNpcDeckDetailGrid.GetHtml(
                    columns: dutyEventNpcDeckDetailGrid.Columns(
                        dutyEventNpcDeckDetailGrid.Column("UserId","UserId",style:"product"),
                        dutyEventNpcDeckDetailGrid.Column("FormationDetailId","FormationDetailId"),
                        dutyEventNpcDeckDetailGrid.Column("UserCardId", "UserCardId"),
                        dutyEventNpcDeckDetailGrid.Column("CardId", "CardId"),
                        dutyEventNpcDeckDetailGrid.Column("PlayerId", "PlayerId"),
                        dutyEventNpcDeckDetailGrid.Column("IsCaptain", "IsCaptain",style:"cell-format-center")
                    ),
                    rowStyle:"odd-number-row"
                )
                </td>
                <td class="table-style-space">&nbsp;</td>
                <td class="table-style-body">
                @dutyEventNpcUserCardGrid.GetHtml(
                    columns: dutyEventNpcUserCardGrid.Columns(
                        dutyEventNpcUserCardGrid.Column("UserId","UserId",style:"product"),
                        dutyEventNpcUserCardGrid.Column("UserCardId", "UserCardId"),
                        dutyEventNpcUserCardGrid.Column("CardId", "CardId"),
                        dutyEventNpcUserCardGrid.Column("PlayerId", "PlayerId")
                    ),
                    rowStyle:"odd-number-row"
                )
                </td>
            </tr>
        </tbody>
    </table>
    
    <br />
    <div class="large">[ DutyEventNpcUserCaptainCard ]</div>
    @dutyEventNpcUserCaptainCardGrid.GetHtml(
        columns: dutyEventNpcUserCaptainCardGrid.Columns(
            dutyEventNpcUserCaptainCardGrid.Column("UserId","UserId",style:"product"),
            dutyEventNpcUserCaptainCardGrid.Column("UserCardId", "UserCardId"),
            dutyEventNpcUserCaptainCardGrid.Column("CardId", "CardId"),
            dutyEventNpcUserCaptainCardGrid.Column("PlayerId", "PlayerId")
        ),
        rowStyle:"odd-number-row"
    )
}
