﻿@model Inazuma.Web.AdminWebRole.Areas.Analytics.Controllers.HourlyShopBuyController.ShopBuyViewModel

@{
    ViewBag.Title = "ショップ購入状況(時間帯別)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var grid = new WebGrid(ViewBag.Data, null, "時間帯", 24);  
    //plot.js用の文字列を生成する
    var plotDataList = new List<string>();
    var itemName = Model.ItemMaster.First(r => r.ItemType == Model.ItemType && r.ItemId == Model.ItemId).ShopItemName;
    foreach (var saleGraph in Model.SaleLog)
    {
        plotDataList.Add(string.Format("{{data:[{0}], label:\"{1} {2}購入数\"}}", saleGraph.TotalData, saleGraph.TargetDate.ToString("yyyy-MM-dd"), itemName));
    }
    var plotDataString = string.Join(",\n", plotDataList);
}

@section styles
{
    <style type="text/css">
        .total { font-size: 30px; }
        .product { text-align: right; }
        .buyNum { text-align: right; }
        #input-form li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .text {
            width: 150px;
            font-size: 1.0em;
            height: 16px;
            margin: 2px;
            padding: 0;
        }
    </style>
}

@section scripts{
    <script src="/Scripts/jquery.flot.min.js"></script>
    <script src="/Scripts/jquery.flot.time.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var plotdata = [@Html.Raw(ViewBag.GraphData)];

            var plot = $.plot("#placeholder", [@Html.Raw(plotDataString)], {
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
                yaxis: { min: 0 },
                xaxis: { mode: "time", timeFormat: "%H:%M", timezone: "browser", min: new Date("@Model.Min"), max: new Date("@Model.Max") },
            });

            function showTooltip(x, y, contents) {
                $("<div id='tooltip'>" + contents + "</div>").css({
                    position: "absolute",
                    display: "none",
                    top: y + 5,
                    left: x + 5,
                    border: "1px solid #fdd",
                    padding: "2px",
                    "background-color": "#fee",
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#placeholder").bind("plothover", function (event, pos, item) {

                var str = "(" + new Date(pos.x).toTimeString() + ", " + pos.y.toFixed(0) + ")";
                $("#hoverdata").text(str);


                if (item) {
                    if (previousPoint != item.dataIndex) {

                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = new Date(item.datapoint[0]).toTimeString(),
                            y = item.datapoint[1];

                        showTooltip(item.pageX + 5, item.pageY - 20, y + " , " + x);
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });

            var format = { dateFormat: 'yy-mm-dd' };
            $('.datepicker').datepicker(format);

            $('#showButton').click((function () {
                var date1 = $('#datepicker1').val();
                var date2 = $('#datepicker2').val();
                var date3 = $('#datepicker3').val();
                var date4 = $('#datepicker4').val();
                var date5 = $('#datepicker5').val();

                var queryString = "";
                if (date1 != "")
                    queryString += "date1=" + date1 + "&";
                if (date2 != "")
                    queryString += "date2=" + date2 + "&";
                if (date3 != "")
                    queryString += "date3=" + date3 + "&";
                if (date4 != "")
                    queryString += "date4=" + date4 + "&";
                if (date5 != "")
                    queryString += "date5=" + date5 + "&";
                
                var itemId = $('#itemId1 option:selected').val();
                
                window.location = "/analytics/hourlyShopBuy?" + queryString + "itemId=" + itemId;
                
            }));
            $(".legend").click(function () {
                $(this).fadeOut(500);
                setTimeout(function () {
                    $(".legend").fadeIn(1000);
                }, 5000);
            });
            $(".clear-button").click(function () {
                var id = $(this).attr("id").replace("clearDate", "");
                $("#datepicker" + id).val("");
            });

        });
    </script>
}

<h2>@ViewBag.Title</h2>

<div id="input-form">
    <ul>
        <li><input type="text" class="datepicker text" id="datepicker1" value="@Model.Date[0]"/><input type="button" id="clearDate1" class="clear-button" value="×" />@Html.Raw(Model.SaleLog.Any() ? string.Format("合計：<strong class=\"total\">{0}</strong>", Model.SaleLog[0].ShopSaleList.Sum(r => r.Value).ToString("#,0")) :"")</li>
        <li><input type="text" class="datepicker text" id="datepicker2" value="@Model.Date[1]"/><input type="button" id="clearDate2" class="clear-button" value="×" />@Html.Raw(1 < Model.SaleLog.Count() ? string.Format("合計：<strong class=\"total\">{0}</strong>", Model.SaleLog[1].ShopSaleList.Sum(r => r.Value).ToString("#,0")) :"")</li>
        <li><input type="text" class="datepicker text" id="datepicker3" value="@Model.Date[2]"/><input type="button" id="clearDate3" class="clear-button" value="×" />@Html.Raw(2 < Model.SaleLog.Count() ? string.Format("合計：<strong class=\"total\">{0}</strong>", Model.SaleLog[2].ShopSaleList.Sum(r => r.Value).ToString("#,0")) :"")</li>
        <li><input type="text" class="datepicker text" id="datepicker4" value="@Model.Date[3]"/><input type="button" id="clearDate4" class="clear-button" value="×" />@Html.Raw(3 < Model.SaleLog.Count() ? string.Format("合計：<strong class=\"total\">{0}</strong>", Model.SaleLog[3].ShopSaleList.Sum(r => r.Value).ToString("#,0")) :"")</li>
        <li><input type="text" class="datepicker text" id="datepicker5" value="@Model.Date[4]"/><input type="button" id="clearDate5" class="clear-button" value="×" />@Html.Raw(4 < Model.SaleLog.Count() ? string.Format("合計：<strong class=\"total\">{0}</strong>", Model.SaleLog[4].ShopSaleList.Sum(r => r.Value).ToString("#,0")) :"")</li>
    </ul>
</div>

<select id="itemId1">
    @foreach (var row in @Model.ItemMaster)
    {
        if (@Model.SelectItemId == String.Format("{0}:{1}", @row.ItemType, @row.ItemId))
        {
                <option value="@row.ItemType:@row.ItemId" selected>@row.ShopItemName</option>
        }
        else
        {
                <option value="@row.ItemType:@row.ItemId">@row.ShopItemName</option>
        }
    }
</select>
<input type="button" value="表示" id="showButton"/>
<br/>

<div class="demo-container">
	<div id="placeholder" class="demo-placeholder" style="height: 300px;width: 800px;"></div>
    <div id="hoverdata"></div>
</div>
<br />


<table>
    <tr>
        <th>時間帯</th>
        @foreach (var row in Model.SaleLog)
        {
            <th>
                @row.TargetDate.ToString("yyyy-MM-dd")<br />
                購入数
            </th>
        }
    </tr>
    @if (Model.SaleLog.Any())
    {
        for (var hour = 0; hour < 24; hour++)
        {
            <tr>
                <td class="buyNum">@hour</td>
                @for (var i = 0; i < Model.SaleLog.Count(); i++)
                {
                    <td class="product">@(hour < Model.SaleLog[i].ShopSaleList.Count() ? Model.SaleLog[i].ShopSaleList[hour].Value.ToString("#,0") : "")</td>
                }
            </tr>
        }
    }
</table>

<br />