﻿@using Inazuma.Web.AdminWebRole.Areas.Analytics.Controllers
@model HourlyCoinController.PaymentViewModel

@{
    ViewBag.Title = "コイン購入状況(時間帯別)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var grid = new WebGrid(ViewBag.IosData, null, "時間帯", 24);   

    //plot.js用の文字列を生成する
    var plotDataList = new List<string>();
    foreach (var paymentGraph in Model.PaymentLog)
    {
        plotDataList.Add(string.Format("{{data:[{0}], label:\"{1} Total売上コイン数\"}}", paymentGraph.TotalData, paymentGraph.TargetDate.ToString("yyyy-MM-dd")));
        if (Model.DisplayiOS)
        {
            plotDataList.Add(string.Format("{{data:[{0}], label:\"{1} iOS売上コイン数\"}}", paymentGraph.IosData, paymentGraph.TargetDate.ToString("yyyy-MM-dd")));
        }
        if (Model.DisplayAndroid)
        {
            plotDataList.Add(string.Format("{{data:[{0}], label:\"{1} Android売上コイン数\"}}", paymentGraph.ArdData, paymentGraph.TargetDate.ToString("yyyy-MM-dd")));
        }
    }
    var plotDataString = string.Join(",\n", plotDataList);
}

@section styles
{
    <style type="text/css">
        .total { font-size: 30px; }
        .product { text-align: right; }
        .coin { text-align: right; }
        #input-form ul {
            margin: 0;
            padding: 0;
            display: inline-block;
        }
        #input-form li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        #input-form label {
            display: inline-block;
        }
        .text {
            width: 150px;
            font-size: 1.0em;
            height: 16px;
            margin: 2px;
            padding: 0;
        }
        #data td {
            text-align: right;
        }
    </style>
}

@section scripts{
    <script src="/Scripts/jquery.flot.min.js"></script>
    <script src="/Scripts/jquery.flot.time.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            
            var plot = $.plot("#placeholder", [@Html.Raw(plotDataString)], {
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
                yaxis: { min: 0 },               
                xaxis: { mode: "time", timeFormat: "%H:%M", timezone: "browser", min: new Date("@Model.Min"), max: new Date("@Model.Max") },
            });

            function showTooltip(x, y, contents) {
                $("<div id='tooltip'>" + contents + "</div>").css({
                    position: "absolute",
                    display: "none",
                    top: y + 5,
                    left: x + 5,
                    border: "1px solid #fdd",
                    padding: "2px",
                    "background-color": "#fee",
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#placeholder").bind("plothover", function (event, pos, item) {

                var str = "(" + new Date(pos.x).toTimeString() + ", " + pos.y.toFixed(0) + ")";
                $("#hoverdata").text(str);


                if (item) {
                    if (previousPoint != item.dataIndex) {

                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = new Date(item.datapoint[0]).toTimeString(),
                            y = item.datapoint[1];

                        showTooltip(item.pageX + 5, item.pageY - 20, y + " , " + x);
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });

            var format = { dateFormat: 'yy-mm-dd' };
            $('.datepicker').datepicker(format);

            $('#showButton').click((function () {
                var date1 = $('#datepicker1').val();
                var date2 = $('#datepicker2').val();
                var date3 = $('#datepicker3').val();
                var date4 = $('#datepicker4').val();
                var date5 = $('#datepicker5').val();

                var queryString = "";
                if (date1 != "")
                    queryString += "date1=" + date1 + "&";
                if (date2 != "")
                    queryString += "date2=" + date2 + "&";
                if (date3 != "")
                    queryString += "date3=" + date3 + "&";
                if (date4 != "")
                    queryString += "date4=" + date4 + "&";
                if (date5 != "")
                    queryString += "date5=" + date5 + "&";
                if ($("#DisplayIos").prop("checked"))
                    queryString += "DisplayIos=true&";
                if ($("#DisplayAndroid").prop("checked"))
                    queryString += "DisplayAndroid=true&";
                
                window.location = "/analytics/hourlyCoin?" + queryString;
            }));
            $(".legend").click(function () {
                $(this).fadeOut(500);
                setTimeout(function () {
                    $(".legend").fadeIn(1000);
                }, 5000);
            });
            $(".clear-button").click(function () {
                var id = $(this).attr("id").replace("clearDate", "");
                $("#datepicker" + id).val("");
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>
<div id="input-form">
    <ul>
        <li><input type="text" id="datepicker1" class="datepicker text" value="@Model.Date[0]"/><input type="button" id="clearDate1" class="clear-button" value="×" />合計：@Html.Raw(Model.PaymentLog.Any() ? string.Format("<strong class=\"total\">{0}</strong>(iOS:{1}/Android:{2})", @Model.PaymentLog[0].TotalCoin, @Model.PaymentLog[0].IosCoin, @Model.PaymentLog[0].ArdCoin) : "")</li>
        <li><input type="text" id="datepicker2" class="datepicker text" value="@Model.Date[1]"/><input type="button" id="clearDate2" class="clear-button" value="×" />合計：@Html.Raw(1 < Model.PaymentLog.Count() ? string.Format("<strong class=\"total\">{0}</strong>(iOS:{1}/Android:{2})", @Model.PaymentLog[1].TotalCoin, @Model.PaymentLog[1].IosCoin, @Model.PaymentLog[1].ArdCoin) : "")</li>
        <li><input type="text" id="datepicker3" class="datepicker text" value="@Model.Date[2]"/><input type="button" id="clearDate3" class="clear-button" value="×" />合計：@Html.Raw(2 < Model.PaymentLog.Count() ? string.Format("<strong class=\"total\">{0}</strong>(iOS:{1}/Android:{2})", @Model.PaymentLog[2].TotalCoin, @Model.PaymentLog[2].IosCoin, @Model.PaymentLog[2].ArdCoin) : "")</li>
        <li><input type="text" id="datepicker4" class="datepicker text" value="@Model.Date[3]"/><input type="button" id="clearDate4" class="clear-button" value="×" />合計：@Html.Raw(3 < Model.PaymentLog.Count() ? string.Format("<strong class=\"total\">{0}</strong>(iOS:{1}/Android:{2})", @Model.PaymentLog[3].TotalCoin, @Model.PaymentLog[3].IosCoin, @Model.PaymentLog[3].ArdCoin) : "")</li>
        <li><input type="text" id="datepicker5" class="datepicker text" value="@Model.Date[4]"/><input type="button" id="clearDate5" class="clear-button" value="×" />合計：@Html.Raw(4 < Model.PaymentLog.Count() ? string.Format("<strong class=\"total\">{0}</strong>(iOS:{1}/Android:{2})", @Model.PaymentLog[4].TotalCoin, @Model.PaymentLog[4].IosCoin, @Model.PaymentLog[4].ArdCoin) : "")</li>
    </ul>

    <ul>
        <li><input type="checkbox" id="DisplayIos" name="DisplayIos" @(Model.DisplayiOS ? "checked" : "") value="true"/><label for="DisplayIos">iOS</label></li>
        <li><input type="checkbox" id="DisplayAndroid" name="DisplayAndroid" @(Model.DisplayAndroid ? "checked" : "") value="true"/><label for="DisplayAndroid">Android</label></li>
    </ul>
</div>
<input type="button" value="表示" id="showButton"/> 

<div class="demo-container">
	<div id="placeholder" class="demo-placeholder" style="height: 400px;width: 800px;"></div>
    <div id="hoverdata"></div>
</div>
<br/>

<table id="data">
    <thead>
        <tr>
            <th rowspan="2">時間帯</th>
            @foreach (var paymentLog in Model.PaymentLog)
            {
                <th colspan="3">@paymentLog.TargetDate.ToString("yyyy-MM-dd") <br /> 売上コイン数</th>
            }
        </tr>
        <tr>
            @for (var i = 0; i < Model.PaymentLog.Count(); i++)
            {
                <th>TOTAL</th>
                <th>iOS</th>
                <th>Android</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.PaymentLog.Any())
        {
            for (var hour = 0; hour < 24; hour++)
            {
                <tr>
                    <td>@hour</td>
                    @for (var i = 0; i < Model.PaymentLog.Count(); i++)
                    {

                        <td>@(hour < Model.PaymentLog[i].TotalCoinData.Count ? Model.PaymentLog[i].TotalCoinData[hour].Value.ToString("#,0") : "")</td>
                        <td>@(hour < Model.PaymentLog[i].IosCoinData.Count ? Model.PaymentLog[i].IosCoinData[hour].Value.ToString("#,0") : "")</td>
                        <td>@(hour < Model.PaymentLog[i].ArdCoinData.Count ? Model.PaymentLog[i].ArdCoinData[hour].Value.ToString("#,0") : "")</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@*@grid.GetHtml(
    columns: grid.Columns(
        grid.Column("時間帯", "時間帯", style:"product"),
        grid.Column("売上コイン数", "売上コイン数", style:"coin")
    )
)*@
<br />