﻿@using Inazuma.Core.Application.Operation
@{
    ViewBag.Title = "WebRoleInstance";
}
<div id="body">
    <h2>@ViewBag.Title</h2>
    
    <table id="tblWebRoles">
        <thead>
            <tr><th rowspan="2">RoleName</th><th rowspan="2">InstanceId</th><th colspan="10">Operation</th></tr>
            <tr><th colspan="2">Detach/Attach</th><th colspan="3">Clear/Recycle</th><th>ChechStatus</th><th colspan="4">CheckLogging</th></tr>
        </thead>
        <tbody>
            @foreach (var role in ViewBag.Roles)
            {
                var roleNameSections = role.Name.Split('.');
                
                foreach (var instance in role.Instances)
                {
                    <tr>
                        <td>@Html.Raw(role.Name)</td>
                        <td>@Html.Raw(instance.Id)</td>
                        <td>
                            @using (Html.BeginForm("Detach", "WebRoleInstance", new { instanceId = instance.Id }, FormMethod.Post))
                            {
                                <input type="submit" name="detachInstances" id="txbDetch_@instance.Id" value="Detach" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("Attach", "WebRoleInstance", new { instanceId = instance.Id }, FormMethod.Post))
                            {
                                <input type="submit" name="attachInstances" id="txbAtach_@instance.Id" value="Attach" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("RefreshLocalCache", "WebRoleInstance", new { instanceId = instance.Id, cacheTypeNames = (string[])null }, FormMethod.Post))
                            {
                                <input type="submit" name="refreshLocalCache" id="txbRefreshLocalCache_@instance.Id" value="LocalCache" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("RecycleAppPools", "WebRoleInstance", new { instanceId = instance.Id }, FormMethod.Post))
                            {
                                @*<input type="submit" name="RecycleAppPools" id="btRecycleAppPools_@instance.Id" value="AppPool" />*@
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("ClearConnectionPools", "WebRoleInstance", new { instanceId = instance.Id }, FormMethod.Post))
                            {
                                <input type="submit" name="ClearConnectionPools" id="btClearConnectionPools_@instance.Id" value="ConnectionPool" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("CheckHealth", "WebRoleInstance", new { instanceId = instance.Id }, FormMethod.Post))
                            {
                                <input type="submit" name="CheckHealth" id="btCheckHealth_@instance.Id" value="CheckHealth" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("CheckLogging", "WebRoleInstance", new { instanceId = instance.Id }, FormMethod.Post))
                            {
                                <input type="submit" name="CheckInfoLogging" id="btCheckInfoLogging_@instance.Id" value="Info" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("CheckWarningLogging", "WebRoleInstance", new { instanceId = instance.Id }, FormMethod.Post))
                            {
                                <input type="submit" name="CheckWaningLogging" id="btCheckWaningLogging_@instance.Id" value="Waning" />
                            }
                        </td>

                        <td>
                            @using (Html.BeginForm("CheckErrorLogging", "WebRoleInstance", new { instanceId = instance.Id }, FormMethod.Post))
                            {
                                <input type="submit" name="CheckErrorLogging" id="btCheckErrorLogging_@instance.Id" value="Error" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("CheckFatalLogging", "WebRoleInstance", new { instanceId = instance.Id }, FormMethod.Post))
                            {
                                <input type="submit" name="CheckFatalLogging" id="btCheckFatalLogging_@instance.Id" value="Fatal" />
                            }
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
    
    @using (Html.BeginForm("CheckApiLogging", "WebRoleInstance", FormMethod.Post))
    {
        <input type="submit" name="CheckApiLogging" value="ChecApiLogging" />
    }
    
    @if (TempData["result"] != null)
    {
        <div style="clear:both"><span style="font-weight: bold">Result:</span>&nbsp;@DateTimeOffset.Now<br/>
            @TempData["result"]
        </div>
    }

    @if (TempData["refreshLocalCacheResult"] != null)
    {
        <div style="clear:both"><span style="font-weight: bold">Result:</span>&nbsp;@DateTimeOffset.Now
            <table>
                <tr><th>No.<th>Type</th><th>Result</th><th>Error</th></tr>
                @{
                    var index = 0;

                    foreach (var result in (IEnumerable<RefreshLocalCacheResult>)TempData["refreshLocalCacheResult"])
                    {
                    <tr><td>@(++index)</td><td>@result.TypeName</td><td>@result.Level</td><td>@result.ErrorString</td></tr>  
                    }
                }
            </table>
        </div>
    }
</div>
@section styles
{
    <style type="text/css">
        th
        {
            text-align:center;
        }
        td
        {
            text-align: left;
        }
    </style>
}