﻿<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/jquery-ui.css")
        @Scripts.Render("~/bundles/modernizr")
        <style type="text/css">
            /*html, body
            {
                height:100%
            }*/
            a
            {
                white-space: nowrap;
            }
            .tableContainer
            {
                display:table;
            }
            .leftPane
            {
                display:table-cell;
                min-width:200px;
            }
            .rightPane
            {
                display:table-cell;
                min-width:200px;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <a href="~/">Edge Admin</a></p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("ホーム", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="tableContainer" style="clear: both;">
            <div class="leftPane">
                <ul data-bind="foreach: linkList">
                    <li>
                        <a data-bind="text: desc, attr: { href: url }"></a>
                    </li>
                </ul>
            </div>
            <div>@RenderBody()</div>
            <div class="rightPane">@RenderSection("rightPane", false)</div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("styles", required: false)
        <script type ="text/javascript" src="/Scripts/knockout-2.2.1.js"></script>
        @RenderSection("scripts", required: false)
        <script type ="text/javascript">
            $(function () {
                //ViewModelを定義
                function testappViewModel() {
                    var self = this;

                    self.linkList = ko.observableArray(
                        [
                            { "url": "/dashboard/default", "desc": "ダッシュボード" },
                            { "url": "/analytics/hourly", "desc": "アクセス状況" },
                            { "url": "/analytics/hourlyCoin", "desc": "コイン購入状況(時間帯別)" },
                            { "url": "/analytics/hourlyGachaBuy", "desc": "ガチャ購入状況(時間帯別)" },
                            { "url": "/analytics/hourlyShopBuy", "desc": "ショップ購入状況(時間帯別)" },
                            { "url": "/analytics/hourlyItemUse", "desc": "アイテム使用状況(時間帯別)" },
                            { "url": "/analytics/hourlyTicketGachaBuy", "desc": "チケットガチャ利用状況(時間帯別)" },
                            { "url": "/analytics/userHometownSummary", "desc": "都道府県分布" },
                            { "url": "/analytics/userFavouriteClubSummary", "desc": "お気に入りクラブ分布" },
                            { "url": "/analytics/install", "desc": "インストール(日別)" },
                            { "url": "/Areas/report/default.aspx", "desc": "カスタムレポート" },
                        ]
                        )
                        ;

                    self.message = ko.observable(''); //初期値は空文字列を指定
                }

                //bindingスタート
                ko.applyBindings(new testappViewModel(), document.getElementsByClassName("leftPane")[0]);
            });
        </script>
        
    </body>
</html>
