﻿@model Edge.Web.DebugWebRole.Models.ViewModel.UserViewModel
@{
    ViewBag.Title = "Dp変更";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (@ViewBag.Message != null)
{
    <h1>@ViewBag.Message</h1>
}

<div>
    
    @using (Html.BeginForm("Full", "UserStatusDp", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="submit" value="全回復"/>
    }

    @using (Html.BeginForm("Empty", "UserStatusDp", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="submit" value="Zero"/>
    }
    
    @using (Html.BeginForm("Update", "UserStatusDp", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>DP:@Model.Dp/MaxDP:@Model.MaxDp</label>
        <input type="text" name="Amount" value="0"/>
        <input type="submit" value="更新"/>
    }
</div>
