﻿@model Inazuma.Web.AdminWebRole.Areas.Operation.Models.BatchLogViewModel
@{
    ViewBag.Title = "BatchLog";
}

<script type ="text/javascript" src="/Scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
$(function() {
    $('#LogDetail').width(($(window).width() - $(document.forms[0]).width() - 20));
    $('#LogDetail').height(($(window).height() - $(document.forms[0]).height() - 20));
    $('#BatchLog').change(function () {
        LogLoad();
    });
});

function LogLoad() {
    var url = "/Operation/BatchLogTail?fileName=" + $('#BatchLog option:selected').val();
    $('#LogDetail').attr("src", url).load();
}
</script>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "BatchLogTail", FormMethod.Get))
{
    @Html.DropDownList("BatchLog", Model.LogListItem)
}

<iframe id="LogDetail"></iframe>
