﻿@charset "utf-8";
/* CSS Document */

/*============================================================
 * CSS Reset
 *============================================================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	text-decoration:none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/*============================================================
 * Main layout
 *============================================================*/
body{
	background-color:#CCC;
	color:#fff;
}

#header,#menu,#footer{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:10px;
}

#container{
	background-color:#fff;
	width:950px;
	height:auto;
	margin:0 auto;
	box-shadow:0 0 4px 1px rgba(0,0,0,0.5);
}

#header{
	background-color:#000;
	height:90px;
	position:relative;
}

#content-wrap{
	display:-webkit-box;
	width:100%;
	min-height:500px;
}

#menu{
	background-color:#333;
	width:25%;
}

#main{
	color:#000;
	background-color:#fff;
	width:75%;
	padding-bottom:10px;
}

#footer{
	background-color:#000;
	min-height:20px;
}
 
/*============================================================
 * common
 *============================================================*/
 
h1{
	font-size:12px;
	line-height:1.5em;
}

/*============================================================
 * header
 *============================================================*/ 

#header h2{
	margin-top:10px;
	font-size:24px;
}

.log-out{
	display:block;
	text-align:center;
	line-height:1.6em;
	color:#fff;
	width:90px;
	height:17px;
	font-size:11px;
	border:solid 1px #fff;
	border-radius:3px;
	position:absolute;
	top:10px;
	right:10px;
}

/*============================================================
 * login
 *============================================================*/
 
/*============================================================
 * menu
 *============================================================*/
 
#menu h2{
	font-size:12px;
	margin:0 0 15px 0;
}

#menu-list{
	padding-left:30px;
}

#menu-list ul{
	list-style-type: none
}

#menu a{
	color:#fff;
	font-size:14px;
}

#menu a:hover{
	color:#CCC;
	text-decoration:underline;
}

#menu a p{
	margin-top:10px;
}

/*============================================================
 * main
 *============================================================*/
 
#topic-path{
	width:100%;
	height:60px;
	background-color:#CCC;
	padding:20px;
	box-sizing:border-box;
}

#topic-path p > span:after{
	content:"＞";
	margin:0 7px;
}

#topic-path p > span:last-child:after{
	content:"";
}
 
 
.info-wrap{
	width:640px;
	min-height:100px;
	margin:20px auto;
	padding:10px;
	box-sizing:border-box;
	box-shadow:0 0 2px 2px rgba(0,0,0,0.3);
	border-radius:10px;
}

.info-wrap h2{
	font-size:12px;
}

.fraction{
}

.fraction .numerator{
	font-size:32px;
	font-weight:bold;
	color:#F60;
}

.fraction .denominator{
	font-size:24px;
	font-weight:bold;
	color:#000;
}

.fraction .denominator:before{
	content:"/";
	margin:0 2px;
}

.fraction .ratio{
	font-size:20px;
	font-weight:bold;
	color:#000;
}

.fraction .ratio:before{
	content:"［";
}

.fraction .ratio:after{
	content:"］";
}

.line-graph{
	width:600px;
	min-height:200px;
	background-color:#999;
	margin:20px auto;
}

.member-table{
	width:600px;
	text-align:center;
	font-size:14px;
	line-height:2.0em;
	margin:20px auto;
	border:solid 1px #000;
}

.member-table tr{
	height:30px;
	border-bottom:solid 1px #999;
}

.member-table thead{
	background-color:#666;
}

.member-table tbody th{
	background-color:#CCC;
}
 
 