﻿@model Edge.Web.DebugWebRole.Models.ViewModel.AIAppCodeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Target</h3>
@foreach (var dic in Model.Target) {
    <p>@dic.Value:@dic.Key</p>
}

<h3>Parameter</h3>
@foreach (var dic in Model.Parameter)
{
    <p>@dic.Value:@dic.Key</p>
}

<h3>Condition</h3>
@foreach (var dic in Model.Condition)
{
    <p>@dic.Value:@dic.Key</p>
}

<h3>Action</h3>
@foreach (var dic in Model.Action)
{
    <p>@dic.Value:@dic.Key</p>
}

<h3>ActionDetailAttack</h3>
@foreach (var dic in Model.ActionDetailAttack)
{
    <p>@dic.Value:@dic.Key</p>
}

<h3>ActionDetailSkill</h3>
@foreach (var dic in Model.ActionDetailSkill)
{
    <p>@dic.Value:@dic.Key</p>
}

<h3>ActionDetailAnimation</h3>
@foreach (var dic in Model.ActionDetailAnimation)
{
    <p>@dic.Value:@dic.Key</p>
}

