﻿@model Edge.Web.DebugWebRole.Models.ViewModel.AIMasterViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AIMasterViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AIID)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => model.AIID)
        </div>
        @Html.HiddenFor(model => model.AIID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AICategory)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.AICategory, Model.AICategories, "選択してください" )
            @Html.ValidationMessageFor(model => model.AICategory)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
