﻿@using Edge.Core.Application.Common
@model Edge.Web.DebugWebRole.Models.ViewModel.AIMasterViewModel[]


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
table, td, th {
border: 2px blue solid;
}    
</style>

<h2>@ViewBag.Title</h2>

@if (@ViewBag.Message != null)
{
    <h1>@ViewBag.Message</h1>
}

<table>
    <thead>
        <tr>
            <th>AI ID</th>
            <th>AI Category</th>
            <th>Name</th>
            <th>Description</th>
            <th>DetailHasNum</th>
            <th>AddTime</th>
            <th>UpdateTime</th>
            <th>To Show</th>
        </tr>
    </thead>

    @foreach (var aiMasterRow in Model)
    {
        <tr>
            <td>@aiMasterRow.AIID</td>
            @{ var aiCategory = (AppCode.AICategory) @aiMasterRow.AICategory;}
            <td>@aiCategory</td>
            <td>@aiMasterRow.Name</td>
            <td>@aiMasterRow.Description</td>
            <td>@aiMasterRow.DetailHasNum</td>        
            <td>@aiMasterRow.AddTime</td>        
            <td>@aiMasterRow.UpdateTime</td>        
            <td>@Html.ActionLink("Show", "Show", new { id=@aiMasterRow.AIID })</td>
        </tr>
    }
</table>

@using (Html.BeginForm("Create", "AI", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    <input type="submit" value="新規作成"/>
}







