﻿@model Edge.Web.DebugWebRole.Models.ViewModel.AIMasterViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>AIMasterViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AICategory)
    </div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.AICategory, Model.AICategories, "選択してください", new { disabled = "disabled" } )
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DetailHasNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DetailHasNum)
    </div>
</fieldset>
<p>
    @Html.ActionLink("To AIDetailMaster", "Index", "AIDetailMaster", new { aiId=Model.AIID }, null) |
    @Html.ActionLink("Edit", "Edit", new { id=Model.AIID }) |
    @Html.ActionLink("Delete", "Destroy", new { id = Model.AIID }, new { onclick = "return confirm('Are you sure you wish to delete this?');" } ) |
    @Html.ActionLink("Back to List", "Index")
</p>
