﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers
@{
    ViewBag.Title = "PUSH管理";
}

@section styles
{
    <style type="text/css">
        th { text-align: center; background-color: aquamarine }
        .medium { font-size: small }
        .delete { text-align: left }
        .message {width: 500px; text-align: left }
        .date { width: 150px }
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('#btnInsert').click((function () {
                var id = $('#pushId').val();
                var queuefromdate = $('#sendTime').val();
                var message = $('#message').val();
                var targetdevice = 0;
                $('input:checkbox:checked').each(function () { targetdevice += parseInt($(this).val()); });
                window.location = "/operation/push/insertmessage?pushid=" + id + "&sendTime=" + queuefromdate + "&message=" + message + "&targetdevice=" + targetdevice;
            }));

            $('#btnCancelInsert').click((function () {
                var id = $('#pushId').val();
                var queuefromdate = $('#sendTime').val();
                var message = $('#message').val();
                var targetdevice = 0;
                $('input:checkbox:checked').each(function () { targetdevice += parseInt($(this).val()); });
                window.location = "/operation/push/editmessage?pushid=" + id + "&sendTime=" + queuefromdate + "&message=" + message + "&targetdevice=" + targetdevice;
            }));

            $('#btnConfirm').click((function () {
                var id = $('#pushId').val();
                var queuefromdate = $('#sendTime').val();
                var message = $('#message').val();
                var targetdevice = 0;
                $('input:checkbox:checked').each(function () { targetdevice += parseInt($(this).val()); });
                window.location = "/operation/push/editmessage?pushid=" + id + "&sendTime=" + queuefromdate + "&message=" + message + "&targetdevice=" + targetdevice + "&confirm=true";
            }));

            $('#btnCancelEdit').click((function () {
                window.location = "/operation/push/";
            }));
        });
    </script>
}

<h2>@ViewBag.Title</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
<span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrorMessage</label></span><br />
}

<input type="hidden" id="pushId" value="@ViewBag.PushId"/>
<table id="tblSchedules">
    <tbody>
        <tr>
            <td style="height: 45px; width: 100px; text-align: left; background-color: aquamarine">&nbsp;PushId</td>
            <td style="width: 500px; text-align: left; background-color: lightgrey">@ViewBag.PushId</td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;送信日時</td>
            <td style="width: 500px; text-align: left; background-color: lightgrey">
                @if (ViewBag.IsConfirm)
                {
                    <input type="text" disabled="disabled" id="sendTime" value="@ViewBag.SendTime"/>
                }
                else
                {
                    <input type="text" id="sendTime" value="@ViewBag.SendTime" />
                    <div>ex.)@ViewBag.Now</div>
                }
                <br />
            </td>
        </tr>
        <tr>
            <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;メッセージ</td>
            <td style="width: 500px; text-align: left; background-color: lightgrey">
                @if (ViewBag.IsConfirm)
                {
                    <input type="text" disabled="disabled" id="message" value="@ViewBag.Message"/>
                }
                else
                {
                    <input type="text" id="message" value="@ViewBag.Message"/><br />
                    <div>メッセージは50文字以内です</div>
                }
                <br />
            </td>
        </tr>
        <tr>
            <td style="background-color: aquamarine">iOS</td>
            <td style="width: 500px; text-align: left; background-color: lightgrey">
                @if (ViewBag.TargetDevice.IsIos)
                {
                    <input type="checkbox" name="targetDeviceIos" value="@ViewBag.DeviceType.Ios" style="width: 20px; height: 20px" checked="" />
                }
                else
                {
                    <input type="checkbox" name="targetDeviceIos" value="@ViewBag.DeviceType.Ios" style="width: 20px; height: 20px" />
                }
                <br />
            </td>
        </tr>
        <tr>
            <td style="background-color: aquamarine">Android</td>
            <td style="width: 500px; text-align: left; background-color: lightgrey">
                @if (ViewBag.TargetDevice.IsAndroid)
                {
                    <input type="checkbox" name="targetDeviceAndroid" value="@ViewBag.DeviceType.Android" style="width: 20px; height: 20px" checked="" />
                }
                else
                {
                    <input type="checkbox" name="targetDeviceAndroid" value="@ViewBag.DeviceType.Android" style="width: 20px; height: 20px" />
                }
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left">
                @if (ViewBag.IsConfirm)
                {
                    <input type="button" value="挿入" id="btnInsert"/> <input type="button" value="キャンセル" id="btnCancelInsert"/>
                }
                else
                {
                    <input type="button" value="確認" id="btnConfirm"/> <input type="button" value="キャンセル" id="btnCancelEdit"/>
                }
            </td>
        </tr>
    </tbody>
</table>
