﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers
@{
    ViewBag.Title = "PUSH管理";
    List<GridPushData> pushData = ViewBag.PushData;
    var pushGrid = new WebGrid(pushData, null, "PushId", 10);
}

@section styles
{
    <style type="text/css">
        th { text-align:center }
        .medium { font-size: small }
        .delete { width: 70px; text-align: center }
        .message { width: 700px; text-align: left }
        .date { width: 1000px; }
        .status { width: 200px; text-align: center }
        .icon { width:18px;height:18px;margin-right:5px;float:left;background-color: blue;color: white;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('.deleteButton').click((function () {
                window.location = "/operation/push/deletemessage?id=" + $(this).attr("id");
            }));
        });
    </script>
}

<h2>@ViewBag.Title</h2>
    <br />
    @using (Html.BeginForm("EditMessage", "Push", FormMethod.Get) )
    {
        <input type="submit" value="追加" /><br />
        <span style="color: red">＊送信日時の1時間前から送信準備が開始されます。</span>
    }
    <br />
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrorMessage</label></span><br />
}

    <div class="medium">■PUSH一覧</div>
    @if (pushData != null && pushData.Count() > 0)
    {
        @pushGrid.GetHtml(
            columns: pushGrid.Columns(
                pushGrid.Column(style: "delete", format: @<input type="button" value="削除" id="@item.PushId" class="deleteButton" style="width: 50px"/>),
                pushGrid.Column("PushId", "PushId", style: "product"),
                pushGrid.Column("Message", "メッセージ", style: "message"),
                pushGrid.Column("SendTime", "送信日時", style: "date"),
                pushGrid.Column("TargetDevice", "対象デバイス", format: @<div style="text-align: center">@Html.Raw(item.TargetDevice)</div>),
                pushGrid.Column("Status", "状態", style: "status")
            )
        )
    }
    <br />

