@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    @using (Html.BeginForm("Create", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>ニックネーム:</label>
        <input type="text" name="Nick" value=""/>
        <input type="submit" value="作成"/>
    }
    <br/>
    @using (Html.BeginForm("Destroy", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="submit" value="削除"/>
    }
</div>
