﻿body
{
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header
{
    display: block;
    padding: 5px;
    background: #006699;
}

header h1
{
    margin: 0;
}

header div, header a
{
    color: #ffffff;    
}

footer, nav
{
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset
{
    border: 1px solid #000;
    padding: 1.4em 1.4em 1.4em 1.4em;
    background: #F5D0A9;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #f00;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid
{
    display: none;
}

#contents
{
    display: block;
    margin: 20px 0 20px 0;
}

.category_menu
{
    font-size: 16px;
}

.menu_list
{
    width: auto;
    font-size: 16px;
    color: #333333; 
    background: #d6e5f5;
    padding: 5px;
    margin: 2px 10px;
}

.menu_list li
{
    list-style-type: none;
    padding: 2px 5px;
    border-bottom: 1px solid #84b2e0;
}

.menu_list li a
{
    text-decoration: none;
    color: #0e2236;
    display: block;
    padding: 5px 10px;
    -moz-transition-property: all;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -webkit-transition: all 0.2s linear 0;
}

.menu_list li a:hover
{
    color: #ff0099;
    background: rgba(255,255,255,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99ffffff', endColorstr='#99ffffff');
}