﻿@{
    ViewBag.Title = "イベント開催情報";
    var eventventMasterGrid = new WebGrid(ViewBag.EventMasterData, null, "Date", 999);
}

<h2>@ViewBag.Title</h2>

@section styles
{
    <style type="text/css">
        .IndexPanel
        {
            display:table-cell;
            min-width:200px;
        }
        .large 
        {
            font-size: large;
        }
    </style> 
}

<div class="large">[ EventMaster ]</div>
@eventventMasterGrid.GetHtml(
    columns: eventventMasterGrid.Columns(
        eventventMasterGrid.Column("EventId","EventId",style:"product"),
        eventventMasterGrid.Column("EventType","イベント種類"),
        eventventMasterGrid.Column("Device","対象デバイス"),
        eventventMasterGrid.Column("FromDate", "イベント開始日時"),
        eventventMasterGrid.Column("ToDate", "イベント終了日時"),
        eventventMasterGrid.Column("Title","タイトル"),
        eventventMasterGrid.Column("Description","イベント説明")
    )
)
