﻿@{
    ViewBag.Title = "Index";
}


<div id="body">
    <h2>RoleInstance</h2>
    
    <table id="tblRoles">
        <thead>
            <tr>
                <th>RoleName</th>
                <th>InstanceId</th>
                <th>EndpointName</th>
                <th>Protocol</th>
                <th>Address</th>
                <th>AddressFamily</th>
                <th>Port</th>
                <th>PublicAddress</th>
                <th>PublicAddressFamily</th>
                <th>PublicPort</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in ViewBag.Roles.Values)
            {
                var roleNameSections = role.Name.Split('.');
                
                foreach (var instance in role.Instances)
                {
                    foreach (var endPointSet in instance.InstanceEndpoints)
                    {
                        var endPoint = endPointSet.Value;
                        
                        <tr>
                            <td>@Html.Raw(role.Name)</td>
                            <td>@Html.Raw(instance.Id)</td>
                            <td>@endPointSet.Key</td>
                            <td>@endPoint.Protocol</td>
                            @if (endPoint.IPEndpoint != null)
                            {
                                var ipEndPoint = endPoint.IPEndpoint;
                                <td>@ipEndPoint.Address</td>
                                <td>@ipEndPoint.AddressFamily</td>
                                <td>@ipEndPoint.Port</td>
                            }
                            else
                            {
                                <td/>
                                <td/>
                                <td/>
                            }
                            @if (endPoint.PublicIPEndpoint != null)
                            {
                                var publicIpEndPoint = endPoint.PublicIPEndpoint;
                                <td>@publicIpEndPoint.Address</td>
                                <td>@publicIpEndPoint.AddressFamily</td>
                                <td>@publicIpEndPoint.Port</td>
                            }
                            else
                            {
                                <td/>
                                <td/>
                                <td/>
                            }
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

    @*    @foreach(var role in ViewBag.Roles.Values)
    {
        var roleNameSections = role.Name.Split('.');
    
        <div id="@roleNameSections[roleNameSections.Length - 1]">
            @role.Name
            @foreach (var instance in role.Instances)
            {
                <div style="text-indent:2ex" id="@instance.Id">@instance.Id</div>
        
                foreach (var endPointSet in instance.InstanceEndpoints)
                {
                    var endPoint = endPointSet.Value;
            
                    <div style="text-indent:4ex">EndPointName: @endPointSet.Key</div>
                    <div style="text-indent:6ex">Protocol: @endPoint.Protocol</div>
                    if (endPoint.PublicIPEndpoint != null)
                    {
                        var publicIpEndPoint = endPoint.PublicIPEndpoint;
                        <div style="text-indent:6ex">PublicAddress: @publicIpEndPoint.Address</div>
                        <div style="text-indent:6ex">PublicAddressFamily: @publicIpEndPoint.AddressFamily</div>
                        <div style="text-indent:6ex">PublicPort: @publicIpEndPoint.Port</div>
                    }
                    if (endPoint.IPEndpoint != null)
                    {
                        var ipEndPoint = endPoint.IPEndpoint;
                        <div style="text-indent:6ex">Address: @ipEndPoint.Address</div>
                        <div style="text-indent:6ex">AddressFamily: @ipEndPoint.AddressFamily</div>
                        <div style="text-indent:6ex">Port: @ipEndPoint.Port</div>
                    }
                }
            }
        </div>
    }*@
</div>
@section styles
{
    <style type="text/css">
        th
        {
            text-align:center;
        }
        td
        {
            text-align: left;
        }
    </style>
}
