﻿@{
    ViewBag.Title = "BatchScheduler";
}

@*<script type="text/javascript">
window.onload = function () {
    document.getElementById("tblSchedules").getElementsByTagName("tr").item(0).className = "header";
}
</script>*@

<style type="text/css">
    .taskScheduleHeader {
        background-color: #819FF7;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
    }
</style>

<h2>BatchScheduler</h2>

<h3>現在のバッチのスケジュール状況</h3>
@if (ViewBag.TaskScheduleViewModel.Count == 0)
{
    <div style="font-size:100px;">@ViewBag.Label</div>
}
else
{
    <table id="tblSchedules">
        <thead>
            <tr class="taskScheduleHeader">
                <th>タスク名</th>
                <th>スケジュールの種類</th>
                <th>開始日</th>
                <th>繰り返し：日</th>
                <th>繰り返し：月</th>
                <th>繰り返し：分</th>
                <th>次回の実行時刻</th>
                <th>前回の実行時刻</th>
                <th>状態</th>
                <th>前回の結果</th>
                <th>実行タスク</th>
                <th>コメント</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in ViewBag.TaskScheduleViewModel)
            {
                <tr>
                    <td>@schedule.TaskName</td>
                    <td>@schedule.ScheduleType</td>
                    <td>@schedule.StartDate</td>
                    <td>@schedule.LoopDay</td>
                    <td>@schedule.LoopMonth</td>
                    <td>@schedule.LoopTime</td>
                    <td>@schedule.NextExecuteTime</td>
                    <td>@schedule.LastTimeExecuteTime</td>
                    <td>@schedule.Status</td>
                    <td>@schedule.LastTimeResult</td>
                    <td>@schedule.ExecuteTask</td>
                    <td>@schedule.Comment</td>
                </tr>
            }
        </tbody>
    </table>
}
