﻿@model dynamic

@{
    ViewBag.Title = "お知らせ編集（確認）";
}

@section styles
{
    <style type="text/css">
        .aaa
        {
            border-collapse: collapse;
            border: solid 1px #00bfff;   
        }
        td {
            text-align: left;
        }
        .icon { width:18px;height:18px;margin-right:5px;float:left;background-color: blue;color: white;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
    </style>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#cancel').click((function () {
                $("#methodType").val("cancel");
                $('#form1').submit();
            }));
        });
    </script>
}

<h2>@ViewBag.Title</h2>

<form id="form1" method="POST" action="/operation/newsMaster/editSubmit">
    <input type="hidden" name="NewsId" value="@ViewBag.editModel.ID" />
    <input type="hidden" name="MethodType" id="methodType" value="submit" />
    <table class="aaa">
        <tr>
            <th>ID</th><td>@ViewBag.editModel.ID</td>
        </tr>
        <tr>
            <th>タイトル</th><td>@ViewBag.editModel.タイトル</td>
        </tr>
        <tr>
            <th>リンク先</th><td>@ViewBag.editModel.リンク先</td>
        </tr>
        <tr>
            <th>詳細</th><td>@{ WriteLiteral(@ViewBag.editModel.表示用詳細); }</td>
        </tr>
        <tr>
            <th>掲載期間</th><td>@ViewBag.editModel.掲載開始日 から @ViewBag.editModel.掲載終了日 まで</td>
        </tr>
        <tr>
            <th>デバイス</th>
            <td>
                <div style="text-align: center">@Html.Raw(ViewBag.editModel.TargetDeviceHtml)</div>               
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="登録" /> <input type="button" value="編集" id="cancel" /></td>
        </tr>
    </table>
    <input type="hidden" name="NewsId" value="@ViewBag.editModel.ID" />
    <input type="hidden" name="NewsTitle" value="@ViewBag.editModel.タイトル" />
    <input type="hidden" name="NewsLink" value="@ViewBag.editModel.リンク先" />
    <input type="hidden" name="NewsDetail" value="@ViewBag.editModel.詳細" />
    <input type="hidden" name="FromDate" value="@ViewBag.editModel.掲載開始日" />
    <input type="hidden" name="ToDate" value="@ViewBag.editModel.掲載終了日" />
    <input type="hidden" name="ExecMode" value="@ViewBag.editModel.ExecMode" />
    @if (ViewBag.editModel.TargetDevice.IsIos)
    {
        <input type="hidden" name="targetDeviceIos" value="@ViewBag.editModel.DeviceType.Ios" />
    }
    @if (ViewBag.editModel.TargetDevice.IsAndroid)
    {
        <input type="hidden" name="targetDeviceAndroid" value="@ViewBag.editModel.DeviceType.Android" />
    }
</form>