﻿
<@Page validateRequest="false" %>

@model dynamic
@{
    ViewBag.Title = "お知らせ編集";
    var newsId = ViewBag.editModel.ID == 0 ? "" : ViewBag.editModel.ID;
}

@section styles
{
    <style type="text/css">
        .emphasis { font-weight: bold;color: red; }
        .example { font-weight: bold;color: royalblue; }
        .bold { font-weight: bold; }
    </style> 
}

@section scripts
{    
    <script src="/Scripts/jquery.flot.min.js"></script>
    <script src="/Scripts/jquery.flot.time.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var format1 = { dateFormat: 'yy/mm/dd 00:00:00' };
            var format2 = { dateFormat: 'yy/mm/dd 23:59:59' };

            $('#datepicker1').datepicker(format1);
            $('#datepicker2').datepicker(format2);

        });
    </script>
}

<h2>@ViewBag.Title</h2>
@if (@ViewBag.errorMessage != null)
{
    <ul>
        @foreach (var err in @ViewBag.errorMessage)
        {
            <li class="emphasis">@err</li>
        }
    </ul>
}

<form method="POST" action="/operation/newsMaster/editConfirm">
    <div>
        @if (ViewBag.editModel.ExecMode == 0)
        {
            <span class="bold">ID：</span><input type="text" name="NewsId" value="@newsId" /><span class="emphasis">*必須</span>
        }
        else
        {
            <span class="bold">ID：</span><input type="text" name="NewsId" value="@newsId" readonly="readonly" /><span class="emphasis">*必須</span>
        }
    </div>
    <div>
        <span class="bold">タイトル：</span><input type="text" name="NewsTitle" value="@ViewBag.editModel.タイトル" /><span class="emphasis">*必須</span>
    </div>
    <div>
        <span class="bold">リンク先：</span><input type="text" name="NewsLink" value="@ViewBag.editModel.リンク先" /> *空文字可。自動生成URL
    </div>
    <div>
        <span class="bold">詳細：</span> 改行は削除されます。タグが記述できます。<span class="emphasis">*必須</span><br/>
        <textarea name="NewsDetail" style="height:400px">@ViewBag.editModel.詳細</textarea>
        <div class="example">※画像を埋め込みたい場合は @@imageRoot@@画像パス@@imageRevision@@</div>
    </div>
    <div>
        <span class="bold">掲載期間：</span> <input type="text" id="datepicker1" name="FromDate" value="@ViewBag.editModel.掲載開始日" style="width:150px" />から<input type="text" id="datepicker2" name="ToDate" value="@ViewBag.editModel.掲載終了日" style="width:150px" /><span class="emphasis">*必須</span> yyyy/MM/dd HH:mm:ss
    </div>
    <div>
        iOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @if (ViewBag.editModel.TargetDevice.IsIos)
        {
            <input type="checkbox" name="targetDeviceIos" value="@ViewBag.editModel.DeviceType.Ios" style="width: 20px; height: 20px" checked /><br />
        }
        else
        {
            <input type="checkbox" name="targetDeviceIos" value="@ViewBag.editModel.DeviceType.Ios" style="width: 20px;height: 20px" /><br />
        }
        Android &nbsp;
        @if (ViewBag.editModel.TargetDevice.IsAndroid)
        {
            <input type="checkbox" name="targetDeviceAndroid" value="@ViewBag.editModel.DeviceType.Android" style="width: 20px; height: 20px" checked /><br />
        }
        else
        {
            <input type="checkbox" name="targetDeviceAndroid" value="@ViewBag.editModel.DeviceType.Android" style="width: 20px; height: 20px" /><br />
        }
    </div>

    <input type="hidden" name="ExecMode" value="@ViewBag.editModel.ExecMode" />
    <input type="submit" value="確認" />
</form>