﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers

@{
    ViewBag.Title = "お知らせ管理";
    var grid = new WebGrid(ViewBag.data, null, "Status", 25);
}

@section styles
{
    <style type="text/css">
        th { text-align: center }
        td { text-align: center }
        .title {text-align: left;width: 350px; }
        .date { width: 120px; }
        .emphasis {font-weight: bold;color: red; }
        .icon {width: 18px;height: 18px;margin-right: 5px;float: left;background-color: blue;color: white;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
        .controlBox {
            display: none;
        }
        .bg-reflected-0, .bg-reflected-1, .bg-reflected-2, .bg-reflected-3 {display: block;width: 100%;font-weight: bold;}
        .bg-reflected-0 {background-color: red;color: #ffffff;}
        .bg-reflected-1 {background-color: yellow;color: #FF8020;}
        .bg-reflected-2 {background-color: orangered;color: #ffffff;}
        .bg-reflected-3 {background-color: green;color: #ffffff;}
        .bg-reflected-0 span, .bg-reflected-1 span, .bg-reflected-2 span, .bg-reflected-3 span {display: table-cell;height: 101px;vertical-align: middle;}

    </style> 
    @if (!string.IsNullOrEmpty(ViewBag.SearchKey["Title"]))
    {
        <style type="text/css">
            #title_search_box {
                display: block;
            }
        </style>
    } 
    @if (!string.IsNullOrEmpty(ViewBag.SearchKey["NewsId"]))
    {
        <style type="text/css">
            #id_search_box {
                display: block;
            }
        </style>
    }
}
@section scripts
{
    <script src="/Scripts/jquery.flot.min.js"></script>
    <script src="/Scripts/jquery.flot.time.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.edit_button').click((function() {
                window.location = "/operation/newsMaster/edit?id=" + $(this).attr("id");
            }));

            $('.delete_button').click((function() {
                if (confirm("NewsId : " + $(this).attr("id") + " を削除してもよろしいですか？")) {
                    window.location = "/operation/newsMaster/delete?id=" + $(this).attr("id");
                }
            }));

            $('#newButton').click((function() {
                window.location = "/operation/newsMaster/edit?id=0";
            }));

            $('#timeButton').click((function () {
                window.location = "/operation/newsmaster/index?time=" + $('#time').val();
            }));

            $('#timeResetButton').click((function () {
                window.location = "/operation/newsmaster/";
            }));

            $('#titleButton').click((function () {
                window.location = "/operation/newsmaster/index?title=" + $('#title').val();
            }));

            $('#titleResetButton').click((function () {
                window.location = "/operation/newsmaster/";
            }));
            $('#idButton').click((function () {
                window.location = "/operation/newsmaster/index?id=" + $('#newsId').val();
            }));

            $('#idResetButton').click((function () {
                window.location = "/operation/newsmaster/";
            }));
            $("h2").click(function() {
                var id = $(this).attr("id");
                $("#" + id + "_box").toggle(700);
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>

<div>
    <input type="button" value="新規作成" id="newButton"/>
</div>

<div class="emphasis">※!!更新後はキャッシュクリアする必要があります!!※</div>

<div>
    <span style="text-align: center" class='icon'>I</span>iOS<br/>
    <span style="text-align: center" class='icon'>A</span>Android
</div>
<h2 id="time_search">時間指定</h2>
<div id="time_search_box">
    <table>
        <tbody>
            <tr>
                <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;時間指定</td>
                <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                    <input type="text" id="time" maxlength="19" style="width: 500px" value="@ViewBag.Time"/><br />
                    <span>ex.)&nbsp;@ViewBag.Now</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <input type="button" value="指定した時間で絞込み" id="timeButton"/>
        <input type="button" value="絞込み解除" id="timeResetButton"/>
    </div>
</div>


<h2 id="title_search">タイトル指定</h2>
<div id="title_search_box" class="controlBox">
    <table>
        <tbody>
            <tr>
                <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;タイトル指定</td>
                <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                    <input type="text" id="title" maxlength="19" style="width: 500px" value="@ViewBag.SearchKey["Title"]"/><br />
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <input type="button" value="指定した文字列を含むタイトルで絞込み" id="titleButton"/>
        <input type="button" value="絞込み解除" id="titleResetButton"/>
    </div>
</div>

<h2 id="id_search">ID指定</h2>
<div id="id_search_box" class="controlBox">
    <table>
        <tbody>
            <tr>
                <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;ID指定<br />(Like検索)</td>
                <td class="tdValue" style="width: 500px; text-align: left; background-color: lightyellow">
                    <input type="text" id="newsId" maxlength="19" style="width: 500px" value="@ViewBag.SearchKey["NewsId"]"/><br />
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <input type="button" value="指定した文字列を含むIDで絞込み" id="idButton"/>
        <input type="button" value="絞込み解除" id="idResetButton"/>
    </div>
</div>

@grid.GetHtml(
    columns: grid.Columns(
            grid.Column(format: @<input type="button" value="編集" id="@item.ID" class="edit_button" />),
            grid.Column("ID", "ID"),
            grid.Column("ステータス", "ステータス"),
            grid.Column("タイトル", "タイトル", style: "title"),
            grid.Column("掲載開始日", "掲載開始日", style: "date"),
            grid.Column("掲載終了日", "掲載終了日", style: "date"),
            grid.Column("ID", "デバイス", format: @<div style="text-align: center">@Html.Raw(item.TargetDeviceHtml)</div>),
            grid.Column("OpenStatus", "公開状況", format: @<div class="bg-reflected-@item.OpenStatus"><span>@((OpenStatus) item.OpenStatus)</span></div>),
            grid.Column("ReflectionStaus", "反映状況", format: @<div class="bg-reflected-@item.ReflectionStatus"><span>@((ReflectionStaus) item.ReflectionStatus)</span></div>),
            grid.Column(format: @<input type="button" value="削除" id="@item.ID" class="delete_button" />)
        )
     )
<br />