﻿@model Edge.Core.InterfaceModel.Invite.InviteViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <title>招待</title>
        <style>
            body {
                text-align: center;
            }

            div {
                margin-top: 20px;
            }

            a img {
                border: none;
            }

            .container {
                width: 80%;
                margin: 0 auto;
            }

            .box {
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div>
                あなたの招待ID&nbsp;:&nbsp;@Model.InvitationCode
            </div>
            <div>
                @Model.Message
            </div>
            <div class="box">
                <a href="@Model.Line.Url">
                    <img src="http://mbga-img.messiah.ap11.clayapp.jp/line.png" alt="Line">
                </a>
            </div>
            <div class="box">
                <a href="@Model.Facebook.Url">
                    <img src="http://mbga-img.messiah.ap11.clayapp.jp/facebook.png" alt="Facebook">
                </a>
            </div>
            <div class="box">
                <a href="@Model.Twitter.Url">
                    <img src="http://mbga-img.messiah.ap11.clayapp.jp/twitter.png" alt="Twitter">
                </a>
            </div>
            <div class="box">
                <a href="@Model.Mail.Url">
                    <img src="http://mbga-img.messiah.ap11.clayapp.jp/mail.png" alt="Mail">
                </a>
            </div>
            <div class="box">
                <a href="@Model.Sms.Url">
                    <img src="http://mbga-img.messiah.ap11.clayapp.jp/sms.png" alt="SMS">
                </a>
            </div>
        </div>
    </body>
</html>