﻿@model dynamic

@{
    ViewBag.Title = "メンテナンス文言編集";
}

<h2>@ViewBag.Title</h2>

id:@ViewBag.Message.Id<br/>
表示モード<select id="viewmode">
    <option value="none">0:非表示</option>
    <option value="show-time">1:表示・時間表示</option>
    <option value="show-notime">2:表示・時間非表示</option>
</select><br/>
メンテナンス文言：<br/>
<textarea rows="10" id="input_message">@ViewBag.Message.Message</textarea><br/>

<div>
<input type="button" value="プレビュー" id="preview_button"/>
<input type="button" value="保存" id="store_button"/>
</div>

<div id="preview" style="width: 320px;border-style: solid;border-width: 1px;">
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#viewmode').val("@ViewBag.Message.VisibleTime");
            $('#store_button').click(function() {
                var inputMessage = $("#input_message").val();
                var inputVisible = $('#message_visible').val();
                var viewMode = $('#viewmode').val();
                var viewModeInt =
                    viewMode == "none" ? 0
                        : viewMode == "show-time" ? 1
                            : 2;
                $.post(
                    "store",
                    { "id": "@ViewBag.Message.Id", "message": $("<div/>").text(inputMessage).html(), "viewmode": viewModeInt },
                    function(data, status) {
                        if (status == 'success') {
                            alert("保存しました");
                            window.location = "index";
                        } else {
                            alert("!!!!保存できませんでした!!!!");
                        }
                    },
                    "html"
                );
            });

            $('#preview_button').click(function () {
                var viewmode = $('#viewmode').val();
                if (viewmode=="none") {
                    $('#preview').html("(非表示)");
                    return;
                }
                var now = new Date();
                var month = now.getMonth() + 1;
                var day = now.getDate();
                var hour = ('0' + now.getHours()).slice(-2);
                var minute = ('0' + now.getMinutes()).slice(-2);
                var updateTime = "<b>"+month + "月" + day + "日" + hour + ":" + minute+"更新</b><br/>";
                var inputMessage = $('#input_message').val();

                if (viewmode == "show-time") {
                    $('#preview').html(updateTime + inputMessage);
                } else {
                    $('#preview').html(inputMessage);
                }
            });
        });
    </script>
}
