﻿@model dynamic

@{
    ViewBag.Title = "メンテナンス文言修正";
}

<h2>@ViewBag.Title</h2>
<b style="color:red">※修正後はキャッシュをクリアする必要があります</b><br/>
<table>
    
@foreach (var message in ViewBag.Messages)
{
    <tr>
    <td><input type="button" value="編集" name="@message.Id" class="edit_button"/></td>
    <td>@(message.VisibleTime)</td>
    <td>@(message.Message)</td>
    <td>@message.DateTime</td>
    </tr>
}

</table>
<br/>
<div>
    <b>プレビュー</b>
</div>
<div id="preview" style="width: 320px; border-style: solid; border-width: 1px;">
@foreach (var message in ViewBag.Messages)
{
    if (message.VisibleTime != "非表示")
     {
         <p>
             @if (message.VisibleTime == "表示・時間表示")
             {
                 <b>@message.DateTime</b>
                 <br/>
             }
             @(new HtmlString(message.Message))
         </p>
     }
}
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('.edit_button').click((function () {
                window.location = "/operation/maintenancemessage/edit?id=" + $(this).attr("name");
            }) );

        });
    </script>
}
