﻿@using Edge.Core.Application.Common
@model Edge.Web.DebugWebRole.Models.ViewModel.AIDetailMasterViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AIDetailMasterViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Who)
    </div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.Who, Model.EnumWho, "選択してください", new { disabled = "disabled" } )
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Parameter)
    </div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.Parameter, Model.EnumParameter, "選択してください", new { disabled = "disabled" } )
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Condition)
    </div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.Condition, Model.EnumCondition, "選択してください", new { disabled = "disabled" } )
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Action)
    </div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.Action, Model.EnumAction, "選択してください", new { disabled = "disabled" } )
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActionDetail)
    </div>
    <div class="display-field">
        @{
            var targetEnum = new SelectListItem[]{};
            switch ((AppCode.AIAction)Model.Action)
            {
                case AppCode.AIAction.行動:
                    targetEnum = Model.EnumActionDetailAttack.ToArray();
                    break;
                case AppCode.AIAction.スキル:
                    targetEnum = Model.EnumActionDetailSkiil.ToArray();
                    break;
                case AppCode.AIAction.アニメーション:
                    targetEnum = Model.EnumActionDetailAnimation.ToArray();
                    break;
            }
        }
        @Html.DropDownListFor(model => model.ActionDetail, @targetEnum, "選択してください", new { disabled = "disabled" } )
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Target)
    </div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.Target, Model.EnumWho, "選択してください", new { disabled = "disabled" } )
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Times)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Times)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateTime)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AIID, new{ Value = ViewBag.AIID } )
        @Html.HiddenFor(model => model.AIDetailID )
    <p>
        <input type="submit" value="Delete" onclick="return confirm('Are you sure you wish to delete this?');" /> |
        @Html.ActionLink("Back to List", "Index", new { aiID = ViewBag.AIID })
    </p>
}
