﻿@using Edge.Core.Application.Common
@model Edge.Web.DebugWebRole.Models.ViewModel.AIDetailMasterViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AIDetailMasterViewModel</legend>

        @Html.HiddenFor(model => model.AIID)

        @Html.HiddenFor(model => model.AIDetailID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Who)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Who, Model.EnumWho, "選択してください" )
            @Html.ValidationMessageFor(model => model.Who)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Parameter)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Parameter, Model.EnumParameter, "選択してください" )
            @Html.ValidationMessageFor(model => model.Parameter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Condition)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Condition, Model.EnumCondition, "選択してください" )
            @Html.ValidationMessageFor(model => model.Condition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Action)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Action, Model.EnumAction, "選択してください", new { onchange = "ChangeAction();"} )
            @Html.ValidationMessageFor(model => model.Action)
        </div>
        
        <div id="ActionDetailWrap">
            <div class="editor-label">
                @Html.LabelFor(model => model.ActionDetail)
            </div>
            <div class="editor-field">
                @{
                    var targetEnum = new SelectListItem[]{};
                    switch ((AppCode.AIAction)Model.Action)
                    {
                        case AppCode.AIAction.行動:
                            targetEnum = Model.EnumActionDetailAttack.ToArray();
                            break;
                        case AppCode.AIAction.スキル:
                            targetEnum = Model.EnumActionDetailSkiil.ToArray();
                            break;
                        case AppCode.AIAction.アニメーション:
                            targetEnum = Model.EnumActionDetailAnimation.ToArray();
                            break;
                    }
                }
                @Html.DropDownListFor(model => model.ActionDetail, @targetEnum, "選択してください" )
                @Html.ValidationMessageFor(model => model.ActionDetail)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Target)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Target, Model.EnumWho, "選択してください" )
            @Html.ValidationMessageFor(model => model.Target)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Times)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Times)
            @Html.ValidationMessageFor(model => model.Times)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Chance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Chance)
            @Html.ValidationMessageFor(model => model.Chance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Priority)
            @Html.ValidationMessageFor(model => model.Priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { aiID = ViewBag.AIID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function ChangeAction() {
        $('#ActionDetailWrap').hide();
        var actionEnum = $('#Action option:selected').val();
        var changeSelect = $('#ActionDetail');
        changeSelect.empty();
        switch (parseInt(actionEnum)) {
            case 1:
                var enumHash = @Html.Raw(Json.Encode(Model.EnumActionDetailAttack));
                jQuery.each(enumHash, function(i, val) {
                    var option = $('<option />');
                    option.val(i);
                    option.html(val.Text);
                    $('#ActionDetail').append(option);
                });                    
                break;
            case 2:
                var enumHash = @Html.Raw(Json.Encode(Model.EnumActionDetailSkiil));
                jQuery.each(enumHash, function(i, val) {
                    var option = $('<option />');
                    option.val(i);
                    option.html(val.Text);
                    $('#ActionDetail').append(option);
                });                    
                break;
            case 3:
                var enumHash = @Html.Raw(Json.Encode(Model.EnumActionDetailAnimation));
                jQuery.each(enumHash, function(i, val) {
                    var option = $('<option />');
                    option.val(i);
                    option.html(val.Text);
                    $('#ActionDetail').append(option);
                });                    
                break;
            default :
                break;
        }
        $('#ActionDetailWrap').show("slow");
    }
</script>

 