﻿@using Edge.Core.Application.Common
@model IEnumerable<Edge.Web.DebugWebRole.Models.ViewModel.AIDetailMasterViewModel>

<style type="text/css">
table, td, th {
border: 2px blue solid;
}    
</style>


<h2>Index</h2>

<table>
    <thead>
        <tr>
            <th>AI ID</th>
            <th>AI Category</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>

    <tr>
        <td>@ViewBag.AiMasterRow.AiId</td>
        @{ var aiCategory = (AppCode.AICategory)@ViewBag.AiMasterRow.AiCategory;}
        <td>@aiCategory</td>
        <td>@ViewBag.AiMasterRow.Name</td>
        <td>@ViewBag.AiMasterRow.Description</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Create New", "Create", new { aiID = ViewBag.AIID })
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AIID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AIDetailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Who)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parameter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Times)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th>
            @Html.DisplayName("Links")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AIID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AIDetailID)
        </td>
        <td>
            @{ var who = (AppCode.AITarget) item.Who;}
            @who
        </td>
        <td>
            @{ var parameter = (AppCode.AIParamater)item.Parameter;}
            @parameter
        </td>
        <td>
            @{ var condition = (AppCode.AICondition)item.Condition;}
            @condition
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @{ var action = (AppCode.AIAction)item.Action;}
            @action
        </td>
        <td>
            @{
                var actionDetail = string.Empty;
                switch ((AppCode.AIAction)item.Action)
                {
                    case AppCode.AIAction.行動:
                        actionDetail = ((AppCode.AIActionDetailAttack)item.ActionDetail).ToString();
                        break;
                    case AppCode.AIAction.スキル:
                        actionDetail = ((AppCode.AIActionDetailSkill)item.ActionDetail).ToString();
                        break;
                    case AppCode.AIAction.アニメーション:
                        actionDetail = ((AppCode.AIActionDetailAnimation)item.ActionDetail).ToString();
                        break;
                }
            }
            @actionDetail
        </td>
        <td>
            @{ var target = (AppCode.AITarget) item.Target;}
            @target
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Times)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { aiID = ViewBag.AIID, id = item.AIDetailID }) |
            @Html.ActionLink("Details", "Details", new { aiID = ViewBag.AIID, id = item.AIDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { aiID = ViewBag.AIID, id = item.AIDetailID })
        </td>
    </tr>
}

</table>


<br/>
@Html.ActionLink("To AIMaster", "Index", "AI", new { id = ViewBag.AIID }, null)
