﻿@model dynamic

@{
    ViewBag.Title = "お気に入りクラブ分布";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(ViewBag.data, null, "クラブID", 18);
}

@section scripts{

}

<h2>@ViewBag.Title</h2>

<div style="font-weight:bold">※毎日0時以降に更新されます</div>

@grid.GetHtml(
    columns: grid.Columns(
        grid.Column("クラブID", "クラブID", style:"product"),
        grid.Column("クラブ名", "クラブ名"),
        grid.Column("ユーザ数", "ユーザ数")
    )
)

<br/>