﻿@{
    ViewBag.Title = "Batch";
}
@model Inazuma.Web.AdminWebRole.Areas.Operation.Controllers.BatchController.PostExecuteValue
<div id="body">
    <h2>Batch</h2>
    
    <table id="tblSchedules">
        <thead>
            <tr><th>JobName</th><th>Args</th><th>Execute</th></tr>
        </thead>
        <tbody>
            @foreach (var jobInfo in ViewBag.JobInfoes)
            {
                using (Html.BeginForm("Execute", "Batch", FormMethod.Post))
                {
                    <tr>
                        <td>@Html.Raw(jobInfo.JobName)</td>
                        <td>
                            @InputExtensions.Hidden(Html, "JobTypeName", jobInfo.JobTypeName)
                            @Html.TextBox("Args")
                        </td>
                        <td>
                            <input type="submit" name="execute" id="btnExecuteBatch_@jobInfo.JobName" value="ExecuteBatch" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@section styles
{
    <style type="text/css">
        th
        {
            text-align:center;
        }
        td
        {
            text-align: left;
        }
    </style>
}
