﻿@model dynamic

@{
    ViewBag.Title = "Debug Top Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    <!--
    function ShowOrHidden(id) {
        var obj = $("#" + id);
        obj.toggle();
    }
    //-->
</script>

<span style="color: red;">先頭に*が付いている場合はUserIdの設定が必要です</span>
<br />

<a href="#" class="category_menu" onclick="ShowOrHidden('user');return false;">ユーザー系</a>
<div id="user" style="display: none;">
    <ul class="menu_list">
        <li><a href="UserId">UserId変更</a></li>
        <li><a href="User">*ユーザー作成</a></li>
        <li><a href="UserStatus/Show">*ユーザーステータス</a></li>
        <li><a href="UserStatusDp/Show">*Dp</a></li>
        <li><a href="UserStatus/EditIngot">*インゴット</a></li>
    </ul>
</div>
<br/>

<a href="#" class="category_menu" onclick="ShowOrHidden('chara');return false;">キャラ系</a>
<div id="chara" style="display: none;">
    <ul class="menu_list">
        <li><a href="Test">Test</a></li>
    </ul>
</div>
<br/>

<a href="#" class="category_menu" onclick="ShowOrHidden('ai');return false;">AI管理</a>
<div id="ai" style="display: none;">
    <ul class="menu_list">
        <li><a href="AI">AI一覧</a></li>
        <li><a href="AI/AppCode">AICode一覧</a></li>
    </ul>
</div>
<br/>

<a href="#" class="category_menu" onclick="ShowOrHidden('sphere');return false;">スフィア</a>
<div id="sphere" style="display: none;">
    <ul class="menu_list">
        <li><a href="Sphere/SphereGridMaker">スフィアマスター作成</a></li>
    </ul>
</div>
<br/>

