﻿@{
    Layout = "";
}
<style>
span.DEBUG {}
span.INFO  { color:#0000FF; }
span.WARN  { color:#FF6600; }
span.ERROR { color:#FF0000; }
span.FATAL { color:#FF0000; }
</style>

<div style="font-family: 'Arial', 'Tahoma', sans-serif">@Html.Raw(ViewBag.LogDetail);</div>
