﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>メンテナンス中</title>
        <meta name="viewport" content="width=320px;">
    </head>
    <body>
        <div>
            <br/>
@foreach (var message in ViewBag.Messages)
{
    <p>
        @if (message.VisibleTime == 1)
        {
            <b>@message.DateTime</b><br/>
        }
        @(new HtmlString(message.Message))
    </p> 
}
            <br/>
        </div>
    </body>
</html>