﻿@model dynamic

@{
    ViewBag.Title = "インストール状況(日別)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(ViewBag.data, null, "時間帯",31);
}

@section styles
{
    <style type="text/css">
        .icon { width:18px;height:18px;margin-right:5px;float:left;background-color: blue;color: white;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
    </style> 
}

@section scripts{
    <script src="/Scripts/jquery.flot.min.js"></script>
    <script src="/Scripts/jquery.flot.time.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var totalPlotdata = [@Html.Raw(ViewBag.TotalData)];
            var iosPlotdata = [@Html.Raw(ViewBag.IosData)];
            var ardPlotdata = [@Html.Raw(ViewBag.ArdData)];
            
            var plot = $.plot("#placeholder", [{ data: totalPlotdata, label: "TOTAL" }, { data: iosPlotdata, label: "iOS" }, { data: ardPlotdata, label: "Android" }], {
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: false
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
                yaxis: {},
                xaxis: { mode: "time", timeFormat: "%H:%M", timezone: "browser", min: new Date("@ViewBag.FromDate"), max: new Date("@ViewBag.ToDate") },
            });

            function showTooltip(x, y, contents) {
                $("<div id='tooltip'>" + contents + "</div>").css({
                    position: "absolute",
                    display: "none",
                    top: y + 5,
                    left: x + 5,
                    border: "1px solid #fdd",
                    padding: "2px",
                    "background-color": "#fee",
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#placeholder").bind("plothover", function(event, pos, item) {

                var str = "(" + new Date(pos.x).toTimeString() + ", " + pos.y.toFixed(0) + ")";
                $("#hoverdata").text(str);


                if (item) {
                    if (previousPoint != item.dataIndex) {

                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = new Date(item.datapoint[0]).toTimeString(),
                            y = item.datapoint[1];

                        showTooltip(item.pageX+5, item.pageY-20, y + " , " + x);
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });

            var format = { dateFormat: 'yy-mm-dd' };
            $('#datepickerFrom').datepicker(format);
            $('#datepickerTo').datepicker(format);

            $('#showButton').click((function () {
                var from = $('#datepickerFrom').val();
                var to = $('#datepickerTo').val();
                window.location = "/analytics/install?from=" + from + "&to=" + to;
            }));
            $(".legend").click(function () {
                $(this).fadeOut(500);
                setTimeout(function () {
                    $(".legend").fadeIn(1000);
                }, 5000);
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>

開始日<input type="text" id="datepickerFrom" value="@ViewBag.FromDate"/><br/>
終了日<input type="text" id="datepickerTo" value="@ViewBag.ToDate"/> <input type="button" value="表示" id="showButton"/>

<div class="demo-container">
	<div id="placeholder" class="demo-placeholder" style="height: 300px;width: 800px;"></div>
    <div id="hoverdata"></div>
</div>


<h5>※5分間キャッシュしてます</h5>
総インストール数 <div> @(ViewBag.IosSummary+@ViewBag.ArdSummary) 人 (iOS:@ViewBag.IosSummary / Android:@ViewBag.ArdSummary)</div>
@grid.GetHtml(
    columns: grid.Columns(
        grid.Column("日付", "日付", style:"product"),
        grid.Column("IosInstallNum", "iOS"),
        grid.Column("ArdInstallNum", "Android")
    )
)

<br/>