﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers
@{
    ViewBag.Title = "メッセージ配信";
    var isCancel = !string.IsNullOrEmpty(ViewBag.IsCancel) ? true : false;
    var isCheck = string.IsNullOrEmpty(ViewBag.ErrMessage) && !isCancel ? true : false;
    var statusCreate = isCheck && !string.IsNullOrEmpty(ViewBag.QueueFromDate) && !string.IsNullOrEmpty(ViewBag.Message);
    var height = statusCreate ? "20px" : "45px";
    List<GridReservationData> reservationData = ViewBag.ReservationData;
    List<GridRequestData> requestData = ViewBag.RequestData;
    var reservationGrid = new WebGrid(ViewBag.ReservationData, null, "NoticeId", 10);
    var requestGrid = new WebGrid(ViewBag.RequestData, null, "NoticeId", 10);
}

@section styles
{
    <style type="text/css">
        th { text-align: center; background-color: aquamarine }
        .medium { font-size: small }
        .delete { text-align: left }
        .message {width: 500px; text-align: left }
        .date { width: 150px }
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('#insertButton').click((function () {
                var id = $('#newsNotificationId').val();
                var queuefromdate = $('#queueFromDate').val();
                var message = $('#message').val();
                var targetdevice = 0;
                $('input:checkbox:checked').each(function () { targetdevice += parseInt($(this).val()); });
                window.location = "/operation/message/createmessage?id=" + id + "&queuefromdate=" + queuefromdate + "&message=" + message + "&targetdevice=" + targetdevice;
            }));

            $('#checkButton').click((function () {
                var id = $('#newsNotificationId').val();
                var queuefromdate = $('#queueFromDate').val();
                var message = $('#message').val();
                var targetdevice = 0;
                $('input:checkbox:checked').each(function () { targetdevice += parseInt($(this).val()); });
                window.location = "/operation/message/checkmessage?id=" + id + "&queuefromdate=" + queuefromdate + "&message=" + message + "&targetdevice=" + targetdevice;
            }));

            $('#insertCanselButton').click((function () {
                var id = $('#newsNotificationId').val();
                var queuefromdate = $('#queueFromDate').val();
                var message = $('#message').val();
                var targetdevice = 0;
                $('input:checkbox:checked').each(function () { targetdevice += parseInt($(this).val()); });
                window.location = "/operation/message/editmessage?id=" + id + "&queuefromdate=" + queuefromdate + "&message=" + message + "&cancel=1" + "&targetdevice=" + targetdevice;
            }));

            $('#editCanselButton').click((function () {
                window.location = "/operation/message/";
            }));
        });
    </script>
}

<h2>@ViewBag.Title</h2>

@if ( !isCheck && !string.IsNullOrEmpty(ViewBag.ErrMessage) )
{
    <span style="color: red"><label>エラー&nbsp;:&nbsp;@ViewBag.ErrMessage</label></span>
}

<input type="hidden" id="newsNotificationId" value="@ViewBag.NewsNotificationId"/>
    <table id="tblSchedules">
        <tbody>
            <tr>
                <td style="height: @height; width: 100px; text-align: left; background-color: aquamarine">&nbsp;通知ID</td>
                <td style="width: 500px; text-align: left; background-color: lightgrey">@ViewBag.NewsNotificationId</td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;通知日時</td>
                @if ( isCheck && !string.IsNullOrEmpty(ViewBag.QueueFromDate) )
                {
                    <input type="hidden" id="queueFromDate" value="@ViewBag.QueueFromDate"/>
                    <td style="width: 500px; text-align: left; background-color: lightgrey">@ViewBag.QueueFromDate</td>
                }
                else
                {
                    <td style="width: 500px; text-align: left; background-color: lightyellow">
                        <input type="text" id="queueFromDate" maxlength="19" style="width: 500px" value="@ViewBag.QueueFromDate"/><br />
                        ex.)@ViewBag.Now
                    </td>
                }
            </tr>
            <tr>
                <td style="width: 100px; text-align: left; background-color: aquamarine">&nbsp;メッセージ</td>
                @if ( isCheck && !string.IsNullOrEmpty(ViewBag.Message) )
                {
                    <input type="hidden" id="message" value="@ViewBag.Message"/>
                    <td style="width: 500px; text-align: left; background-color: lightgrey">@ViewBag.Message</td>
                }
                else
                {
                    <td style="width: 500px; text-align: left; background-color: lightyellow">
                        <input type="text" id="message" maxlength="50" style="width: 500px"/><br />
                        ex.)メッセージは50文字以内でお願いします。
                    </td>
                }
            </tr>
            <tr>
                <td style="background-color: aquamarine">iOS</td>
                @if (ViewBag.TargetDevice.IsIos)
                {
                    <td>
                        <input type="checkbox" name="targetDeviceIos" value="@ViewBag.DeviceType.Ios" style="width: 20px; height: 20px" checked="" /><br />
                    </td>
                }
                else
                {
                    <td>
                        <input type="checkbox" name="targetDeviceIos" value="@ViewBag.DeviceType.Ios" style="width: 20px; height: 20px" /><br />
                    </td>
                }
            </tr>
            <tr>
                <td style="background-color: aquamarine">Android</td>
                @if (ViewBag.TargetDevice.IsAndroid)
                {
                    <td>
                        <input type="checkbox" name="targetDeviceAndroid" value="@ViewBag.DeviceType.Android" style="width: 20px; height: 20px" checked="" /><br />
                    </td>
                }
                else
                {
                    <td>
                        <input type="checkbox" name="targetDeviceAndroid" value="@ViewBag.DeviceType.Android" style="width: 20px; height: 20px" /><br />
                    </td>
                }
            </tr>
            <tr>
                <td colspan="2" style="text-align: left">
                    &nbsp;
                    @if ( statusCreate )
                    {
                        <input type="button" value="挿入" id="insertButton"/> <input type="button" value="キャンセル" id="insertCanselButton"/>
                    }
                    else
                    {
                        <input type="button" value="確認" id="checkButton"/> <input type="button" value="キャンセル" id="editCanselButton"/>
                    }
                </td>
            </tr>
        </tbody>
    </table>


    <br />

    <div class="medium">配信予約</div>

    @if ( reservationData != null && reservationData.Count() > 0 )
    {
        @reservationGrid.GetHtml(
            columns: reservationGrid.Columns(
                reservationGrid.Column("Delete",""),
                reservationGrid.Column("NoticeId", "通知ID", style: "product"),
                reservationGrid.Column("Message", "配信メッセージ", style: "message"),
                reservationGrid.Column("QueueFromDate", "通知日時", style: "date")
            )
        )
    }
    <br />

    <div class="medium">配信依頼履歴</div>

    @if ( requestData != null && requestData.Count() > 0 )
    {
        @requestGrid.GetHtml(
            columns: requestGrid.Columns(
                requestGrid.Column("Status", style: "状態"),
                requestGrid.Column("NoticeId", "通知ID", style: "product"),
                requestGrid.Column("Message", "配信メッセージ", style: "message"),
                requestGrid.Column("QueueFromDate", "通知日時", style: "date"),
                requestGrid.Column("QueueRequestDate", "処理依頼日時", style: "date")
            )
        )
    }
