﻿@using Inazuma.Web.AdminWebRole.Areas.Operation.Controllers
@{
    ViewBag.Title = "メッセージ配信";
    List<GridReservationData> reservationData = ViewBag.ReservationData;
    List<GridRequestData> requestData = ViewBag.RequestData;
    var reservationGrid = new WebGrid(ViewBag.ReservationData, null, "NoticeId", 10);
    var requestGrid = new WebGrid(ViewBag.RequestData, null, "NoticeId", 10);
}

@section styles
{
    <style type="text/css">
        th { text-align:center }
        .medium { font-size: small }
        .delete { width: 70px; text-align: center }
        .message { width: 500px; text-align: left }
        .date { width: 150px }
        .icon { width:18px;height:18px;margin-right:5px;float:left;background-color: blue;color: white;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
    </style> 
}

@section scripts{
    <script type ="text/javascript">
        $(function() {
            $('.deleteButton').click((function () {
                window.location = "/operation/message/deletemessage?id=" + $(this).attr("id");
            }));
        });
    </script>
}

<h2>@ViewBag.Title</h2>
    <br />

    @using ( Html.BeginForm("EditMessage", "Message", FormMethod.Get) )
    {
        <input type="submit" value="新規作成" /><br />
        <span style="color: red">※メッセージ配信予約完了以降は開発側の作業が必要ですので一声お掛けください。</span>
    }
    <br />

    <div class="medium">配信予約</div>

    @if ( reservationData != null && reservationData.Count() > 0 )
    {
        @reservationGrid.GetHtml(
            columns: reservationGrid.Columns(
                reservationGrid.Column(style:"delete", format: @<input type="button" value="削除" id="@item.NoticeId" class="deleteButton" style="width: 50px"/>),
                reservationGrid.Column("NoticeId", "通知ID", style:"product"),
                reservationGrid.Column("Message", "配信メッセージ", style:"message"),
                reservationGrid.Column("QueueFromDate", "通知日時", style:"date"),
                reservationGrid.Column("TargetDeviceHtml", "デバイス", format:@<div style="text-align: center">@Html.Raw(item.TargetDeviceHtml)</div>)
            )
        )
    }
    <br />

    <div class="medium">配信依頼履歴</div>

    @if ( requestData != null && requestData.Count() > 0 )
    {
        @requestGrid.GetHtml(
            columns: requestGrid.Columns(
                requestGrid.Column("Status",style:"状態"),
                requestGrid.Column("NoticeId", "通知ID", style:"product"),
                requestGrid.Column("Message", "配信メッセージ", style:"message"),
                requestGrid.Column("QueueFromDate", "通知日時", style:"date"),
                requestGrid.Column("QueueRequestDate", "処理依頼日時", style:"date"),
                requestGrid.Column("TargetDeviceHtml", "デバイス", format:@<div style="text-align: center">@Html.Raw(item.TargetDeviceHtml)</div>)
            )
        )
    }
