﻿@{
    ViewBag.Title = "決済予測編集";
    var paymentForecast = "";
}

@section styles
{
    <style type="text/css">
        #PaymentForecast
        {
            height: 700px;
            width: 100px;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            @foreach (var p in ViewBag.PaymentForecastViewModel)
            {
                paymentForecast += string.Format("{0}{1}", p.PaymentForecast, "\\n");
            }
            $('#PaymentForecast').val("@paymentForecast");
        })
    </script>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Regist", "PaymentForecast", FormMethod.Post))
{
    WriteLiteral("対象月(yyyy/MM)");
    <input name="TargetMonth" type="text" value="@ViewBag.TargetMonth" /><br/>
    WriteLiteral("決済予測");
    <br/>
    @Html.TextArea("PaymentForecast", "", 32, 10, "");
    <br/>
    <input type="submit" value="登録"/>
}
