﻿@{
    ViewBag.Title = "決済予測";
}

<h2>決済予測</h2>

<a href="./PaymentForecast/Edit">新規作成</a><br/>

<table>
    <thead>
        <tr>
            <th>対象月</th>
            <th>コイン決済予測</th>
            <th>編集</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in ViewBag.PaymentForecastViewModel)
        {
            <tr>
                <td>@p.TargetMonth</td>
                <td>@p.PaymentForecast</td>
                <td><a href="./PaymentForecast/Edit?targetMonth=@p.TargetMonth">編集</a></td>
            </tr>
        }
    </tbody>
</table>

