﻿@{
    ViewBag.Title = "決済予測編集登録";
}

@section styles
{
    <style type="text/css">
        #ErrorLabel {
            color: red;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorLabel))
{
    <div id="ErrorLabel">@ViewBag.ErrorLabel</div>
}
else
{
    <table>
        <thead>
            <tr>
                <th>対象日</th>
                <th>決済予測</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var p in ViewBag.PaymentForecastViewModelList)
        {
            <tr>
                <td>@p.TargetDate.ToString("yyyy/MM/dd")</td>
                <td>@p.PaymentForecast</td>
            </tr>
        }
        </tbody>
    </table>
}

<a href="./">決済予測へ</a><br/>

