﻿@model dynamic

@{
    ViewBag.Title = "都道府県分布";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(ViewBag.data, null, "都道府県コード", 47);
}

@section scripts{

}

<h2>@ViewBag.Title</h2>

<div style="font-weight:bold">※毎日0時以降に更新されます</div>

@grid.GetHtml(
    columns: grid.Columns(
        grid.Column("都道府県コード", "都道府県コード", style:"product"),
        grid.Column("都道府県名", "都道府県名"),
        grid.Column("ユーザ数", "ユーザ数")
    )
)

<br/>